.cloudincreasesalesmainboxes{
    height: fit-content;
padding-top: 5%;
padding-bottom: 5%;
 background-color: white;
}

.cloudincreasesalestextboxupper{
    height: fit-content;
 
    width: 90%;
    margin: auto;
    text-align: center;
}
.cloudincreasesalestextboxupper >h1{
    font-size: 40px;
}
.cloudincreasesalestextboxupper >p{
   width: 67%;
   margin: auto;
   text-align: justify;
   padding-top: 1%;
   font-size: 17px;
}

.specialcolor{
    color: #ef4c23;
}

.cloudincreasesalesboxflexingdiv{
    display: flex;
    margin-top: 5%;
}

.cloudincreasesalesboxflexingdivleft{
    width: 50%;
    margin-left: 5%;
 padding-top: 7%;
    height: fit-content;
   
}

.cloudincreasesalesboxflexingdivright{
    height: 400px;
    width: 45%;
 

}

.cloudincreasesalesboxflexingdivright >img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}