.cloudtelephonybannermainbox{
    height: 100vh;
    border: 1px solid white;
    background: url("https://d3op2l77j7wnti.cloudfront.net/Images/cloudtelephony/Component 3.png");
    background-repeat: no-repeat;
background-position: 10% 80%;   
    background-color: #f5f5f5;
    
}

.cloudtelephonybannersometextboxes{
    height: fit-content;
    width: 40%;
    margin-left: 50%;
    margin-top: 20%;
 
}


.cloudtelephonybannersometextboxes>p{
    font-size: 18px;
}

.cloudtelebannerbutton{
   
    background-color: #ef4c23;
    color: white;
    width: 220px;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    border-radius: 10px;
border: none;

}

.cloudtelebannerbutton:hover {

     background-color: white;
    color: #ef4c23;
    border: 1px solid #ef4c23;

}
@media (max-width:1024px){
    .cloudtelephonybannermainbox{
      
        background-position: 50% 30%;
        background-size: 80% 40%;
        height: auto;
        padding-bottom: 30px;
        
    }
    
    .cloudtelephonybannersometextboxes{
        height: fit-content;
        width: 90%;
    /* border: 2px solid ; */
        margin: auto;
     
        text-align: center;
        margin-top: 100%; 
     
    }
    
    .cloudtelephonybannersometextboxes >h1{
        font-weight: 600;
        font-size: 30px;
    }
   
    
    
    
}