.cloudanalyzemainboxesdiv{
  height: fit-content;
    display: flex;

    width: 100%;
   
    background-color: white;
}

.cloudanalyzeleftbox{

    width: 50%;
    height: 400px;
    margin-left: 5%;
 
 
}

.cloudanalyzeleftbox >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.cloudanalyzerightbox{
    height: fit-content;
    width: 45%;
   margin-top: 5%;
margin-right: 5%;
 margin-left: 5%;
}

.cloudanalyzerightbox >p{
    text-align: justify;
}