.cloudtelephonylowerbannermainboxes{
    height: 60vh;


    background-color: #ffefeb;
    position: relative;
}

.cloudtelephonylowerbannersometxt{
    height: 80%;
    width: 90%;
    margin-left: 6%;
  
    margin-top: 4%;
    position: absolute;

}

.cloudtelephonylowerbannerflexboxinner{
    display: flex;
}

.cloudlowerbannerleftbox{
    width: 50%;
  
}
.cloudlowerbannerleftbox >ul >li{
    margin-top: 2%;
}

.cloudlowerbannerrightbox{
    width: 50%;
  
    height: 250px;
}

.cloudlowerbannerrightbox>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.lowerbannercloudtelephonybutton{
    padding: 10px 50px;
    border-radius: 100px;
    width: fit-content;
    background-color: #ef4c23;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 5%;
 margin-left: 2%;
  
}

.lowerbannercloudtelephonybutton:hover {

    background-color:white;
    color:  #ef4c23;

}