.cloudincreasesalesmainboxes{
    height: fit-content;
padding-top: 5%;
padding-bottom: 5%;
 background-color: white;
 /* border: 2px solid; */
}

.cloudincreasesalestextboxupper{
    height: fit-content;
 
    width: 90%;
    margin: auto;
    text-align: center;
}
.cloudincreasesalestextboxupper >h1{
    font-size: 40px;
}
.cloudincreasesalestextboxupper >p{
   width: 80%;
   margin: auto;
   text-align: justify;
   padding-top: 1%;
   font-size: 17px;
}

.specialcolor{
    color: #ef4c23;
}

.cloudincreasesalesboxflexingdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}
.cloudincreasesalesboxflexingdiv:nth-child(even){
    flex-direction: row-reverse;
}
.cloudincreasesalesboxflexingdivleft{
    width: 40%;
    margin-left: 3%;
 padding-top: 7%;
    height: fit-content;
   
}

.cloudincreasesalesboxflexingdivright{
    height: 400px;
    width: 40%;
 

}


@media (max-width:1024px){
    .cloudincreasesalesmainboxes{
        
    padding-bottom: 0%;
    
    }
    
    .cloudincreasesalestextboxupper{
        height: fit-content;
     
        width: 95%;
        padding: 0%;
        margin: auto;
        text-align: center;
    }
    .cloudincreasesalestextboxupper >h1{
        font-size: 30px;
    }
    .cloudincreasesalestextboxupper >p{
       width: 95%;
      
       padding-top: 0%;
      
    }
    
   
    
    .cloudincreasesalesboxflexingdiv{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0%;
    }
    .cloudincreasesalesboxflexingdiv:nth-child(even){
        flex-direction: column-reverse;
    }
    .cloudincreasesalesboxflexingdivleft{
        width: 90%;
       margin: auto;
     padding-top: 0%;
     text-align: center;
       
    }
    .cloudincreasesalesboxflexingdivleft p{
        text-align: justify;
    }
    
    .cloudincreasesalesboxflexingdivright{
       height: auto;
        width: 90%;
        margin:4% auto;
     
    
    }
    
    
}
