.hirringProcessMain{
    /* border: 2px solid red; */
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}
.hirringHeading{
    /* border: 2px solid red; */
    text-align: center;
    width: 100%;
    font-weight: 700;
    /* color: #ef4c24; */
    font-size: 25px;
}
.hirringHeading>h2{
    font-weight: 600;
}
.hirringProcessImage{
    width: 80%;
    height: 250px;
    /* border: 2px solid red; */
    /* margin: auto; */
    margin-left: 9%;
    margin-top: 2%;
}
.hirringProcessButtons{
    /* border: 2px solid red; */
    width: 50%;
    height: 100px;
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hirringProcessButtons1{
    /* border: 2px solid red; */
    width: 40%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #ef4c24;
}
.hirringbuttonImage1{
    /* border: 2px solid red; */
    width: 22%;
    height: 75%;
    margin: auto;
}
.hirringButtonText{
    /* border: 2px solid red; */
    width: 70%;
    color: white;
    padding: 10px;
}
.hirringProcessButtons2{
    border: 2px solid #ef4c24;
    width: 40%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    /* background-color: #ef4c24; */
}
.hirringbuttonImage2{
    /* border: 2px solid red; */
    width: 22%;
    height: 75%;
    /* margin: auto; */
    margin: 4%;
}
.hirringButtonText2{
    /* border: 2px solid red; */
    width: 70%;
    color: #ef4c24;
    padding: 10px;
}

.hirringDropdown_container {
    width: 95%;
    margin: auto;
    border-radius: 8px;
    margin-top: 5%;
    height: fit-content;
    border: 1px solid lightgray;
  }
  
  .hirringmaincontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    gap: 5%;
    border: 2px solid;
  }
  
  .hirringdropdowncontext {
    /* border-radius: 9px; */
    color: #393939;
    border: 1px solid transparent;
    background-color: #fff9f7;
    /* color: white; */
    /* height: 70px; */
    border: 2px solid blue;
  }
  
  .hirringdropdowncontext > h2 {
    font-size: 0px;
    /* height: 70px; */
    border-bottom: 2px solid lightgray;
    /* border: 2px solid red; */
    margin: 0%;
    /* margin-top: 2%; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  }
  
  .hirringdropdownmaincontainer1 {
    margin-top: 2%;
    width: 60%;
    color: #393939;
    margin-left: 2%;
    border: none;
    border: 2px solid yellow;
  }
  
  .hirringdropdownmaincontainer2 {
    margin-top: 2%;
    color: whitesmoke;
    width: 50%;
    border: 2px solid red;
  }
  
  .hirringHeading {
    font-size: 27px;
    font-weight: 700;
    padding-left: 20px;
    text-align: center;
  }
  
  .hirringdropdownDivContext>h4 {
    background-color: whitesmoke;
    color: #393939;
    font-size:20px;
  }
    
 
  