.careerOpeningContainer {
  background: white;
  padding-top: 2%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.careerOpengingSearchbar {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  width: 95%;
  margin: 1% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5%;
}

.careerOpengingSearchbar > input {
  font-size: 18px;
  font-weight: 600;
  color: #393939;
  padding: 5px;
  width: 95%;

  border: none;
  outline: none;
}

.careerOpengingSearchbar > input::placeholder {
  color: #393939;
}

.careerOpengingSearchbar > button {
  color: #393939;
  background: transparent;
  width: 5%;

  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.careerOpengingSearchbar > button > svg {
  width: 20px;
  height: 20px;
}

.careerOpeningFilterButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.careerOpeningFilterButton > h2 {
  font-size: 20px;
  width: 80%;
}

.careerOpeningFilterButton > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 10%;
  padding: 5px 10px;

  background: none;
  border: 2px solid #d9d9d9;
}

.careerOpeningFilterButton > button > p {
  font-size: 18px;
  margin: 0;
}

.careerOpeningFilterButton > button > svg {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  transition: transform 200ms linear;
}

.careerOpeningFilterButton > button:hover svg {
  transform: rotate(0deg);
}

.careerOpengingMain {
  height: 105vh;
  padding: 0 1% 0 1%;
  overflow-y: scroll;
}

.careerOpengingMain::-webkit-scrollbar {
  width: 15px;
}

.careerOpengingMain::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 30px;
}

.careerOpengingMain::-webkit-scrollbar-thumb:hover {
  background: #393939;
}

.careerOpengingMain::-webkit-scrollbar-track {
  background-color: transparent;
}

.careerOpengingMain > div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid #d9d9d9;
}

.careerOpengingMain > div > h2 {
  font-size: 25px;
  width: 90%;
}

.careerOpengingMain > div > svg {
  width: 25px;
  height: 25px;
  visibility: hidden;
}

.careerOpengingMain > div:hover {
  background: #f5f5f5;
}

.careerOpengingMain > div:hover svg {
  visibility: visible;
}
