.ServiceToolsmaindiv{
    /* border: 2px solid green; */
    text-align: center;
    margin-top: 4%;
}
.ServiceToolsmaindivinner{
    /* border: 2px solid red; */
    display: flex;
    background: linear-gradient(to left,white, rgb(249, 203, 210), white);
    flex-direction: column;
    margin-top: 2%;

}
.ServiceToolsbox{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}


.ServiceToolsmaindivinner1{
    /* border: 2px solid red; */
    display: flex;
    /* background: linear-gradient(to left,white, rgb(249, 203, 210), white); */
    flex-direction: column;
    margin-top: 2%;

}
.ServiceToolsbox1{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.ServiceToolsimagebox{
    /* border: 2px solid aqua; */
    width: 40%;
    
    padding: 15px 15px 15px 15px ;
}
.ServiceToolsimageboxinner{
    height: 320px;
    /* border: 2px solid red; */

}
.ServiceToolsboxcontent{
    /* border: 2px solid blue; */
    width: 45%;
    justify-content: center;
    align-items: center;
}
.ServiceToolsboxcontentinnerdiv{
    /* border: 2px solid chartreuse; */
    margin: auto;
}

@media  (max-width:1024px){
    .ServiceToolsmaindiv{
        /* border: 2px solid green; */
        text-align: center;
        margin-top: 4%;
    }
    .ServiceToolsmaindivinner{
        /* border: 2px solid red; */
        display: flex;
        background: linear-gradient(to left,white, rgb(249, 203, 210), white);
        flex-direction: column;
        margin-top: 4%;
    
    }
    .ServiceToolsbox{
        /* border: 2px solid yellow; */
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }
    
    
    .ServiceToolsmaindivinner1{
        /* border: 2px solid red; */
        display: flex;
        /* background: linear-gradient(to left,white, rgb(249, 203, 210), white); */
        flex-direction: column;
        margin-top: 4%;
    
    }
    .ServiceToolsbox1{
        /* border: 2px solid yellow; */
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }
    .ServiceToolsimagebox{
        /* border: 2px solid aqua; */
        width:fit-content;
        height: fit-content;
        padding: 1px ;
    }
    .ServiceToolsimageboxinner{
        height: 320px;
        /* border: 2px solid red; */
    
    }
    .ServiceToolsboxcontent{
        /* border: 2px solid blue; */
        width: 80%;
        justify-content: center;
        align-items: center;
        margin-top: 4%;
    }
    .ServiceToolsboxcontentinnerdiv{
        /* border: 2px solid chartreuse; */
        margin: auto;
    }
}