.ServiceToolsmaindiv{
    /* border: 2px solid green; */
    text-align: center;
    margin-top: 4%;
}
.ServiceToolsmaindivinner{
    /* border: 2px solid red; */
    display: flex;
    background: linear-gradient(to left,white, rgb(249, 203, 210), white);
    flex-direction: column;
    margin: 2% auto;
    padding: 20px 0;

}
.ServiceToolsbox{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}


.ServiceToolsbox:nth-child(even){
    /* border: 2px solid red; */
    display: flex;
    /* background: linear-gradient(to left,white, rgb(249, 203, 210), white); */
    flex-direction: row-reverse;
    margin-top: 2%;

}

.ServiceToolsimagebox{
    /* border: 2px solid aqua; */
    width: 40%;
    height: auto;
    
    padding: 15px 15px 15px 15px ;
}

.ServiceToolsboxcontent{
    /* border: 2px solid blue; */
    width: 45%;
    justify-content: center;
    align-items: center;
}
.ServiceToolsboxcontentinnerdiv{
    /* border: 2px solid chartreuse; */
    margin: auto;
}

@media  (max-width:1024px){
    
    .ServiceToolsmaindivinner{
        /* border: 2px solid red; */
        display: flex;
       
        margin-top: 4%;
    
    }
    .ServiceToolsbox{
        /* border: 2px solid yellow; */
        display: flex;
        flex-direction: column;
        width: 95%;
       
    }
    
    
    .ServiceToolsbox:nth-child(even){
        /* border: 2px solid red; */
        display: flex;
       flex-direction: column;
       
    
    }
    
    .ServiceToolsimagebox{
        /* border: 2px solid aqua; */
        width:90%;
        height: fit-content;
        padding: 1px ;
    }
   
    .ServiceToolsboxcontent{
        /* border: 2px solid blue; */
        width: 90%;
      
        margin-top: 4%;
    }
   
}