.CollaborationMidBannerContainer {
  text-align: center;
  padding: 3% 0;
  color: white;
  background: linear-gradient(to Right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Images/collaborationPhotos/mid-banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.CollaborationMidBannerContainer h1 {
  font-size: 35px;
  margin-top: 0;
}

.CollaborationMidBannerContainer p {
  font-size: 18px;
}

.CollaborationMidBannerContainer button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 50px;
  margin: 1%;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #ef4c23;
  outline: none;
}

.CollaborationMidBannerContainer button:nth-child(1) {
  color: white;
  background: #ef4c23;
}

.CollaborationMidBannerContainer button:nth-child(1):hover {
  color: #ef4c23;
  background: transparent;
}

.CollaborationMidBannerContainer button:nth-child(2) {
  background: transparent;
  color: #ef4c23;
}

.CollaborationMidBannerContainer button:nth-child(2):hover {
  color: white;
  background: #ef4c23;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .CollaborationMidBannerContainer h1 {
    font-size: 20px;
  }

  .CollaborationMidBannerContainer p {
    font-size: 14px;
    line-height: 20px;
  }

  .CollaborationMidBannerContainer button {
    font-size: 12px;
    padding: 8px 20px;
  }
}
