.BoostProductivitymaindiv{
    /* border: 2px solid ; */
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 2%;

}
.BoostProductivitymaindiv hr{
    width: 50%;
    height: 10px;
    margin: auto;
    color: red;
}
@media (max-width:1024px){

    .BoostProductivitymaindiv p{
        text-align: justify;
    }
    .BoostProductivitymaindiv hr{
        width: 100%;
    }
}