.sMBMoreParent{
    width: 100%;
    text-align: center;
    margin-top: 2%;

}
.sMBMoreParent>h2{
    font-weight: 700;
    font-size: 38px;
}
.sMBMoreParentChild{
    display: flex;
    flex-direction: row;
  
    margin-top: 2%;
    /* border: 1px solid black; */
   
   
    
}
.sMBMoreImage{
    width: 45%;
    /* border: 1px solid black; */
    height: 650px;
   
}
.sMBMoreParentChildchild{
    /* border: 1px solid red; */
    padding-top: 20px;
    width: 40%;
    /* height: 70vh; */
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    /* justify-content: space-evenly; */
}
.BorderBox{
    height: 240px;
    width: 47%;
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: #F4FFF9;
    
}
.sMBMoreinnerImage{
    margin: 1% auto;
    width: 30%;
}

@media(max-width:480px){
    .sMBMoreParentChild{
        flex-direction: column;
        
       
    }
   .sMBMoreParentChildchild{
    width: 80%;
    
    /* border: 1px solid red; */
   }
   .BorderBox{
    width: 80%;
    margin: auto;
   }
   .sMBMoreImage{
    width: 100%;
    height: auto;
    margin: 4% auto 0  auto;
   }
}