.allindustryfootermainbox{
    height: fit-content;
    text-align: center;
    margin-bottom: 5%;
}

.lowerbannerfooterbutton {
    font-size: 18px;
    font-weight: 600;
    background: #ef4c23;
    color: white;
    cursor: pointer;
    margin-top: 2%;
    padding: 10px 50px;
    border-radius: 100px;
    border: 2px solid #ef4c23;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .lowerbannerfooterbutton:hover {
    color: #ef4c23;
    background: white;
  }