.allindustriesbannermainboxes{
    height: 100vh;
    border: 1px solid white;
    background: url("/Images/Allindustries/banner/Group 1000005976.webp");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.allindustrybannerfortextbox{
    width: 50%;
    height: fit-content;
    
    margin-top: 12%;
    margin-left: 5%;
}

.allindustrybannerfortextbox h1{
    font-size: 50px;
    font-weight: 700;
}

.allindustrybannerfortextbox p{
    font-size: 20px;
    text-align: justify;
}


.allindustriesbannerbutton {
    font-size: 18px;
    font-weight: 600;
    background: #ef4c23;
    color: white;
    cursor: pointer;
    margin-top: 2%;
    padding: 10px 50px;
    border-radius: 100px;
    border: 2px solid #ef4c23;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .allindustriesbannerbutton:hover {
    color: #ef4c23;
    background: white;
  }