.shopifybannermainboxes{
    height: 100vh;
    border: 1px solid white;
    background: url("/Images/Shopify/Banner/Frame 40253.webp");
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position-x: right;
    color: black;
}

.shopifybannertxtboxes{
    height: fit-content;
    width: 45%;
    margin-top: 17%;
    margin-left: 3%;
}

.shopifybannertxtboxes>h1{
    font-weight: 700;
    font-size: 35px;
}

.shopifybannertxtboxes>p{
    font-size: 25px;
}

.shopifybannerbutton {
    padding: 15px 50px;
    border-radius: 100px;
    width: 220px;
    background-color: #ef4c23;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 4%;
  }
  
  .shopifybannerbutton:hover {
    background-color: white;
    color: #ef4c23;
  }


  @media only screen and (min-width:0px) and (max-width:600px){

.shopifybannermainboxes{
    height: fit-content;
    border: 1px solid white;
    background: url("/Images/Shopify/Banner/Frame 40253.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    color: black;
    margin-top: 10%;
}

.shopifybannertxtboxes{
    height: fit-content;
    width: 90%;
    margin-top: 95%;
  
}

.shopifybannertxtboxes>h2{
    font-weight: 700;
    font-size: 20px;
    text-align: center;

}

.shopifybannerbutton {
    padding: 10px 50px;
    border-radius: 100px;
    width: 220px;
    background-color: #ef4c23;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 14px;
    font-weight: 600;
    color: white;
   margin-left: 20%;
  }
  
  .shopifybannerbutton:hover {
    background-color: white;
    color: #ef4c23;

}

  }