.shopifyframesmainboxes{
    height: fit-content;
    margin-top: 2%;
}

.shopifyframesindibox{
    display: flex;
   
}

.shopifyframesindibox:nth-child(3){
    flex-direction: row-reverse;
}

.shopifyframesindibox:nth-child(4){
    flex-direction: row-reverse;
}

.shopifyframesindileftbox{
    height: 20%;
    width: 50%;
    margin-top: 3%;
 margin-left: 3%;

}

.shopifyframesindirightboxes{
    width: 40%;
margin-top: 5%;

margin-right: 3%;
  
}

.shopifyframesindirightboxes>h2{
    font-weight: 700;
    font-size: 30px;
}

.shopifyframesindirightboxes>ul>li{
    font-size: 20px;
    margin-top: 2%;
    text-align: justify;
}

@media only screen and (min-width:0px) and (max-width:600px){

.shopifyframesmainboxes{
    height: fit-content;
    margin-top: 2%;
}

.shopifyframesindibox{
    display: flex;
    flex-wrap: wrap;
}


.shopifyframesindileftbox{
    height: 20%;
    width: 90%;
    margin-top: 3%;
 margin-left: 3%;

}

.shopifyframesindirightboxes{
    width: 90%;
margin-top: 20%;
margin-left: 2%;
margin-right: 3%;
  
}

.shopifyframesindirightboxes>ul>li{
   text-align: justify;
}


}