.Solutionmaindiv{
    /* border: 2px solid yellow; */
    width: 90%;
    height: 45vh;
    background-image: url("/Images/Mobilesalesoffeaturesphotos/bgbanner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    align-items: center;
    padding: 80px;
}