.Solutionmaindiv{
    /* border: 2px solid yellow; */
    width: 90%;
    height: 50vh;
    background-image: url("https://bottom-funnel-product.s3.ap-south-1.amazonaws.com/Images/Mobilesalesoffeaturesphotos/bgbanner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    align-items: center;
    padding: 85px;
    margin-top: 2%;
}

.Solutionmaindiv h3{
    width: 70%;
}


@media (max-width:1024px) {
    .Solutionmaindiv{
        border: 3px solid #ef4c23;
        width: 90%;
        height: fit-content;
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: auto;
        align-items: center;
        padding: 10px;
        margin-top: 2%;
        border-radius: 20px;
    }
    .Solutionmaindiv h3{
        width: 90%;
    }
    
}