.ticketingBannerContainer {
  height: 100vh;
  background: #f5f5f5;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ticketingBannerImage {
  width: 45%;
}

.ticketingBannerImage > img {
  width: 100%;
}

.ticketingBannerContent {
  width: 45%;
  /* border: 2px solid red; */
}

.ticketingBannerContent > h1 {
  font-size: 40px;
}

.ticketingBannerContent > h1 > span {
  color: #12944d;
}

.ticketingBannerContent > hr {
  background: #d9d9d9;
  border: 1px solid #d9d9d9;
  width: 70%;
  margin-left: 0;
}

.ticketingBannerContent > p {
  font-size: 20px;
}

.ticketingBannerButtons > button {
  width: 25%;
  height: 45px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #12944d;
  background: #12944d;
  color: white;
  cursor: pointer;
}

.ticketingBannerButtons > button:hover {
  background: white;
  color: #12944d;
}

.ticketingBannerButtons1 {
  width: 25%;
  height: 45px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #12944d;
  background: #12944d;
  color: white;
  cursor: pointer;
  margin-left: 2%;
}

.ticketingBannerButtons1:hover {
  background: white;
  color: #12944d;
}
/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .ticketingBannerContainer {
    flex-direction: column;
    height: fit-content;
    margin-top: 18%;
    
  }

  .ticketingBannerImage {
    width: 90%;
  }

  .ticketingBannerContent {
    width: 95%;
    text-align: center;
  }

  .ticketingBannerContent > hr {
    margin: 2% auto;
  }

  .ticketingBannerContent > h1 {
    font-size: 30px;
    /* line-height: 35px; */
    text-align: left;
    margin-top: 5%;
  }

  .ticketingBannerContent > p {
    font-size: 20px;
    /* line-height: 20px; */
    text-align: justify;
  }

  .ticketingBannerButtons > button {
    font-size: 18px;
    width: 40%;
    height: 50px;
    margin-top: 4%;
    margin-bottom: 4%;
  }
}
