.ticketingBannerContainer {
  height: 100vh;
  background: #f5f5f5;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ticketingBannerImage {
  width: 45%;
}

.ticketingBannerImage > img {
  width: 100%;
}

.ticketingBannerContent {
  width: 45%;
}

.ticketingBannerContent > h1 {
  font-size: 40px;
}

.ticketingBannerContent > h1 > span {
  color: #ef4c23;
}

.ticketingBannerContent > hr {
  background: #d9d9d9;
  border: 1px solid #d9d9d9;
  width: 70%;
  margin-left: 0;
}

.ticketingBannerContent > p {
  font-size: 20px;
}

.ticketingBannerContent > button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 50px;
  border-radius: 50px;
  outline: none;
  border: 2px solid #ef4c23;
  background: #ef4c23;
  color: white;
  cursor: pointer;
}

.ticketingBannerContent > button:hover {
  background: white;
  color: #ef4c23;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .ticketingBannerContainer {
    flex-direction: column;
    height: fit-content;
    padding: 3% 0;
  }

  .ticketingBannerImage {
    width: 80%;
  }

  .ticketingBannerContent {
    width: 95%;
    text-align: center;
  }

  .ticketingBannerContent > hr {
    margin: 2% auto;
  }

  .ticketingBannerContent > h1 {
    font-size: 32px;
    line-height: 35px;
  }

  .ticketingBannerContent > p {
    font-size: 14px;
    line-height: 20px;
  }

  .ticketingBannerContent > button {
    font-size: 13px;
    padding: 8px 20px;
  }
}
