.selfServicesBannerParentDiv {
  height: 100vh;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.selfServicesBannerParentDiv button {
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #ef4c23;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selfServicesBannerParentDiv button:hover {
  color: #ef4c23;
  background-color: white;
}

.selfServicesBannerContentDiv {
  width: 50%;
  margin-top: 3%;
}

.selfServicesBannerImageDiv {
  width: 40%;
  margin-right: 3%;
}

.selfServicesBannerImageDiv img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  margin-top: 13%;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .selfServicesBannerParentDiv {
    flex-direction: column-reverse;
    padding: 20px 0;
    height: fit-content;
  }

  .selfServicesBannerParentDiv button {
    font-size: 12px;
    padding: 8px 20px;
  }

  .selfServicesBannerContentDiv {
    width: 95%;
    text-align: center;
    margin: 2% 0;
  }

  .selfServicesBannerContentDiv>h1 {
    font-size: 32px;
    line-height: 35px;
  }

  .selfServicesBannerContentDiv>p {
    font-size: 14px;
    line-height: 20px;
  }

  .selfServicesBannerImageDiv {
    margin: 0;
    width: 90%;
  }

  .selfServicesBannerImageDiv img {
    margin: 0;
    height: fit-content;
    margin: 0;
  }
}