/* for any type of laptop and wide range of screens responsive */

@media only screen and (min-width:900px){
 .trendingtechnologylowerbanner {
  height: 40vh;
  border: 1px solid white;
  background: url("/Images/TrendingTechnologies/Banners\ &\ backgounds/Group 770576.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.trendingtechnologybannerlowersometext {
  height: 80%;
  width: 80%;

  margin-left: 5%;
  margin-top: 3%;
  position: absolute;
  text-align: center;
  color: white;
}

.trendingtechlowerbannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: fit-content;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 3%;
}

.trendingtechlowerbannerbutton:hover {
  background-color: white;
  color: #3380f2;
}

.trendingwhychooseushedingbox{
text-align: center;
}

.trendingwhychooseushedingbox >p{
    width: 90%;
  }



}


/* for any type of mobile responsive */

@media only screen and (min-width:0px) and (max-width:480px){
  .trendingtechnologylowerbanner {
    height: 30vh;
    margin-top: 15%;
    border: 1px solid white;
    background: url("/Images/TrendingTechnologies/Banners\ &\ backgounds/Group 770576.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

  }
  
  .trendingtechnologybannerlowersometext {
    height: 80%;
    width: 90%;
  
    margin-left: 5%;
    margin-top: 2%;
    position: absolute;
    text-align: center;
    color: white;
  }

.trendingtechnologybannerlowersometext>h1{
  font-size: 20px;
}


  
  .trendingtechlowerbannerbutton {
    padding: 10px 50px;
    border-radius: 100px;
    width: fit-content;
    background-color: #3380f2;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 14px;
    font-weight: 600;
    color: white;
   
  }
  
  .trendingtechlowerbannerbutton:hover {
    background-color: white;
    color: #3380f2;
  }
}

/* for any type of tablet screen responsive */

@media only screen and ( min-width:481px) and (max-width:900px){
 
  .trendingtechnologylowerbanner {
    height: 30vh;
    border: 1px solid white;
    background: url("/Images/TrendingTechnologies/Banners\ &\ backgounds/Group 770576.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: 5%;
  }
  
  .trendingtechnologybannerlowersometext {
    height: 80%;
    width: 80%;
  
    margin-left: 5%;
    margin-top: 3%;
    position: absolute;
    text-align: center;
    color: white;
  }
  
.trendingtechnologybannerlowersometext>h1{
  font-size: 30px;
}


  .trendingtechlowerbannerbutton {
    padding: 10px 50px;
    border-radius: 100px;
    width: fit-content;
    background-color: #3380f2;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 3%;
  }
  
  .trendingtechlowerbannerbutton:hover {
    background-color: white;
    color: #3380f2;
  }
  
  }
