
.ConversonalCrmmaindivcontain{
    width: 85%;
    margin: auto;
    text-align: center;
}
.ConversonalCrmcarddiv{
    display: flex;
    flex-direction: column ;
}
.ConversonalCrmcarddivinner{
    display: flex;
    width: 85%;
    margin: auto;
    flex-direction: row;
    margin-top: 3%;
}
.ConversonalCrmcarddivinnerbox{
    display: flex;
    width: 43%;
    height: 80vh;
    flex-direction: column;
    margin: auto;
}
.ConversonalCrmcarddivinnerboximage{
    width: 80%;
    height: 50vh;
   margin: auto;
}
.ConversonalCrmcarddivinnerboximage img{
width: 100%;
height: 100%;
}
.ConversonalCrmcarddivinnerboxcontain{
   height: 30vh;
    text-align: justify;
}
.ConversonalCrmcarddivinnerboxcontain h2{
    margin: 0%;
}
.ConversonalCrmcarddivinnerboxexplore{
    color: #ef4c23;
    margin: 0%;
}

@media  (max-width:1024px){
    .ConversonalCrmmaindiv{
        height: fit-content;
        margin-bottom: 3%;
    
    }
    .ConversonalCrmmaindivcontain{
        width: 95%;
        margin: auto;
        text-align: center;
    }
    .ConversonalCrmmaindivcontain h2{
        font-size: 28px;
       
    }
    .ConversonalCrmcarddiv{
       display: flex;
        flex-direction: column ;
    }
    .ConversonalCrmcarddivinner{
       display: flex;
        width: 100%;
        margin: auto;
        flex-direction: column;
        margin-top: 3%;
    }
    .ConversonalCrmcarddivinnerbox{
        display: flex;
        width: 90%;
        height: 80vh;
        flex-direction: column;
        margin: auto;
    }
    .ConversonalCrmcarddivinnerboximage{
         width: 85%;
        height: 35vh;
         margin: auto;
    }
    .ConversonalCrmcarddivinnerboximage img{
    width: 100%;
    height: 100%;
    }
    .ConversonalCrmcarddivinnerboxcontain{
        height: 30vh;
        text-align: justify;
    }
    .ConversonalCrmcarddivinnerboxcontain h2{
        margin: 0%;
       
    }
    .ConversonalCrmcarddivinnerboxexplore{
        color: #ef4c23;
        margin: 0%;
    
    }
    
}