
.ConversonalCrmmaindivcontain{
    width: 85%;
    margin: auto;
    text-align: center;
}
.ConversonalCrmcarddiv{
    display: flex;
    flex-direction: column ;
}
.ConversonalCrmcarddivinner{
    display: flex;
    width: 95%;
    height: fit-content;
    margin: auto;
    flex-direction: row;
  
   
}
.ConversonalCrmcarddivinnerbox{
    display: flex;
    width: 43%;
    height: fit-content;
    flex-direction: column;
    margin: auto;
}
.ConversonalCrmcarddivinnerboximage{
    width: 60%;
    height: 500px;
   margin: auto;
}
.ConversonalCrmcarddivinnerboxcontain{
   height: fit-content;
   width: 90%;
   margin: auto;
    text-align: justify;
}
.ConversonalCrmcarddivinnerboxcontain h2{
    margin: 0%;
}
.ConversonalCrmcarddivinnerboxexplore{
    color: #ef4c23;
    margin: 0%;
}
.ConversonalCrmcarddivinnerboxcontain>ul{
    font-size: 18px;
    margin-top: 5%;
}

@media  (max-width:1024px){
    .ConversonalCrmmaindiv{
        height: fit-content;
        margin-bottom: 3%;
        margin-top: 10%;
    }
    .ConversonalCrmmaindivcontain{
        width: 95%;
        margin: auto;
        text-align: center;
    }
    .ConversonalCrmmaindivcontain h2{
        font-size: 23px;
       text-align: justify;
       width: 95%;
       margin: auto;
    }
    .ConversonalCrmcarddiv{
       display: flex;
        flex-direction: column ;
    }
    .ConversonalCrmcarddivinner{
       display: flex;
        width: 100%;
        margin: auto;
        flex-direction: column;
        margin-top: 3%;
    }
    .ConversonalCrmcarddivinnerbox{
        display: flex;
        width: 90%;
        height: fit-content;
        flex-direction: column;
        margin: auto;
        margin-top: 5%;
    }
    .ConversonalCrmcarddivinnerboximage{
         width: 85%;
        height: 35vh;
         margin: auto;
    }
    .ConversonalCrmcarddivinnerboxcontain{
        height: fit-content;
        text-align: justify;
        margin-top: 5%;
    }
    .ConversonalCrmcarddivinnerboxcontain h2{
        margin: 0%; 
    }
    .ConversonalCrmcarddivinnerboxexplore{
        color: #ef4c23;
        margin: 0%;
    
    }
   
}