.GuideToShopFyConfigureaPrent{
   
    
    display: flex;
    
    align-items: center;
    
   align-content: center;
  justify-content: space-between;
 
  
}
.GuideToShopFyConfigureOnlyChild{
    background-color: white;
    display: flex;
    justify-content: space-around;

    flex-direction: column;
    align-items: center;
    width: 60%;
   
   margin-right: 5%;
    border-bottom: 3px solid #F5F5F5;
}
.GuideToShopFyConfigureHeading{
    width: 30%;
    background-color: #FFF8F8;
    height: 600px;
    padding: 30px;
   text-align: justify;
   padding-top: 10%;
   padding-left: 50px;
   
}
.GuideToShopFyConfigureHeading>h3{
   
margin-top: -33%;
}

.GuideToShopFyConfigureOnlyChildinsidefirstdiv{
   display: flex;
   width: 100%;
  
   align-items: center;
}
.GuideToShopFyConfigureOnlyChildinsidefirstdiv>div{
 
    
  height: 300px;
    padding: 2%;
 }
 .GuideToShopFyConfigureOnlyChildinsidesecdiv{
    display: flex;
    width: 100%;
  
 }
 .GuideToShopFyConfigureOnlyChildinsidesecdiv>div{
    padding: 2%;
     width: 33%;
    height: 300px;
  
  }
.GuideToShopFyConfigureOnlyChilddivone>div{
    display: flex;
    
    
    align-items: center;
    margin-bottom: 20px;
}


.GuideToShopFyConfigureOnlyChilddivone>div>h5{
    margin-left: 20px;
    width: 70%;
}





.GuideToShopFyConfigureOnlyChilddivtwo>div{
   
    display: flex;
    margin-bottom: 20px;
    align-items: center;
   
    
}
.GuideToShopFyConfigureOnlyChilddivtwo>div>h5{
    width: 70%;
    margin-left: 20px;
}



.GuideToShopFyConfigureOnlyChilddivthree>div{
    display: flex;
   
    margin-bottom: 20px;
    align-items: center;
  
    
}
.GuideToShopFyConfigureOnlyChilddivthree>div>h5{
    width: 70%;
    margin-left: 20px;
}

.GuideToShopFyConfigureOnlyChilddivfour>div{
    display: flex;
   
    margin-bottom: 20px;
    align-items: center;
   
}
.GuideToShopFyConfigureOnlyChildinsidefirstdiv>div>p{
    text-align: justify;
   
}
.GuideToShopFyConfigureOnlyChilddivfour>div>h5{
    width: 70%;
    margin-left: 20px;
}
.GuideToShopFyConfigureOnlyChildinsidesecdiv>div>p{
    text-align: justify;
   
}  


@media(max-width:780px){
   
    .GuideToShopFyConfigureaPrent{
   
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
       background-color: white;
       padding: 2%;
       height: auto;
    }
    .GuideToShopFyConfigureHeading{
        width: 100%;
        background-color: lightpink;
        height: 100%;
        padding: 10%;
       text-align: center;
    }
    .GuideToShopFyConfigureHeading>h1{
        margin-top: 0%;
    }
    .GuideToShopFyConfigureOnlyChild{
      
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 2%;
        width: 100%;
    }
    .GuideToShopFyConfigureOnlyChild>div{
        padding: 0PX;
        width: 100%;
       
       padding: 1%;
        border-right:  4px  solid whitesmoke;
        margin-bottom: 5%;
    }
    .GuideToShopFyConfigureOnlyChilddivone>div{
        display: flex;
        justify-content: space-between;
        margin: 0px;
    
        
    }
    .GuideToShopFyConfigureOnlyChilddivone>div>h3{
       width: 70%;
      
    }
    
    
    
    
    
    
    .GuideToShopFyConfigureOnlyChilddivtwo>div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0%;
        
    }
    .GuideToShopFyConfigureOnlyChilddivtwo>div>h3{
        width: 100%;
    }
    
    .GuideToShopFyConfigureOnlyChildinsidefirstdiv{
        display: flex;
        flex-direction: column;
        width: 100%;
     }
     .GuideToShopFyConfigureOnlyChildinsidefirstdiv>div{
        
        width: 100%;
     }
    
    .GuideToShopFyConfigureOnlyChilddivthree>div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0%;
        
    }
    .GuideToShopFyConfigureOnlyChilddivthree>div>h1{
        width: 100%;
    }
    .GuideToShopFyConfigureOnlyChilddivfour{
        border-right: 4px solid white;
    }
    .GuideToShopFyConfigureOnlyChilddivfour>div{
        display: flex;
        justify-content: space-between;
        
    }
    .GuideToShopFyConfigureOnlyChilddivfour>div>h3{
        width: 100%;
    }  
    .GuideToShopFyConfigureOnlyChildinsidesecdiv{
        display: flex;
        flex-direction: column;
        width: 100%;
     }
     .GuideToShopFyConfigureOnlyChildinsidesecdiv>div{
        padding: 2%;
         width: 100%;
      }
}