.LineChatBannerParent{
    display: flex;
    padding: 5%;
    padding-right: 5%;
    align-items: center;
   padding-left: 5%;
    justify-content: space-between;
    margin-top: 5%;

}
.LineChatBannerImage{
    width: 50%;
}
.LineChatBannerContent{
    width: 40%;
}
.LineChatBannerContent>h1{
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 46px;
}
.LineChatBannerContent>p{
    font-size: 20px;
    margin-top: 4%;
}

.LineChatBannerContent>button{
    margin-top: 4%;
    width: 150px;
    height: 50px;
    background-color: #04c357;
    border: 1px solid transparent;
    border-radius: 20px;
    color: white;
    font-size: 22px;
}
.LineChatBannerContent>button:hover{
    width: 150px;
    height: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #04c357;
    
    color: #04c357;
    font-size: 22px;
}

@media(max-width:780px){
    .LineChatBannerParent{
        
        flex-direction: column;
       
       
      margin-top: 30%;
    
    }
    .LineChatBannerImage{
        width: 100%;
      
    }
    .LineChatBannerContent{
        width: 100%;
        margin-top: 5%;
        text-align: center;
    }
    .LineChatBannerContent>h1{
        font-weight: 700;
        margin-bottom: 0px;
        font-size: 42px;
    }
    
    
   
    
}