.BottomFunnelTeamBannermaindiv{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-around;
    align-items: center;

}
.BottomFunnelTeamBannercontent{
    width: 35%;
}
.BottomFunnelTeamBannerimage{
    width: 45%;
}
.BottomFunnelTeamBannerbutton{
    width: 220px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #ef4c23;
    color: white;
    font-size: 18px;
    font-weight: 600;

}
.BottomFunnelTeamBannerbutton:hover{
    background-color: white;
    color: #ef4c23;
    border: 1px solid #ef4c23;
}