/* GuideToShopFyQueries */



.GuideToShopFyQueriesparentchild{
    
    
    
     display: flex;
    
     align-items: center;
     align-content: center;
     height: 500px;
  

    
 }
 .para{
text-align: justify;
 }
 .GuideToShopFyQueriesparentchildfirstdiv{
    background-color: #FFF8F8;
    width: 30%;
    height: 510px;
    text-align: center;
    
   padding: 2%;
 }
 .GuideToShopFyQueriesparentchildfirstdiv>h3{
   margin-top: 25%;
   margin-left: 5%;
  
   text-align: justify;

 }
 .GuideToShopFyQueriesparentchildfirstdiv>p{
   margin-left: 5%;
 
 }

 .GuideToShopFyQueriesparentchildsecdiv{
    
    border-bottom: 3px solid whitesmoke;
     display: flex;
     align-items: center;
     width: 40%;
     margin-left: 5%;
    height: 300px;
 }
 .GuideToShopFyQueriesparentchildsecdiv>div{
  
    width: 50%;
     padding: 2%;
     height: 300px;
    
 }
 .GuideToShopFyQueriesparentchildsecdiv>div>div{
    
     display: flex;
     
     align-items: center;
    margin-bottom: 20px;
    
 }
 .GuideToShopFyQueriesparentchildsecdiv>div>div>h5{
    width: 70%;
    margin-left: 20px;
  
 }












 @media(max-width:780px){
    .GuideToShopFyQueriesparentchild{
    
    
    
        display: flex;
       
        align-items: center;
        align-content: center;
       flex-direction: column;
       
        height: auto;
    }
    
    .GuideToShopFyQueriesparentchildfirstdiv{
       background-color: lightpink;
       width: 100%;
       height: auto;
       text-align: center;
    }
    .GuideToShopFyQueriesparentchildfirstdiv>h1{
    margin-top: 20%;
   
    }
   
    .GuideToShopFyQueriesparentchildsecdiv{
        
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .GuideToShopFyQueriesparentchildsecdiv>div{
     
        padding: 5%
        
    }
    .GuideToShopFyQueriesparentchildsecdiv>div>div{
       
        display: flex;
        justify-content: space-between;
       
        padding: 2%;
    }
}