/* GuideToShopFyQueries */



.GuideToShopFyQueriesparentchild{
    
    
    
     display: flex;
    
     align-items: center;
     align-content: center;
    
   
     height: 60vh;
 }
 
 .GuideToShopFyQueriesparentchildfirstdiv{
    background-color: #FFF8F8;
    width: 30%;
    height: 100%;
    text-align: center;
 }
 .GuideToShopFyQueriesparentchildfirstdiv>h1{
 margin-top: 20%;

 }

 .GuideToShopFyQueriesparentchildsecdiv{
     border-bottom: 1px solid grey;
     display: flex;
     width: 60%;
     margin-left: 5%;
     
 }
 .GuideToShopFyQueriesparentchildsecdiv>div{
  
     padding: 5%
     
 }
 .GuideToShopFyQueriesparentchildsecdiv>div>div{
    
     display: flex;
     justify-content: space-between;
    
     padding: 2%;
 }












 @media(max-width:780px){
    .GuideToShopFyQueriesparentchild{
    
    
    
        display: flex;
       
        align-items: center;
        align-content: center;
       flex-direction: column;
       
        height: auto;
    }
    
    .GuideToShopFyQueriesparentchildfirstdiv{
       background-color: lightpink;
       width: 100%;
       height: auto;
       text-align: center;
    }
    .GuideToShopFyQueriesparentchildfirstdiv>h1{
    margin-top: 20%;
   
    }
   
    .GuideToShopFyQueriesparentchildsecdiv{
        
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .GuideToShopFyQueriesparentchildsecdiv>div{
     
        padding: 5%
        
    }
    .GuideToShopFyQueriesparentchildsecdiv>div>div{
       
        display: flex;
        justify-content: space-between;
       
        padding: 2%;
    }
}