.CareerHiring-main {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.CareerHiring-main > h1 {
  font-size: 32px;
  margin-bottom: 5%;
}

.CareerHiring-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.CareerHiring-main > h3 {
  font-size: 20px;
  text-align: center;
  color: #4a4a4a;
  cursor: pointer;

  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.CareerHiring-main > h3 > svg {
  transition: all 0.5s linear;
}

.CareerHiring-main > h3:hover svg {
  transform: translateX(50%);
}
