.carpoolAction {
  width: 100%;
  height: 330px;
  background: url("/Images/carpoolingpage/bannersbackgrounds/Component 1.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
}
.carpoolAction > div {
  width: 62%;
  margin: auto;
  text-align: center;
  padding: 35px;
}
.carpoolAction > div > h1 {
  color: white;
  margin-bottom: 30px;
}

.bottomButton {
  padding: 10px 60px;
  border-radius: 25px;
  background-color: #ef4c23;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bottomButton:hover {
  color: #ef4c23;
  background-color: white;
}

/* this css is for the responsive of the pages f0r the mobile and web responsive */

/* Media query for the Mobile Device */

@media (max-width: 480px) {
  .carpoolAction {
    /* border: 1px solid red; */
    width: 100%;
    height: 150px;
    background: url("/Images/carpoolingpage/bannersbackgrounds/MidBannerBackground.png");
    background-repeat: no-repeat;
    background-size: 120%;
    margin-left: 7%;
    background-position: center;
  }

  .carpoolAction > div {
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    text-align: center;
    /* padding: 35px; */
  }

  .carpoolAction > div > h1 {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0%;
    /* border: 1px solid red; */
    /* margin-bottom: 30px; */
  }

  .bottomButton {
    padding: 8px 50px;
    border-radius: 25px;
    background-color: #ef4c23;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 5%;
  }

  .bottomButton:hover {
    color: #ef4c23;
    background-color: white;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .carpoolAction {
    /* border: 1px solid red; */
    width: 100%;
    height: 150px;
    background: url("/Images/carpoolingpage/bannersbackgrounds/MidBannerBackground.png");
    background-repeat: no-repeat;
    background-size: 120%;
    margin-left: 7%;
    background-position: center;
  }

  .carpoolAction > div {
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    text-align: center;
    /* padding: 35px; */
  }

  .carpoolAction > div > h1 {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0%;
    /* border: 1px solid red; */
    /* margin-bottom: 30px; */
  }

  .bottomButton {
    padding: 8px 50px;
    border-radius: 25px;
    background-color: #ef4c23;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 5%;
  }

  .bottomButton:hover {
    color: #ef4c23;
    background-color: white;
  }
}
