.CloudSolutionsContainer {
  margin: auto;
  height: 115vh;
  position: relative;
}

.CloudSolutionsBackgroundRectangle {
  position: absolute;
  height: 88%;
  width: 100%;
  bottom: 0;
  z-index: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CloudSolutionsBackgroundRectangle > img:nth-child(1) {
  align-self: flex-start;
  height: 50%;
  width: 27%;
}

.CloudSolutionsBackgroundRectangle > img:nth-child(2) {
  align-self: flex-end;
  height: 50%;
  width: 30%;
}

.CloudSolutionsMain {
  width: 90%;
  margin: auto;
  padding-top: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.CloudSolutionsMain > h1 {
  font-size: 32px;
}

.CloudSolutionsMain > h1 > span {
  color: #ef4c23;
}

.CloudSolutionsCardsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 85%;
  margin: auto;
}

.CloudSolutionsCardsMain {
  background-color: #f5f5f5;
  width: 45%;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 2%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.CloudSolutionsCardsMain > div {
  height: 70px;
  width: fit-content;
}

.CloudSolutionsCardsMain > div > img {
  height: 100%;
}

.CloudSolutionsCardsMain > h2 {
  font-size: 25px;
  width: 100%;
  margin: 1% auto;
}

.CloudSolutionsCardsMain > p {
  font-size: 18px;
  width: 100%;
  margin: 1% auto;
}

.CloudSolutionsHrLine {
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CloudSolutionsHrLine > div {
  border: 2px solid #ef4c23;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.CloudSolutionsHrLine > span {
  width: 46%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}
