.lifeMainOuterDiv {
  /* border: 1px solid gold; */
  width: 95%;
  margin: auto;
  margin-bottom: 3%;
}

.lifeHeadingMainDiv {
  /* border: 1px solid red; */
  text-align: center;
}

.lifeHeadingMainDiv > p {
  border-bottom: 1px solid red;
  width: 46%;
  height: 40px;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
}

.lifeHeadingMainDiv > h1 {
  font-weight: 700;
  margin-top: 0%;
  font-size: 42px;
}

.lifeImageMainDiv {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
}

.lifeImageInnerDiv {
  display: flex;
  flex-direction: row;
}

.lifeImageDiv {
  /* border: 1px solid rebeccapurple; */
  width: 30%;
  margin-left: 4%;
}

.lifeImageDiv > img {
  width: 100%;
  object-fit: contain;
}

.lifeBottomContentDiv {
  /* border: 1px solid red; */
  position: relative;
  height: 50px;
}

.lifeBottomContentDiv > h2 {
  position: absolute;
  right: 0%;
  font-size: 30px;
  font-weight: 600;
  color: #ef4c23;
}

.lifeBottomContentDiv > h2:hover {
  cursor: pointer;
  text-decoration: underline;
}
