.socialmediaapprochmainboxes{
    height: fit-content;
    margin-top: 5%;

}

.socialmediaapprochmainboxesfortext{
    height: 20%;

    text-align: center;
}

.socialmediaimageboxesforapproch{
    height: 80%;
    width: 80%;

    margin: auto;
}

.socialmediaimageboxesforapproch>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 5%;
    margin-bottom: 3%;
}