.productsFooterParentDiv {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
}

.productsFooterTopImagesMainDiv {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
}

.productFooterLogoDiv {
  /* border: 1px solid red; */
  width: 60%;
}

.productsFooterSocialMediaLogos {
  /* border: 1px solid gold; */
  width: 40%;
}

.productFooterLogoDiv > img {
  width: 20%;
  object-fit: cover;
}

.productsfooterSocialMediaSection {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 0;
  margin-top: 13%;
  column-gap: 16px;
}
.productPagesocialIcons {
  font-size: 35px;
  border: 1px solid white;
  padding: 6px;
  color: #ef4c23;
  border-radius: 18px;
  background-color: white;
}
.productPagesocialIcons:hover {
  font-size: 35px;
  /* border: 1px solid white; */
  padding: 6px;
  color: white;
  background-color: #ef4c23;
  border-radius: 18px;
}

/* .productsFooterContentMainDiv {
  border: 1px solid gold;
} */

.productsFooterTagsDiv {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.productMainProductDivLink {
  /* border: 1px solid red; */
  width: 24%;
  text-decoration: none;
}

.productMainProductDivLink > li {
  margin-left: 10%;
  margin-bottom: 2%;
  color: #393939;
}

.productFooterLinkTag {
  text-decoration: none;
  color: #393939;
}

.productMainProductDivLink > .productFooterLinkTag:hover {
  color: #ef4c23;
  cursor: pointer;
}

.productFooterBottomDiv {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  /* align-items: center;
  justify-content: center; */
}

.productFooterBottomDivContentDiv {
  /* border: 1px solid black; */
  width: 50%;
  margin-left: 4%;
}

.productFooterBottomDivImagesDiv {
  /* border: 1px solid gold; */
  margin-left: 6%;
}

.productFooterBottomDivImagesDiv > img {
  column-gap: 5%;
  /* margin-right: 3%; */
}
