.productsFooterParentDiv {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
}

.productsFooterTopImagesMainDiv {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  height: 70px;
  margin-left: 3%;
}

.productFooterLogoDiv {
  /* border: 1px solid red; */
  width: 50%;
  margin-top: -0.5%;
  height: fit-content;
}

.productFooterLogoDiv > img {
  width: 35%;
  margin-left: 7%;
  object-fit: cover;
}

.productsFooterSideButtons {
  /* border: 1px solid red; */
  width: 48%;
  height: 50px;
  margin-top: 1%;
  margin-left: 20%;
}

.productsFooterCallToAction {
  background-color: #ffeae5;
  border: 1px solid #ef4c23;
  color: #ef4c23;
  padding: 8px 25px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  margin: 0 5px;
}

.productsFooterCallToAction:hover {
  color: #ef4c23;
  /* border: 1px solid #ef4c23; */
  background-color: white;
  cursor: pointer;
  /* border: 1px solid white; */
}

.productsFooterCallToActionLogin {
  background-color: #ef4c23;
  color: white;
  padding: 8px 25px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  border: none;
}

.productsFooterCallToActionLogin:hover {
  color: #ef4c23;
  border: 1px solid #ef4c23;
  background-color: white;
  cursor: pointer;
  /* border: 1px solid white; */
}

.productsFooterContentMainDiv {
  /* border: 1px solid gold; */
  margin-left: 3%;
}

.productsFooterTagsDiv {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  text-align: left;
}

.productMainProductDivLink {
  /* border: 1px solid red; */
  width: 24%;
  text-align: left;
  list-style-type: none;
}

.productMainProductDivLink > h5 {
  /* border: 1px solid red; */
  margin-bottom: 1%;
}

.productFooterLinkTag {
  text-decoration: none;
  color: #393939;
  /* margin-top: 2%; */
  /* border: 1px solid red; */
  /* height: 20px; */
}

.productFooterLinkTag:hover {
  color: #ef4c23;
  cursor: pointer;
}

.productFooterLinkTag > li {
  /* border: 1px solid red; */
  margin-top: 3%;
}

.productFooterBottomDiv {
  /* border-bottom: 1px solid black; */
  height: 70px;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  /* align-items: center;
  justify-content: center; */
}

.productFooterBottomDivContentDiv {
  /* border: 1px solid black; */
  width: 50%;
  margin-left: 4%;
}

.productsFooterSocialMediaLogos {
  /* border: 1px solid gold; */
  width: 40%;
}

.productsFooterSocialMediaLogos > p {
  margin-top: 0%;
  margin-bottom: 0%;
  font-weight: 600;
  margin-left: -8%;
}

.productsfooterSocialMediaSection {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 0;
  /* margin-top: 13%; */
  column-gap: 16px;
}

.productPagesocialIcons {
  font-size: 30px;
  border: 1px solid white;
  padding: 6px;
  color: white;
  border-radius: 25px;
  margin-left: 45%;
  background-color: #ef4c23;
}

.productPagesocialIcons:hover {
  font-size: 32px;
  /* border: 1px solid white; */
  padding: 6px;
  color: white;
  background-color: #ef4c23;
  border-radius: 18px;
}

.productFooterBottomDivImagesDiv {
  /* border: 1px solid gold; */
  width: 50%;
  margin-left: 16%;
}

.productFooterBottomDivImagesDiv > p {
  margin-top: 0%;
  margin-bottom: 1%;
  margin-left: 35%;
  font-weight: 500;
}

.productFooterBottomDivImagesDiv > div {
  /* border: 1px solid red; */
  width: 50%;
  margin-left: 35%;
}

.productFooterBottomDivImagesDiv > div > img {
  margin-right: 4%;
  width: 40%;
  /* margin-left: 15%; */
  object-fit: contain;
  /* margin-right: 3%; */
}

.productFooterBottomContentDiv {
  border-top: 1px solid black;
  height: 60px;
  display: flex;
  width: 89%;
  margin-left: 2%;
  margin-top: 1%;
  flex-direction: row;
  /* margin-top: 2%; */
  /* align-items: center;
  justify-content: center; */
}

.productFooterBottomDivHeading {
  /* border: 1px solid green; */
  width: 40%;
}

.productFooterBottomDivHeading > p {
  /* border: 1px solid red; */
  font-size: 14px;
  font-weight: 600;
}

.productFooterBottomDivPaymentImage {
  /* border: 1px solid gold; */
  width: 50%;
  display: flex;
  margin-left: 20%;
}

.productFooterBottomDivPaymentImage > p {
  font-weight: 600;
}

.productFooterBottomDivPaymentImage > img {
  /* margin-right: 1%; */
  /* border: 1px solid red; */
  width: 70%;
  height: 50%;
  margin-top: 2.5%;
  margin-left: 1%;
  object-fit: contain;
}
