.productsFooterParentDiv {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
}

.productsFooterTopImagesMainDiv {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  height: 70px;
  margin-left: 3%;
}

.productFooterLogoDiv {
  /* border: 1px solid red; */
  width: 50%;
  margin-top: -0.5%;
  height: fit-content;
}

.productFooterLogoDiv > img {
  width: 35%;
  margin-left: 7%;
  object-fit: cover;
}

.productsFooterSideButtons {
  /* border: 1px solid red; */
  width: 48%;
  height: 50px;
  margin-top: 1%;
  margin-left: 20%;
}

.productsFooterCallToAction {
  background-color: #ffeae5;
  border: 1px solid #ef4c23;
  color: #ef4c23;
  padding: 8px 25px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  margin: 0 5px;
}

.productsFooterCallToAction:hover {
  color: #ef4c23;
  /* border: 1px solid #ef4c23; */
  background-color: white;
  cursor: pointer;
  /* border: 1px solid white; */
}

.productsFooterCallToActionLogin {
  background-color: #ef4c23;
  color: white;
  padding: 8px 25px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  border: none;
}

.productsFooterCallToActionLogin:hover {
  color: #ef4c23;
  border: 1px solid #ef4c23;
  background-color: white;
  cursor: pointer;
  /* border: 1px solid white; */
}

.productsFooterContentMainDiv {
  /* border: 1px solid gold; */
  margin-left: 3%;
}

.productsFooterTagsDiv {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  text-align: left;
}

.productMainProductDivLink {
  /* border: 1px solid red; */
  width: 24%;
  text-align: left;
  list-style-type: none;
}

.productMainProductDivLink > h5 {
  /* border: 1px solid red; */
  margin-bottom: 1%;
}

.productFooterLinkTag {
  text-decoration: none;
  color: #393939;
  /* margin-top: 2%; */
  /* border: 1px solid red; */
  /* height: 20px; */
}

.productFooterLinkTag:hover {
  color: #ef4c23;
  cursor: pointer;
}

.productFooterLinkTag > li {
  /* border: 1px solid red; */
  margin-top: 3%;
}

.productFooterBottomDiv {
  /* border-bottom: 1px solid black; */
  height: 70px;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.productFooterBottomDivContentDiv {
    /* border: 1px solid black; */
    width: 50%;
    margin-left: 2%;
}

.productsFooterSocialMediaLogos {
   /* border: 1px solid gold; */
   margin-top: 8%;
   display: flex;
   flex-direction: row;
}

.productsFooterSocialMediaLogos > p {
  margin-top: 1%;
  font-weight: 600;
  /* margin-left: -5%; */
  /* border: 2px solid red; */
  width: 50%;
}

.productsfooterSocialMediaSection {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 0;
  column-gap: 16px;
  /* border: 2px solid yellow; */
}

.productPagesocialIcons {
  font-size: 30px;
  border: 1px solid white;
  padding: 6px;
  color: white;
  border-radius: 25px;
  margin-left: 45%;
  background-color: #ef4c23;
}

.productPagesocialIcons:hover {
  font-size: 32px;
  /* border: 1px solid white; */
  padding: 6px;
  color: white;
  background-color: #ef4c23;
  border-radius: 18px;
}

.productFooterBottomDivImagesDiv {
  /* border: 1px solid gold; */
  width: 50%;
  margin-left: 16%;
}

.productFooterBottomDivImagesDiv > p {
  margin-top: 0%;
  margin-bottom: 1%;
  margin-left: 35%;
  font-weight: 500;
}

.productFooterBottomDivImagesDiv > div {
  /* border: 1px solid red; */
  width: 50%;
  margin-left: 35%;
}

.productFooterBottomDivImagesDiv > div > img {
  margin-right: 4%;
  width: 40%;
  /* margin-left: 15%; */
  object-fit: contain;
  /* margin-right: 3%; */
}

.productFooterBottomContentDiv {
  border-top: 1px solid black;
  height: 60px;
  display: flex;
  width: 89%;
  margin-left: 2%;
  margin-top: 1%;
  flex-direction: row;
}

.productFooterBottomDivHeading {
  /* border: 1px solid green; */
  width: 40%;
}

.productFooterBottomDivHeading > p {
  /* border: 1px solid red; */
  font-size: 14px;
  font-weight: 600;
}

.productFooterBottomDivPaymentImage {
  /* border: 1px solid gold; */
  width: 50%;
  display: flex;
  margin-left: 20%;
  flex-direction: row;
  /* margin-top: 2%; */
}

.productFooterBottomDivPaymentImage > p {
  font-weight: 600;
}

.productFooterBottomDivPaymentImage > img {
  width: 70%;
  height: 50%;
  /* margin-top: 2.5%; */
  margin-left: 1%;
  object-fit: contain;
}

/* this css is for the responsive of the pages f0r the mobile and web responsive */

/* Media query for the Mobile Device */

@media (max-width: 480px) {
  .productsFooterContentMainDiv {
    margin: 0;
    padding: 10px;
    height: fit-content;
  }

  .productsFooterParentDiv {
    width: 100%;
    height: fit-content;
  }

  .productsFooterTopImagesMainDiv {
    /* border: 2px solid black; */
    margin: 0;
    margin-top: 10%;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .productFooterLogoDiv {
    width: 27%;
  }
  .productFooterLogoDiv > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .productsFooterTagsDiv {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    row-gap: 10px;
  }

  .productFooterLinkTag > li {
    font-size: 13px;
  }

  .productMainProductDivLink {
    margin: 0;
    width: 40%;
    padding: 0;
  }

  .productsFooterSideButtons {
    margin: 0;
    width: 67%;
    display: flex;
    column-gap: 5px;
  }

  .productsFooterCallToAction {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    width: 34%;
    height: 35px;
    font-size: 10px;
  }

  .productsFooterCallToActionLogin {
    padding: 0;
    margin: 0;
    height: 35px;
    width: 30%;
  }

  .productFooterBottom {
    height: fit-content;
  }

  .productFooterBottomDiv {
    flex-direction: column;
    height: fit-content;
  }

  .productFooterBottomDivContentDiv {
    width: 100%;
    margin: 0;
  }

  .productsFooterSocialMediaLogos > p {
    margin: 0;
  }

  .productsFooterSocialMediaLogos {
    width: 100%;
    justify-content: space-around;
    padding: 5px 0;
  }

  .productsfooterSocialMediaSection {
    justify-content: space-around;
  }

  .productPagesocialIcons {
    margin: 0;
  }

  .productFooterBottomDivImagesDiv {
    margin: 0;
    width: 100%;
    display: flex;
    padding: 0px;
    box-sizing: border-box;
  }

  .productFooterBottomDivImagesDiv > p {
    margin: 0;
  }

  .productFooterBottomDivImagesDiv > div {
    margin: 0;
    text-align: center;
  }

  .productFooterBottomContentDiv {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
  }

  .productFooterBottomDivHeading {
    /* border: 1px solid green; */
    width: 100%;
    margin-top: 2%;
  }

  .productFooterBottomDivHeading > p {
    /* border: 1px solid red; */
    font-size: 12px;
    font-weight: 600;
  }

  .productFooterBottomDivPaymentImage {
    margin: 0;
    flex-direction: column;
    padding: 5px 0;
    row-gap: 5px;
    width: 100%;
    display: flex;
  }

  .productFooterBottomDivPaymentImage > p {
    margin: 0;
  }

  .productFooterBottomDivPaymentImage > img {
    width: 100%;
    height: 50%;
    margin-top: 2.5%;
    margin-left: 1%;
    object-fit: contain;
  }
}
