.RGtank {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  position: relative;
  /* border: 1px solid red; */
}

.RGfooterImage {
  border: 1px solid white;
  position: absolute;
  top: 0;
  width: 99%;
}

.RGfooterImage img{
  width: 100%;
  object-fit: cover;
}

.RGfooterText {
  position: absolute;
  z-index: 1;
  color: white;
  margin-top: 4%;
  font-size: 20px;
  text-align: center;
  padding: 2% 8%;
  border-radius: 10px;
}

.RGfbtn {
  background: white;
  color: rgb(239, 77, 37);
  padding: 10px 50px;
  border-radius: 5%;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: 2px solid white;
}

.RGfbtn:hover {
  color: white;
  background-color: #ef4c23;
}
