.RGcontainer {
    width: 90%;
    margin: auto;
    text-align: left;
    margin-bottom: 5%;
}



.RGspanTextScoping {
    color: #ef4c23;
    font-size: 40px;

}

.RGhead {
    font-size: 40px;
    width: 55%;
}

.RGpara {
    font-size: 18px;
    margin-top: 1%;
    width: 57%;
}