.ContactUSFormmain {
  width: 80%;
  height: fit-content;
  margin: 3% auto;
  margin-top: -4%;
  z-index: 2;
  background: #f3f3f3;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ContactUSFormcontent {
  width: 40%;
  height: fit-content;
  padding: 1%;

  border-right: 2px solid #ef4c23;
}

.ContactUSFormcontent > h1 {
  font-size: 30px;
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
  cursor: pointer;
  border-radius: 10px;
  padding: 2%;
}

.ContactUSFormcontent > h1:hover {
  color: #ef4c23;
  background: white;
}

.ContactUSFormcontent > p {
  font-size: 16px;
  color: #495057;
  width: 80%;
  margin: 2% auto 2% auto;
}

.ContactUSForminfo {
  width: 80%;
  margin: 2% auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ContactUSFormcontent > h2 {
  width: 70%;
  margin: 1% auto 2% auto;
  font-size: 20px;
  cursor: pointer;
}

.ContactUSFormcontent > h2:hover {
  color: #ef4c23;
}

.ContactUSForminfo > h2 {
  width: 45%;
  margin-bottom: 2%;
  margin-top: 1%;

  font-size: 18px;
  cursor: pointer;
}

.ContactUSForminfo > h2:hover {
  color: #ef4c23;
}

.ContactUSFormsocial {
  width: 80%;
  margin: 3% auto 3% auto;

  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: flex-start;
}

.ContactUSFormsocial > a > svg {
  width: 25px;
  height: 25px;
  color: #393939;
}

.ContactUSFormsocial > a:hover svg {
  color: #ef4c23;
}

.ContactUSFormformoutermain {
  width: 50%;
  height: fit-content;
  padding: 3%;
}

.ContactUSFormformoutermain > h1 {
  margin-bottom: 4%;
  font-size: 35px;
  color: #ef4c23;
  text-align: center;
}

.ContactUSFormformSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1%;
  row-gap: 30px;
  color: #393939;
}

.ContactUSForminputWithIcon {
  box-sizing: border-box;
  width: 47%;
  display: flex;
  align-items: center;
  column-gap: 1%;
  border-bottom: 2px solid #d0d0d0;
}

.ContactUSForminputPart {
  box-sizing: border-box;
  border: none;
  color: #393939;

  background: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}

.ContactUSForminputPart::placeholder {
  color: #393939;

  font-weight: 600;
}

.ContactUSFormphoneNumber {
  width: 30%;
  box-sizing: border-box;
  box-sizing: border-box;
  color: #393939;
  margin-left: -5%;

  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 2px solid #d0d0d0;
}

.ContactUSFormphoneNumber::placeholder {
  color: #393939;

  font-weight: 600;
}

.ContactUSFormmessagePart {
  width: 100%;
  box-sizing: border-box;
  border: none;
  color: #393939;

  background: none;

  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 2px solid #d0d0d0;
}

.ContactUSFormmessagePart::placeholder {
  font-weight: 600;
  color: #393939;
}

.ContactUSFormphoneClass {
  width: 15%;
  font-size: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d0d0d0;
}

.ContactUSFormcountryCode {
  width: 90%;
  box-sizing: border-box;
  font-size: 14px;
  background: none;
  padding: 10px 0;
  font-weight: 600;
  color: #393939;

  outline: none;
  border: none;
}

.ContactUSFormcountryCode > option {
  color: #393939;
}

.ContactUSFormselectClass {
  width: 47%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d0d0d0;
  color: #393939;
}

.ContactUSFormselectPart {
  width: 90%;
  box-sizing: border-box;
  font-size: 16px;
  /* color: rgb(125, 118, 118); */
  background: none;
  outline: none;
  border: none;
  font-weight: 600;
  color: #393939;
}

.ContactUSFormselectPart > option {
  color: #393939;
}

.ContactUSFormtextareaClass {
  width: 100%;
  color: #393939;
}

.ContactUSFormformMessageIcon {
  margin-right: 5px;
  color: #393939;
}

.ContactUSFormtextareaClass > label {
  color: #393939;

  font-weight: 600;
}

.ContactUSFormrobotCaptcha {
  display: flex;
  justify-content: center;
}

.ContactUSFormrobotCaptcha button {
  padding: 10px 60px;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  background-color: #ef4c23;
  font-weight: 600;
  border: 2px solid #ef4c23;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ContactUSFormrobotCaptcha button:hover {
  color: #ef4c23;
  background-color: white;
}
