.diverseheading {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}

.diversesection {
  width: 94%;
  padding: 40px;
  /* margin: 20px; */
  /* background-color: brown; */
}
.diversesalon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  padding: 20px;
  row-gap: 40px;
  /* background-color: aqua;  */
}
.hairimage {
  width: 70px;
  height: 70px;
}
.hairimage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hairsalon {
  border-radius: 10px;
  width: 27%;
  height: 250px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  text-align: left;
  cursor: pointer;
}

.hairsalon:hover {
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hairsalon > img {
  background-color: white;
}
.hairsalon > h1 {
  font-size: 26px;
}
.hairsalon > p {
  font-size: 16px;
}
