.featuresSection {
  width: 96%;
  height: 570px;
  text-align: center;
  padding: 30px;
}
.featuresSection > h1 {
  font-size: 32px;
  padding: 10px;
}
.featuresContainer {
  display: flex;
  width: 90%;
  padding: 20px;
  margin: auto;
  justify-content: space-between;
}
.featureswhite {
  text-align: left;
  cursor: pointer;
  width: 29%;
  height: 400px;

  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: transform 0.2s;
}
.featureswhite:hover {
  transform: scale(1.1);
}
.featureswhite > h4 {
  color: #fcdbd3;
  font-size: 24px;
}
.featurepink {
  text-align: left;
  cursor: pointer;
  width: 27%;
  padding: 20px;
  height: 400px;
  border-radius: 20px;
  background-color: #fcdbd3;
  padding: 20px;
  transition: transform 0.2s;
}

.featurepink:hover {
  transform: scale(1.1);
}
.featurepink > h1 {
  color: white;
  font-size: 27px;
}
