.instagramDmBotsContainer{
    /* border: 2px solid red; */
    width: 100%;
    height: 500px;
    text-align: center;
}
.instagramDmBotsDiv{
    /* border: 2px solid red; */
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
}
.instagramDmCutomerLeft{
    /* border: 2px solid red; */
    width: 50%;
    text-align: left;
    padding: 30px;
    margin-left: 5%;
}

.instagramDmCustomerRight{
    /* border: 2px solid red; */
    width: 40%;

}