
.EmailIntegrationCardsinner{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;

}

.EmailIntegrationCardsmainbox{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid; */
    margin-top: 3%;

}

.EmailIntegrationCardsmainbox1{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid; */
    margin-top: 3%;
}
.EmailIntegrationCardsmaincontent{
    /* border: 2px solid red; */
    width: 40%;
    /* margin-left: 5%; */
}
.EmailIntegrationCardsmaincontent p{
    text-align: justify;
}
.EmailIntegrationCardsimage{
    width: 45%;
}
@media (max-width:1024px){
    
.EmailIntegrationCardsinner{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;

}

.EmailIntegrationCardsmainbox{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid; */
    margin-top: 3%;

}

.EmailIntegrationCardsmainbox1{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid; */
    margin-top: 3%;
}
.EmailIntegrationCardsmaincontent{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    text-align: center;
    /* margin-left: 5%; */
}
.EmailIntegrationCardsmaincontent p{
    text-align: justify;
}
.EmailIntegrationCardsimage{
    width: 90%;
}
}

