


.EmailIntegrationCardsmainbox{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin:4% auto;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid; */
    margin-top: 3%;

}

.EmailIntegrationCardsmainbox:nth-child(3),.EmailIntegrationCardsmainbox:nth-child(4){
   
    flex-direction: row-reverse;
    
}
.EmailIntegrationCardsmaincontent{
    /* border: 2px solid red; */
    width: 40%;
    /* margin-left: 5%; */
}
.EmailIntegrationCardsmaincontent p{
    text-align: justify;
}
.EmailIntegrationCardsimage{
    width: 45%;
}
@media (max-width:1024px){
    


.EmailIntegrationCardsmainbox{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 4% auto;
    gap: 20px;

}

.EmailIntegrationCardsmainbox:nth-child(3),.EmailIntegrationCardsmainbox:nth-child(4){
    flex-direction: column-reverse;
}
.EmailIntegrationCardsmaincontent{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    text-align: center;
    /* margin-left: 5%; */
}

.EmailIntegrationCardsimage{
    width: 90%;
}
}

