.FinanceContaintmaindiv {
  display: flex;
  flex-direction: column;
  /* border: 2px solid #ffff00; */
  justify-content: center;
  background-color: #ffedd4;
  margin-top: 3%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.FinanceContaintinnerdiv {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
}

.FinanceContaintinnerdivcontain {
  /* border: 2px solid red; */
  font-size: 18px;
  width: 65%;
}

/* this code is for the mobile resposive */

@media (max-width: 480px) {
  .FinanceContaintmaindiv {
    display: flex;
    flex-direction: column;
    /* border: 2px solid #ffff00; */
   
  }

  .FinanceContaintinnerdiv {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    width: 95%;
   
  
  }
  .FinanceContaintinnerdivimage{
width: 80%;

  }
  .FinanceContaintinnerdiv:nth-child(2){
    flex-direction: column-reverse;
  }

  .FinanceContaintinnerdivcontain {
    /* border: 2px solid red; */
   
    width: 95%;
  }
}

@media (min-width: 481) and (max-width: 1024px) {
  .FinanceContaintmaindiv {
    display: flex;
    flex-direction: column;
    /* border: 2px solid #ffff00; */
   
  }
  .FinanceContaintinnerdivimage {
    width: 80%;
    margin: auto;
  }
  .FinanceContaintinnerdiv {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
   
  }

  .FinanceContaintinnerdivcontain {
    /* border: 2px solid red; */
    font-size: 18px;
    width: 95%;
    text-align: center;
  }
  .FinanceContaintinnerdivcontain p {
    text-align: justify;
  }
}
