.RGcarRentalContainer {                                     
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.RGcarRentalHeaderLeft {
    width: 45%;
    margin-left: 5%;
}

.RGcarRentalHeaderLeft>h1{
    font-size: 40px;
}

.RGcarRentalHeaderLeft>p{
    font-size: 20px;
}

.RGcarRentalHeaderLeft>button{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 50px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 2% auto;
    background: #ef4c23;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    border: 2px solid #ef4c23;
    color: white;
}

.RGcarRentalHeaderLeft>button:hover{
    color: #ef4c23;
    background-color: white;
}

.RGcarRentalHeaderRight {
   width: 45%;
   
}