.RGgreyBoxContainer {

    display: flex;
    flex-wrap:wrap;
    row-gap: 20px;
    justify-content: space-between;
    width: 96%;
    margin: auto;
    padding: 2%;
    align-items: center;
}


.RGdivv {
  width: 30%;
  height: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  text-align: left;
  padding: 1%;
}

.RGdivv:hover {
  margin-top: 0; 
 transform: scale(1.02);
} 