.RGrenterAppContainer{
    position: relative;
    margin-top: 10%;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

.RGrenterAppTextDiv{
    position: absolute;
    height:auto;
    right: 15%;
    bottom: 100%;
    width: 36%;
    /* border: 2px solid gold; */
}


/* .RGrenterAppContainer2{
    display: flex;
    align-items: center;

} */


.RGrenterAppMobileLeftDiv{
    height: 450px;
    width: 50%;
    /* border: 2px solid red; */
    margin-left: 3%;
    background: url("/public/Images/Car-Rental-Page-Images/Ellipse2193.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  
}

.RGrenterAppMobileLeftDivFrameForImages{
   position: absolute;
    height: 100%;
    width: 40%;
    /* top: 9%; */
    left: 30%;
    /* border: 2px solid red; */
}

.RGrenterAppMobileLeftDivFrameForImages >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.RGrenterAppMobileRightDiv {
    display: flex;
    flex-wrap:wrap;
    row-gap: 20px;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    padding: 2%;
    align-items: center;
    /* border: 2px solid red; */
}

.RGrenterAppMobileRightDivBoxex{
    height:150px;
    width:40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #ec8b73;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    text-align: justify;
}
.RGrenterAppMobileRightDivBoxex>div>p{
    font-size: 14px;
}
.RGrenterAppMobileRightDivBoxex:hover {
    transform: scale(1.02);
    background-color: #ffebef;
}

.RGrenterSpan {
    color: #ef4c23;
}
