.rGWhyChooseBfContainer {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto;
  margin-top: 5%;
  height: fit-content;

}
.rGWhyChooseBFRightMainDiv {
  width: 45%;
  /* border: 1px solid red; */
}

.rGWhyChooseBfLeftMainDiv {
  margin-top: 3%;
  width: 45%;
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid grey;
  /* border: 1px solid red; */
}

.rGWhyChooseBfLeftBoxesDiv {
  width: 50%;
}

.rGWhyChooseBFDivForFlexIconHead {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rGWhyChooseBFDivForFlexIconHead > div > img {
  width: 50%;
}

.rGWhyChooseBfLoremPara {
  text-align: left;
  width: 60%;
  margin-left: 30%;
  text-align: justify;
}

.rGWhyChooseBFRightHRLine {
  width: 10%;
  height: 1px;
  background-color: red;
  margin-right: 2%;
}

.rGwhyChooseBFRightHRLine2 {
  width: 40%;
  height: 1px;
  background-color: black;
}

.rGWhyChooseBFRightHRLineContainer {
  display: flex;
}

.rGWhyChooseBFRightDivForText > h1 {
  font-weight: 500;
}

.rGWhyChooseBFRightDivForText > p {
  font-weight: 400;
  width: 80%;
  margin-top: 4%;
}
