.appbuildermakermainboxes{
    height: fit-content;
    padding-top: 5%;
background-color: white;
padding-bottom: 5%;
 
}

.appbuildermakeruppertxtbox{
    height: fit-content;
    width: 50%;
margin: auto;

 
}

.appbuildermakeruppertxtbox>h1{
    font-size: 40px;
}

.appbuilderbackgroundimagehavetoset{
    height: fit-content;
    width: 100%;
   

    top: 20%;
    background: url("/Images/Appbuildersolutions/Bannersbackgrounds/Rectangle 4749.png");
}

.appbuildermakerspecialtypeflexboxtypeA{
    display: flex;
    height: 30%;
    width: 90%;
   
    margin-top: 2%;
    margin-left: 3%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 10px;
}

.appbuildermakerspecialtypeflexboxtypeA:hover{
    transform: scale(1.02);
    background-color: #cbbaf7;
}

.appbuildermakerspecialtypeflexboxtypeAfortextA{
height: fit-content;
width: 100%;
text-align: justify;
margin: auto;

padding: 10px;
border-radius: 10px;
}

.appbuildermakerspecialtypeflexboxtypeAforimageA{
    height: 100%;
    width: 25%;


}
.appbuildermakerspecialtypeflexboxtypeAfortextA >h4{
    font-size: 18px;
}



.appbuildermakerspecialtypeflexboxtypeB{
    display: flex;
    height: 40%;
    width: 90%;

    margin-top: 2%;
    margin-left: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    border-radius: 10px;
}

.appbuildermakerspecialtypeflexboxtypeB:hover{
    transform: scale(1.02);
    background-color: #cbbaf7;
}

.appbuildermakerspecialtypeflexboxtypeAforimageB{
    
    height: 100%;
    width: 25%;

}

.appbuildermakerspecialtypeflexboxtypeAfortextB{
    height: fit-content;
width: 100%;
text-align: justify;

margin: auto;
padding: 10px;

}

.appbuildermakerspecialtypeflexboxtypeAfortextB>h4{
    font-size: 18px;
}

.appbuildermakerspecialtypeflexboxtypeAforimageA >img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.appbuildermakerspecialtypeflexboxtypeAforimageB >img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}