.developerPortalRegisterContainer{
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    margin-top: 3%;
}
.developerPortalRegImage{
    width: 82%;
    height: 400px;
    margin-left: 9%;
    /* border: 2px solid red; */
    position: relative;
}
.developerPortalRegText{
    /* border: 2px solid red;  */
    position: absolute;
    top: 25%;
    left: 5%;
}
.developerPortalRegText>button{
    color: white;
    background-color: #EF4C23;
    border: none;
    border-radius: 5px;
    width: 28%;
    height: 45px;
    margin-top: 2%;
}
.developerPortalRegText>button:hover{
    border: 2px solid #EF4C23;
    background-color: white;
    color: #EF4C23;
}
@media (max-width:480px){
    .developerPortalRegisterContainer{
        background-color: #fafafa;

    }
.developerPortalRegImage{
    height: auto;

}
.developerPortalRegText{
    position: initial;
    text-align: center;
    margin: 8% auto;
    padding: 3% 0;
}

.developerPortalRegText p{
    margin-bottom: 2%;
}
#PortalImage{
    display: none;
}
.developerPortalRegText>button{
    width: 40%;
    height: 40px;
    margin-bottom: 3%;
}
}