.eCommerceFeatsolMain {
  /* border: 1px solid red; */
  width: 90%;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eCommerceFeatsolContent > h1 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-bottom: 0%;
}

.eCommerceFeatsolContent > p {
  font-size: 16px;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 0%;
}

.eCommerceFeatsolCardsMain {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding: 30px;
  column-gap: 30px;
  row-gap: 30px;
  /* border: 2px solid red; */
}

.eCommerceFeatsolCardsMain > div {
  /* border: 1px solid rgba(0, 0, 0, 0.24); */
  width: 29%;
  border-radius: 10px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.eCommerceFeatsolCardsMain > div > h4 {
  font-size: 16px;
  margin-bottom: 0%;
  margin-top: 0%;
}

/* media query for mobiles and tablets devices */
@media (max-width: 1024px) {
  .eCommerceFeatsolMain {
    padding: 0;
    height: fit-content;
  }

  .eCommerceFeatsolContent > h1 {
    font-size: 32px;
    text-align: center;
  }

  .eCommerceFeatsolContent > p {
    font-size: 14px;
    text-align: justify;
  }

  .eCommerceFeatsolCardsMain {
    padding: 0;
    align-items: stretch;
    height: fit-content;
    margin-top: 5%;
  }

  .eCommerceFeatsolCardsMain > div {
    width: 35%;
  }

  .eCommerceFeatsolCardsMain > div > h4 {
    font-size: 16px;
  }

  .eCommerceFeatsolCardsMain > div p {
    font-size: 14px;
  }
}
