.sportspanels{
    width: 100%;
    /* padding: 30px 0; */
    /* margin-bottom: 10px; */
}

.headingpanel{
    width: 100%;
    text-align: center;
    /* background-color:#CCE3FC ; */
    /* padding: 30px; */
    margin-top: 20px;
}