.LandingSolutionParent{
    margin-top: 8%;
}
.LandingSolutionParent>h1{
    font-size: 34px;
    margin-bottom: 5%;
    text-align: center;
}
.LandingSolutionImage{
    width: 45%;
    margin: auto;
}

@media (max-width:480px) {
    .LandingSolutionImage{
        width: 90% ;
    }
    .LandingSolutionParent>h1{
        margin-top: 15%;
        width: 95%;
        font-size: 28px;
        margin-bottom: 5%;
        text-align: center;
    }
}