.aicontentapplicationmaiboxes{
    height: 20vh;
    border: 1px solid white;
    position: relative;
}

.aicontentapplicationsmalltypebanner{
    height: 30%;
    width: 80%;

    position: absolute;
    top: 2%;
    
}

.aicontentapplicationsmalltypebanner >img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.aicontentbannertextboxesupper{
    height: fit-content;

    margin-top: 5%;
 text-align: center;

}

/* for mobile screen responsive */

@media only screen and (min-width:0px) and (max-width:480px){

.aicontentapplicationmaiboxes{
    height: 20vh;
    border: 1px solid white;
    position: relative;
}

.aicontentapplicationsmalltypebanner{
    height: 10%;
    width: 95%;

    position: absolute;
    top: 2%;
    
}

.aicontentapplicationsmalltypebanner >img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.aicontentbannertextboxesupper{
    height: fit-content;

    margin-top: 5%;
 text-align: center;

}
.aicontentbannertextboxesupper>h1{
    font-size: 25px;
}

}

/* for any type of tablet screen responsive */

@media only screen and ( min-width:481px) and (max-width:900px){

    .aicontentapplicationmaiboxes{
        height: 20vh;
        border: 1px solid white;
        position: relative;
    }
    
    .aicontentapplicationsmalltypebanner{
        height: 15%;
        width: 80%;
    
        position: absolute;
        top: 2%;
        
    }
    
    .aicontentapplicationsmalltypebanner >img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .aicontentbannertextboxesupper{
        height: fit-content;
    
        margin-top: 5%;
     text-align: center;
    
    }



}