.hr {
  margin: 0px;
  padding: 0px;
  width: 85%;
}

.googleBusinessBannerParent {
  height: 100vh;
  width: 100%;
  display: flex;
margin-top: 4%;
  padding: 5%;

  padding-left: 7%;
}
.googleBusinessBannerone {
  width: 45%;
  height: 500px;
  margin-top: 2%;
}
.googleBusinessBannertwo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;

  margin-bottom: 70px;
  padding-top: 12%;

  padding-left: 5%;
}
.googleBusinessBannertwo > h1 {
  width: 100%;
  font-weight: 700;
}
.googleBusinessBannertwo > p {
  margin-top: 1%;
  width: 100%;

  color: #393939;
}
.googleBusinessBannertwo > button {
  width: 200px;
  height: 40px;
  margin-top: 3%;
  display: inline-block;
  background-color: #03c457;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 20px;
  text-decoration: white;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
}
.googleBusinessBannertwo > button:hover {
  background-color: white;
  color: #03c457;
  border: 1px solid #03c457;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}
@media (max-width: 480px) {
  .googleBusinessBannerParent {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 30%;

    flex-direction: column;
    
  }
  .googleBusinessBannerone {
   
    width: 100%;
    height: auto;
   margin: auto;

  }
  .googleBusinessBannertwo {
    padding: 0px;
    margin-right: 0px;
    width: 100%; 
    flex-direction: column; 
    padding-top: 10%;
    margin-left: 0%;
 gap: 15px;
    align-items: center;
    margin-bottom: 0%;
  }
  .googleBusinessBannertwo > h1 {
    width: 95%;
    
  }
  .hr{
    width: 85%;
    margin-right: 9%;

  }
  .googleBusinessBannertwo > p {
   
    width: 94%;
    font-size: 16px;
  }
 .googleBusinessBannertwo > button {
  height: 50px;
 }
}
