.hr {
  margin: 0px;
  padding: 0px;
}

.googleBusinessBannerParent {
  height: 100vh;
  display: flex;

  padding: 5%;

  padding-left: 7%;
}
.googleBusinessBannerone {
  width: 45%;
  height: 550px;
}
.googleBusinessBannertwo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;

  margin-bottom: 70px;
  padding-top: 12%;

  padding-left: 5%;
}
.googleBusinessBannertwo > h1 {
  width: 90%;
  font-weight: 700;
}
.googleBusinessBannertwo > p {
  margin-top: 1%;
  width: 70%;

  color: #393939;
}
.googleBusinessBannertwo > button {
  width: 200px;
  height: 40px;
  margin-top: 3%;
  display: inline-block;
  background-color: #03c457;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 20px;
  text-decoration: white;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
}
.googleBusinessBannertwo > button:hover {
  background-color: white;
  color: #03c457;
  border: 1px solid #03c457;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}
@media (max-width: 480px) {
  .googleBusinessBannerParent {
    width: 100%;
    height: auto;
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    padding: 0px;
  }
  .googleBusinessBannerone {
    margin-top: 15%;
    width: 100%;
    height: 50%;
    padding-right: 0px;
    margin-right: 0px;
  }
  .googleBusinessBannertwo {
    padding: 0px;
    margin-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-bottom: 70px;
    padding-top: 10%;
    margin-left: 0%;

    align-items: center;
  }
  .googleBusinessBannertwo > h1 {
    width: 75%;
    font-weight: 700;
    font-size: 32;
  }
  .googleBusinessBannertwo > p {
    margin-top: 2%;
    width: 70%;
    font-weight: 700;
    font-size: 20;
    color: #393939;
  }
  .googleBusinessBannertwo > button {
    width: 200px;
    height: 40px;
    margin-top: 5%;
    display: inline-block;
    background-color: #03c457;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 20px;
    text-decoration: white;
    color: aliceblue;
  }
}
