.hirringJdsCareermainDiv{
  /* border: 2px solid green; */
  height:135vh;
  width: 100%;
}
.hirringCareerMainBox{
  /* border: 2px solid blue; */
  background-color: #3380F2;
}
.hirringJdsCareerHeadingButtons{
    /* border: 2px solid green; */
    background-color: #e8f4ff;
    height: 50px;
    width: 100%;
    border: none;
    font-weight: 700;
}
.active{
    color: #393939;
    border-bottom: 2px solid #393939;
}
#hirringJdsCareerChangemainDiv{
   width: 100%;
   height: 80px;
   /* border: 1px solid lightgray; */
   /* background-color: #e8f4ff !important; */
   border-radius: 10px;
   /* border: 2px solid red; */
   justify-content: space-around;
}
#hirringJdsCareerbuttonouterDiv{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    /* border: 2px solid orangered; */
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

#hirringJdsCareerbuttonDiv1{
    /* border: 2px solid blue; */
    width: 18%;
    height: 90%;
    /* margin: auto; */
    /* margin-top: 1%; */
    border-radius: 15px;
}
#hirringJdsCareerbuttonDiv1>button{
  background-color: #ef4c24;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  border: 2px solid #ef4c24;
}
#hirringJdsCareerbuttonDiv1>button:hover{
  background-color: white;
  color: #ef4c24;
  border: 2px solid #ef4c24;
}
#hirringJdsCareerbuttonDiv2{
  /* border: 2px solid blue; */
  width: 18%;
  height: 90%;
  /* margin: auto; */
  /* margin-top: 1%; */
  border-radius: 15px;
}
#hirringJdsCareerbuttonDiv2>button{
  background-color: white;
  color: #ef4c24;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
#hirringJdsCareerbuttonDiv2>button:hover{
  background-color: #ef4c24;
  color: white;
  border: 2px solid #ef4c24;
}
#hirringJdsCareerbuttonDiv3{
  /* border: 2px solid blue; */
  width: 18%;
  height: 90%;
  /* margin: auto; */
  /* margin-top: 1%; */
  border-radius: 15px;
}
#hirringJdsCareerbuttonDiv3>button{
  background-color: white;
  color: #ef4c24;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
#hirringJdsCareerbuttonDiv3>button:hover{
  background-color: #ef4c24;
  color: white;
  border: 2px solid #ef4c24;
}
#hirringJdsCareerbuttonDiv4{
  /* border: 2px solid blue; */
  width: 18%;
  height: 90%;
  /* margin: auto; */
  /* margin-top: 1%; */
  border-radius: 15px;
}
#hirringJdsCareerbuttonDiv4>button{
  background-color: white;
  color: #ef4c24;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
#hirringJdsCareerbuttonDiv4>button:hover{
  background-color: #ef4c24;
  color: white;
  border: 2px solid #ef4c24;
}
#hirringJdsCareerbuttonDiv5{
  /* border: 2px solid blue; */
  width: 18%;
  height: 90%;
  /* margin: auto; */
  /* margin-top: 1%; */
  border-radius: 15px;
}
#hirringJdsCareerbuttonDiv5>button{
  background-color: white;
  color: #ef4c24;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
#hirringJdsCareerbuttonDiv5>button:hover{
  background-color: #ef4c24;
  color: white;
  border: 2px solid #ef4c24;
}
.hirringJdsCareerChangeableDataBannerdropcontainer {
    /* border: 1px solid red; */
    width: 30%;
    /* margin-left: 40%; */
    border: none;
    height:50px;
  }

  .hirringJdsCareerChangeableDataBannerdropcontainer select{
    font-size: 15px;
    height: 50px;
    border: 2px solid #dddddd78;
    background-color: #e8f4ff;
  }

  .hirringJdsCareerChangeableDataBannerdropcontainer select::placeholder{
    padding-top: 4px;
  }
  
  .hirringJdsCareerChangeableDataBannerdropcontainer1 {
    margin-left: 3%;
    width: 30%;
    height: 50px;
  }

  .hirringJdsCareerChangeableDataBannerdropcontainer1 p{
     height: 10px;
     color: #818090;
  }

  .hirringJdsCareerChangeableDataBannerdropcontainer1 select{
    font-size: 15px;
    height: 50px;
    padding: 5px 10px;
    border: 2px solid #dddddd78;
    background-color: #e8f4ff;
  }
  .hirringJdsCareerChangeableButton{
    /* border: 2px solid red; */
    width: 60%;
    height: 60px;
    display: flex;
    flex-direction: row;
    /* margin-left: 41%; */
    margin-top: 2%;
  }
  .visaTypeMainDiv{
    /* border: 2px solid salmon; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .hirringJdsCareerTypedetailsDiv{
    /* border: 2px solid red; */
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .hirringJdsCareerTypeDetailContainer{
    /* border:1px solid lightgray; */
    width: 95%;
    height: 160px;
    /* margin: auto; */
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
  }
  .hirringJdsCareerInformationDiv{
    /* border: 2px solid saddlebrown; */
    width: 70%;
    padding-left: 15px;
  }
  .hirringJdsCareerRate{
    color: gray;
    font-size: 15px;
    margin-top: 1%;
  }
  .hirringJdsCareerTypeofVisa{
    font-weight: 700;
    color: #393939;
    font-size: 18px;
    margin-top: -3%;
  }
  .hirringJdsCareerDescription{
    color: grey;
    margin-top: -3%;
    text-align: justify;
    font-size: 12px;
  }
  .hirringJdsCareerPrice{
    color: #393939;
    font-size: 14px;
    margin-top: -1%;
  }
  .visaPrice{
    color: #3380F2;
    font-weight: 700;
    font-size: 25px;
    margin-top: -3%;
  }
  .hirringJdsCareerAddtoCartDiv{
    /* border: 2px solid black; */
    width: 30%;
  }
  .hirringJdsCareerCartcounter{
    border: 2px solid lightgray;
    width: 60%;
    height: 40px;
    border-radius: 15px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    justify-content:space-between;
  }

  .hirringJdsCareeraddbutton{
    /* margin-right: 9%; */
    width: 19%;
    height: 25px;
    color: #3380F2;
    /* background-color: #3380F2; */
    /* border: 2px solid #3380F2; */
    border-radius: 35px;
    font-size: 25px;
    font-weight: 700;
    margin-left: 9%;
    text-align: center;
    /* margin-top: 4%; */
    cursor: pointer;
    /* padding-top: 2px; */
  }
  .hirringJdsCareersubtractbutton{
    margin-right: 9%;
    width: 19%;
    height: 25px;
    color: #3380F2;
    /* background-color: #3380F2; */
    /* border: 2px solid #3380F2; */
    border-radius: 22px;
    font-size: 25px;
    font-weight: 700;
    /* margin-left: -9%; */
    text-align: center;
    /* margin-top: 3%; */
    cursor: pointer;
  }
  .hirringJdsCareercountertext{
    font-size: 25px;
    font-weight: 700;
    color: #3380F2;
    /* margin-left: 15%; */
  }
  .hirringJdsCareerAddtocartButton{
    background-color: #3380F2;
    color: white;
    font-weight: 600;
    font-size: 18px;
    width: 60%;
    height: 40px;
    margin-top: 10%;
    padding:8px 18px;
    margin-left: 20%;
  }
  .hirringJdsCareerAddtocartButton :hover{
    background-color: white;
    color: #3380F2;
    border: 2px solid #3380F2;
    cursor: pointer;
  }

  
  .hirringJdsCareerTypecontactDiv{
    /* border: 2px solid gold; */
    width: 35%;
    margin-top: -4.5%;
  }



.hirringJdsCareerDocumentMainDiv{
  /* border: 2px solid black; */
  height: auto;
  width: 80%;
}
.hirringJdsCareerDocumentHeading{
  font-weight: 700;
  font-size: 25px;
  margin-top: 1%;
  /* margin-left: 4%; */
  color: #393939;
}
.hirringJdsCareerDocumentContainer{
  width: 90%;
  margin-top: 3%;
  height: auto;
  border: 2px solid lightgray;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #393939;
}
.hirringJdsCareerDoumentsLists{
  list-style-type:disc;
  margin-top:3%;
  margin-left: 3%;
}
.hirringJdsCareerprocessMainDiv{
  /* border: 2px solid red; */
  width: 80%;

}
.hirringJdsCareerProcessheading{
  color: #393939;
  font-size: 28px;
  font-weight: 700;
  width: 80%;
  margin-top: 1%;
  margin-left: 5%;
  /* border: 2px solid red; */
}
.hirringJdsCareerProcesscontainerDiv{
  /* border: 2px solid black; */
  width: 90%;
  height: 150px;
  margin: auto;
  margin-top: 7%;
  object-fit: cover;
  background-size: cover;
}
.hirringJdsCareerProcessImage{
  width: 100%;
  height: 100%;
}
.visainnerSample{
  /* border: 2px solid green; */
  width: 80%;
  height: 550px;
  /* margin: auto; */
}
.visainnerImageDiv{
  border: 2px solid lightgray;
  width: 45%;
  height: 100%;
  margin: auto;
}
.visainnerImageDiv img{
  width: 100%;
  height: 100%;
}
.visaInnerEmbasy{
  width: 80%;
  /* border: 2px solid red; */
}
.visaInnerEmbasyLinks{
  width: 70%;
  height: 100px;
  /* border: 2px solid gold; */
  margin-top: 2%;
}
.visaInnerEmbasyHeadings{
  color: #393939;
  font-weight: 700;
  font-size: 20px;
}
.VisaEmbasyLinks{
  font-size: 15px;
  color: #818090;
  list-style-type: square;
  /* font-weight: 700; */
}

.hirringProcessMain{
  /* border: 2px solid red; */
  width: 100%;
  /* height: 100vh; */
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
.hirringHeading{
  /* border: 2px solid red; */
  text-align: center;
  width: 100%;
  font-weight: 700;
  /* color: #ef4c24; */
  font-size: 25px;
}
.hirringHeading>h2{
  font-weight: 600;
}
.hirringProcessImage{
  width: 80%;
  height: 250px;
  /* border: 2px solid red; */
  margin-left: 9%;
  margin-top: 2%;
}
.hirringProcessButtons{
  /* border: 2px solid red; */
  width: 50%;
  height: 100px;
  margin: auto;
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hirringProcessButtons1{
  /* border: 2px solid red; */
  width: 40%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: #ef4c24;
}
.hirringbuttonImage1{
  /* border: 2px solid red; */
  width: 22%;
  height: 75%;
  margin: auto;
}
.hirringButtonText{
  /* border: 2px solid red; */
  width: 70%;
  color: white;
  padding: 10px;
}
.hirringProcessButtons2{
  border: 2px solid #ef4c24;
  width: 40%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  /* background-color: #ef4c24; */
}
.hirringbuttonImage2{
  /* border: 2px solid red; */
  width: 22%;
  height: 75%;
  /* margin: auto; */
  margin: 4%;
}
.hirringButtonText2{
  /* border: 2px solid red; */
  width: 70%;
  color: #ef4c24;
  padding: 10px;
}

.hirringDropdown_container {
  width: 95%;
  margin: auto;
  border-radius: 8px;
  margin-top: 5%;
  height: fit-content;
  border: 1px solid lightgray;
}

.hirringmaincontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  gap: 5%;
  /* border: 2px solid; */
}

.hirringdropdowncontext {
  /* border-radius: 9px; */
  color: #393939;
  border: 1px solid transparent;
  background-color: #fff9f4;
  /* color: white; */
  /* height: 70px; */
  /* border: 2px solid blue; */
}

.hirringdropdowncontext > h2 {
  font-size: 0px;
  /* height: 70px; */
  border-bottom: 2px solid lightgray;
  /* border: 2px solid red; */
  margin: 0%;
  margin-top: 2%;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.hirringdropdownmaincontainer1 {
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: none;
  /* border: 2px solid yellow; */
}
.hirringdropdowncontextouter{
  width: 70%;
  /* border: 2px solid red; */
  margin-left: 1%;
}
.hirringdropdownmaincontainer2 {
  margin-top: 2%;
  color: whitesmoke;
  width: 50%;
  /* border: 2px solid red; */
}

.hirringHeading {
  font-size: 27px;
  font-weight: 700;
  padding-left: 20px;
  text-align: center;
  color: #ef4c24;
}

.hirringdropdownDivContext>h4 {
  background-color: whitesmoke;
  color: #393939;
  font-size:20px;
}
  
.hirringmaincontainer1{
  /* border: 2px solid red; */
  /* height: 500px; */
  width: 40%;
  margin-left: 5%;
  /* margin-top: 2%; */
}
.hirringouterDiv{
  background-color: #f5f5f5;
  /* border: 1px solid red; */
  width: 85%;
  border-radius: 10px;
  margin-left: 13%;
  display: flex;
  flex-direction: column;
}
.hirringouterDiv>h4{
  /* border: 2px solid red; */
  padding-top: 15px;
  padding-left: 35px;
}
.hirringouterDiv>input{
  border: 1px solid lightgray;
  height: 50px;
  border-radius: 8px;
  padding-left: 15px;
  width: 85%;
  margin: auto;
  margin-top: 4%;
}
.hirringouterDiv>label{
  margin: 4% 0% 0% 8%;
}
.hirringouterDiv>textarea{
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 85%;
  margin: auto;
  margin-top: 5%;
  padding: 15px;
}
.hirringouterDiv>p{
  /* border: 2px solid red; */
  width: 85%;
  margin: auto;
  margin-top: 2%;
}
.hirringChooseFile{
  padding: 2%;
}
.hirringouterDiv>button{
  border: none;
  background-color: #ef4c24;
  width: 80%;
  margin: auto;
  color: white;
  border-radius: 5px;
  margin-top: 2%;
  height: 45px;
  margin-bottom: 5%;
  font-weight: 600;
  border: 2px solid #ef4c24;
}
.hirringouterDiv>button:hover{
  background-color: white;
  border: 2px solid #ef4c24;
  color: #ef4c24;
}

@media(max-width:480px){
  .hirringProcessMain{
      /* border: 2px solid red; */
      margin-top: 80%;
      position:static;
  }
  .hirringProcessImage{
      width: 90%;
      height: 100px;
      /* border: 2px solid red; */
      margin:auto;
  }
  .hirringmaincontainer {
      /* border: 2px solid green; */
      display: flex;
      flex-direction: column-reverse;
    }
    .hirringmaincontainer1{
      width: 100%;
      margin: auto;
      /* border: 2px solid yellow; */
    }
    .hirringouterDiv{
      width: 85%;
      margin: auto;
    }
    .hirringdropdownmaincontainer1{
      width: 80%;
      margin: auto;
    }
}