.ollyNeoMainDiv {
  /* border: 2px solid red; */
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}
.ollyNeoImage1 {
  /* border: 2px solid red; */
  width: 100%;
  height: 500px;
  position: relative;
}
.neoAnimationHomePage {
  /* border: 2px solid red; */
  width: 50%;
  height: 100%;
}
.ollyNeoImage2 {
  /* border: 2px solid red; */
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  position: relative;
}
.ollImageMainPage {
  width: 50%;
  position: absolute;
  left: 35%;
}
.ollyNeoContent1 {
  position: absolute;
  top: 32%;
  left: 55%;
  width: 40%;
}
.ollyNeoContent2 {
  /* border: 2px solid red; */
  width: 35%;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 20%;
}

.ollyNeoContentButton {
  position: absolute;
  left: 1%;
  /* top: 50%; */
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #ef4c23;
  outline: none !important;
  border: none;
}

.ollyNeoContentButton:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid #ef4c23;
  color: #ef4c23;
}

.ollyMainPageContentButton {
  position: absolute;
  left: 1%;
  /* top: 50%; */
  padding: 7px 20px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #ef4c23;
  outline: none !important;
  border: none;
}

.ollyMainPageContentButton:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid #ef4c23;
  color: #ef4c23;
}

@media (max-width: 480px) {
  .ollyNeoImage1 {
    height: 200px;
    /* border: 2px solid green; */
  }
  .ollyNeoContent1 {
    /* border: 2px solid red; */
    width: 50%;
    top: 0%;
    left: 51%;
    padding: 10px;
  }
  .ollyNeoContent1 > h2 {
    font-size: 20px;
  }

  .ollyNeoContent1 > p {
    font-size: 10px;
  }

  .ollyNeoContent2 {
    /* border: 2px solid red; */
    width: 55%;
    top: 0%;
    left: 5%;
    padding: 10px;
  }

  .ollyNeoContent2 > h2 {
    font-size: 20px;
    width: 70%;
  }

  .ollyNeoContent2 > p {
    font-size: 10px;
    /* width: 70%;   */
  }
  .ollyNeoImage2 {
    /* border: 2px solid blue; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
  }
}
