.UIDesingBannercontainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to Right, #ef4c23, #fed490);
}

.UIDesingBannercontent {
  width: 45%;
  color: white;
}

.UIDesingBannercontent > h1 {
  font-size: 40px;
}

.UIDesingBannercontent > p {
  font-size: 20px;
  text-align: justify;
}

.UIDesingBannercontent > button {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 50px;
  margin-top: 3%;
  cursor: pointer;

  border-radius: 50px;
  border: 2px solid white;
  outline: none;
  color: #ef4c23;
}

.UIDesingBannercontent > button:hover {
  color: white;
  background: #ef4c23;
}

.UIDesingBannermain {
  position: relative;
  width: 45%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UIDesingBannermain > img {
  position: absolute;
  width: 90%;
}

.UIDesingBannermain > img:nth-child(2) {
  z-index: 0;
}

.UIDesingBannermain > img:nth-child(1) {
  z-index: 1;
}
