.eCommerceBannerMain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;
  height: 700px;
}

.eCommerceBannerContent {
  width: 40%;
}

.eCommerceBannerContent > h1 {
  width: 100%;
  font-size: 35px;
}

.eCommerceBannerContent > p {
  width: 100%;
  font-size: 16px;
  margin-bottom: 25px;
  text-align: justify;
}
.eCommerceBannerContent > button {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #ef4c23;
  border-radius: 25px;
  padding: 10px 60px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.eCommerceBannerContent > button:hover {
  background-color: white;
  color: #ef4c23;
  /* box-shadow: none; */
}

.eCommerceBannerImage {
  width: 45%;
}

.eCommerceBannerImage > img {
  width: 100%;
}

/* media query for mobiles and tablets devices */
@media (max-width: 1024px) {
  .eCommerceBannerMain {
    flex-direction: column-reverse;
    align-items: center;
    height: fit-content;
  }

  .eCommerceBannerContent {
    width: 90%;
    height: fit-content;
  }

  .eCommerceBannerContent > h1 {
    font-size: 32px;
    text-align: center;
  }

  .eCommerceBannerContent > p {
    font-size: 14px;
    text-align: justify;
  }

  .eCommerceBannerContent > button {
    font-size: 16px;
    padding: 10px 20px;
  }

  .eCommerceBannerImage {
    width: 95%;
    height: fit-content;
  }
}
