.cryptoadminpannelmainboxing {
  height: fit-content;

  display: flex;
}

.cryptocurrencyadminleftboxing {
  height: 70%;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 2%;
}

.cryptoadminboxingindivisually {
  height: auto;
  width: 44%;
  margin: 1%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  /* border: 2px solid gold; */
}

.cryptoadminboxingindivisually:hover {
  transform: scale(1.02);
  background-color: #fbf9c6;
}

.cryptoadminboxingindivisuallylogo {
  height: 18%;
  width: 15%;
  /* border: 2px solid red; */
}

.cryptoadminboxingindivisuallylogo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cryptoadminboxingindivisuallyfortxt {
  width: 100%;
  margin-left: 1%;
  /* text-align: justify; */
  /* border: 2px solid green; */
}
.cryptoadminboxingindivisuallyfortxt>h4{
  /* border: 2px solid red; */
  margin-top: 1%;
}
.cryptoadminboxingindivisuallyfortxt>p{
  /* border: 2px solid red; */
  margin-top: 1%;
  font-size: 14px;
}
.cryptocurrencyadminrightboxing {
  width: 55%;
  margin: 2%;
  overflow: hidden;
  height: 100%;
  background-image: url("/Images/Cryptocurrencypage/bannerbackground/Rectangle4416.png");
  background-repeat: no-repeat;
}

.cryptoadminpannelrightboxingfortab {
  height: 80%;
  width: 100%;

  margin-left: 9%;
  margin-top: 5%;
}

.cryptoadminpannelrightboxingfortab > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
