.AutomateTaskmaindiv{
    /* border: 2px solid green; */
    width: 90%;
    margin: auto;
    /* margin-top: 5%; */
    display: flex;
    flex-direction: column;

}
.AutomateTaskinnerdiv{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: center;


}
.AutomateTaskdiv1{
    /* border: 2px solid red; */
    width: 60%;
    margin-right: 2%;

}
.AutomateTaskimage{
    /* border: 2px solid pink; */
    width: 50%;
    height: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.AutomateTaskdiv2{
    /* border: 2px solid red; */
    width: 60%;
    margin-left: 2%;

}