.hr{
  margin: 0px;
  padding: 0px;
}

.journeyParent{
   
   
    height: 100vh;
    display: flex;
   background-color:whitesmoke;

}
.journeyone{
   
    width: 50%;
    
}
.journeytwo{
   
    width: 50%;
   display: flex;
   flex-direction: column;
   align-items: left;
 
  margin-bottom: 70px;
  padding-top: 18%;
 margin-left: 10%;
 
   
}
.journeytwo>h1{
   
    width: 75%;
    font-weight: 700;
    
}
.journeytwo>p{
   
    margin-top: 1%;
    width: 70%;
   
  color: #393939;
}
.journeytwo>button{
    width: 200px;
    height: 40px;
    margin-top: 3%; 
    display: inline-block;
    background-color: #F88F1F;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 20px;
    text-decoration: white;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
  
  
}
.journeytwo>button:hover{
  background-color: white;
  color: #ef4c23;
  border: 1px solid #ef4c23;
}
@media(max-width:780px){
  .journeyParent{
    width: 100%;
    height: auto;
    display: flex;
   background-color:whitesmoke;
   flex-direction: column;
 

}
.journeyone{
   
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
   
}
.journeytwo{
  padding-right: 0px;
  margin-right: 0px;
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: left;
 
  margin-bottom: 70px;
  padding-top: 10%;
 margin-left: 0%;
 text-align: center;
 align-items: center;
   
}
.journeytwo>h1{
   
    width: 75%;
    font-weight: 700;
    font-size: 32;
}
.journeytwo>p{
   
    margin-top: 2%;
    width: 70%;
    font-weight: 700;
    font-size: 20;
  color: #393939;

  
}
.journeytwo>button{
    width: 200px;
    height: 40px;
    margin-top: 5%; 
    display: inline-block;
    background-color: #F88F1F;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 20px;
    text-decoration: white;
  color: aliceblue;
  
}
}
