.hr{
  margin: 0px;
  padding: 0px;
}

.journeyParent{
    height: 100vh;
    display: flex;
   background-color:whitesmoke;
}
.journeyone{
    width: 50%;
}
.journeytwo{
    width: 50%;
   display: flex;
   flex-direction: column;
   align-items: left;
  padding-top: 18%;
 margin-left: 10%;  
}
.journeytwo>h1{
    width: 85%;
    font-weight: 700; 
}
.journeytwo>p{
   font-size: 20px;
    margin-top: 1%;
    width: 80%;
  color: #393939;
}
.journeytwo>button{
    width: 200px;
    height: 40px;
    margin-top: 3%; 
    display: inline-block;
    background-color: #F88F1F;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 20px;
    text-decoration: white;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
  
  
}
.journeytwo>button:hover{
  background-color: white;
  color: #ef4c23;
  border: 1px solid #ef4c23;
}
@media(max-width:780px){
  .journeyParent{
    width: 100%;
    height: 680px;
    display: flex;
   background-color:whitesmoke;
   flex-direction: column;
   margin-top: 20%;
}
.journeyone{
    width: 100%;
}
.journeytwo{
    width: 95%;
   display: flex;
   flex-direction: column;
 margin: auto;
 padding-top: 0%;
}
.journeytwo>h1{
    font-weight: 500;
    font-size: 28px;
    margin: auto;
    width: 100%;
   margin-top: 5%;
}
.journeytwo>p{
    margin-top: 3%;
   width: 100%;
    font-size: 20;
  color: #393939;
}
.journeytwo>button{
    width: 180px;
    height: 40px;
    margin: auto;
    margin-top: 3%; 
    display: inline-block;
    background-color: #F88F1F;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 20px;
    text-decoration: white;
  color: aliceblue;
  
}
}
