.getStarted {
  width: 99%;
  height: 120px;
  background: url("/Images/webdevmain/getstartedBanner.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0.3px solid #ef4c23;
  margin: 2% 0 0;
}

.getText {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

.getText > p {
  width: 53%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 30%;
  margin: auto;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
}

.getText > button {
  position: absolute;
  transform: translate(9%, -50%);
  top: 50%;
  right: 9%;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.getText > button:hover {
  background-color: #982508;
  color: white;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .getStarted {
    width: 100%;
    height: 120px;
    background: url("/Images/webdevmain/getstartedBanner.png");
    background-position: center;
    background-size: 150% 100%;
    background-repeat: no-repeat;
    border: 0.3px solid #ef4c23;
    margin-top: 5%;
  }
  .getText {
    width: 80%;
    height: 100%;
    text-align: justify;
    position: relative;
  }
  /* .getText>p{
    font-size: 15px;
  } */
  .getText > p {
    width: 53%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    margin: auto;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
  }

  .getText > button {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 22%;
    right: -30%;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    border-radius: 10px;
  }

  .getText > button:hover {
    background-color: #982508;
    color: white;
  }
}

@media only screen and (min-width: 480px) and (max-width: 900px) {
  .getStarted {
    width: 100%;
    height: 120px;
    background: url("/Images/webdevmain/getstartedBanner.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0.3px solid #ef4c23;
  }

  .getText {
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
  }

  .getText > p {
    width: 53%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 20%;
    margin: auto;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
  }

  .getText > button {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 9%;
    right: -15%;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    background-color: white;
    border-radius: 10px;
  }

  .getText > button:hover {
    background-color: #ef4c23;
    color: white;
  }
}
