
.ResolutionWaymaindivheading{
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 2%;
}
.ResolutionWaymaindivcards{
    width: 90%;
    border-bottom: 1px solid lightgrey;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    

}
.ResolutionWaymaindivcardsbox{
    border-right: 1px solid lightgrey;
    width: 25%;
    padding: 1%;
}
.ResolutionWaymaindivcardsboximage{
    width: 70px;
    height: 60px;
    /* padding: 20px; */
    margin: auto;
}
@media(max-width:480px){
    .ResolutionWaymaindivheading{
        width: 90%;
        margin-top: 4%;
    }
    .ResolutionWaymaindivcards{
        flex-direction: column;
       
    }
    .ResolutionWaymaindivcardsbox{
        width: 80%;
        border: none;
        margin-top: 10%;
    }
    .ResolutionWaymaindivcardsbox>h6{
        font-size: 24px;
        
    }
    .ResolutionWaymaindivcards{
        border: 1px solid transparent;
    }
    
}