.ourDesignersMain {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
  /* border: 2px solid red; */
}

.designersHeading > h3 {
  font-size: 32px;
  font-weight: 700;
  padding-top: 2%;
  text-align: center;
  /* border: 2px solid red; */
}

.ourDesignerscontain {
  margin-top: 3%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  /* border: 2px solid green; */
}

.ourDesignersdiv {
  width: 20%;
  border-radius: 10px;
  height: auto;
  margin-top: 2%;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* border: 2px solid blue; */
}
/* .ourDesignersdiv:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
} */
.ourDesignersdiv:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
}
.ourDesignersimg {
  padding: 10px;
  /* border: 2px solid gold; */
}

.ourDesignerscontent {
  text-align: center;
  padding: 20px;
  /* border: 1px solid black ; */
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.ourDesignerscontent > h6 {
  font-size: 17px;
  font-weight: 500;
  height: 20px;
  /* border: 2px solid red; */
  margin-left: 1%;
}

.ourDesignerscontent > p {
  height: 130px;
  height: fit-content;
  font-size: 13px;
  /* font-size: 14px !important; */
  font-weight: 400;
  margin-left: 1%;
  /* border: 2px solid yellow; */
}

.lower {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -10%;
  /* border: 2px solid green; */
  text-align: center;
}

.lower > h6 {
  font-size: 17px;
  padding-top: 20px;
  margin-left: 23%;
  /* border: 1px solid red; */
}

.lower > span {
  padding-top: 11px;
  line-height: 10px;
  padding-left: 4px;
  margin-right: 8%;
}
.socialIcons{
  justify-content: space-around;
}
@media (max-width: 480px) {
  .ourDesignersdiv {
    margin-top: 4%;
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .ourDesignersdiv {
    width: 90%;
  }
}
