.selfServicesContentParentDiv {
  margin-top: 4%;
  margin-bottom: 3%;
}

.selfServicesContentHeadingDiv {
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.selfServicesContentHeadingDiv>h1>span {
  color: #ef4c23;
}

.selfServicesContentContentDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2%;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

.selfServicesContentContentDiv>div {
  width: 40%;
  border-radius: 10px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.selfServicesContentContentDiv>div:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selfServicesContentContentDiv>div>h3 {
  margin-top: 3%;
}

.selfServicesContentContentDiv>div>div>img {
  width: 95%;
  object-fit: cover;
  margin-bottom: 3%;
}

.selfServicesContentContentButton {
  color: #ef4c23;
}

@media (max-width: 1024px) {
  .selfServicesContentContentDiv {
    flex-direction: column;
  }

  .selfServicesContentContentDiv>div {
    width: 90%;
    text-align: center;
  }

  .selfServicesContentContentDiv>div>h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 1%;
  }

  .selfServicesContentContentDiv>div>p {
    font-size: 14px;
    line-height: 20px;
  }

  .selfServicesContentContentButton {
    margin: 2% 0;
  }
}