.enterpriseBFChatService{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 35px solid #03C457;
}
.enterpriseBFChatServiceImage{
    /* border: 2px solid red; */
    width:35%;
    height: 500px;
    margin-top: 1%;
    margin-left: 5%;
}

.enterpriseBFChatHeading{
    /* border: 2px solid red; */
    width: 45%;
    margin-top: 7%;
    margin-left: 7%;
}
.enterpriseBFChatHeading>h3{
    font-size: 30px;
}
.enterpriseBFChatHeading>p{
    font-size: 18px;
    
}
.enterpriseBFChatHeading>ul>li{
    font-size: 17px;
    
}
.enterpriseBFChatHeading>button{
    background-color: #03C457;
    color: white;
    border: none;
    /* border: 2px solid #EF4C23; */
    width: 30%;
    height: 45px;
    border-radius: 8px;
    margin-top: 4%;
}
.enterpriseBFChatHeading>button:hover{
    background-color: transparent;
    border: 2px solid #03C457;
    color: #03C457;
}
.enterpriseBFChatButton{
    margin-left: 2%;
}
@media(max-width:480px){
    .enterpriseBFChatService{
        flex-direction: column;
    }
    .enterpriseBFChatServiceImage{
        width: 80%;
        height: auto;
    }
    .enterpriseBFChatHeading{
        width: 80%;
     
    }
}