.colaborationbuildingmainboxes{
height: fit-content;
margin-top: 3%;
}

.colaborationbuildingmainboxes>h1{
text-align: center;
width: 60%;
margin: auto;
padding-bottom: 1%;
border-bottom: 1px solid #ef4c23;
}

.colaborationbuildingmainboxes>p{
text-align: center;
font-size: 20px;
margin-top: 2%;
}

.colaborationdatamappingbox{
width: 65%;
height: fit-content;
margin: 3% auto;

display: flex;
justify-content: space-between;
}

.colaborationdaataindibox{
width: 30%;
margin: 1%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 10px;
border-radius: 10px;

}

.colaborationdaataindibox:hover{
    transition: all 0.2s linear;
transform: translateY(-10px);
background-color: #f5f5f5;
}
.colaborationiconboxes{
height: 40%;
width: 40%;
   
margin: auto;
}

.colaborationtxtbox>p{
text-align: justify;
}

.colaborationtxtbox>h4{
text-align: center;
}

@media only screen and (min-width:0px) and (max-width:600px){

.colaborationbuildingmainboxes{
height: fit-content;
margin-top: 3%;

}

.colaborationbuildingmainboxes>h1{
text-align: center;
width: 90%;
margin: auto;
padding-bottom: 3%;

}

.colaborationbuildingmainboxes>p{
text-align: center;
width: 90%;
margin:3% auto;
}

.colaborationdatamappingbox{
width: 100%;
height: fit-content;
margin: auto;
margin-top: 5%;
display: flex;
flex-wrap: wrap;

}

.colaborationdaataindibox{
width: 80%;
margin: auto;
margin-top: 5%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 12px;
border-radius: 10px;
}

.colaborationdaataindibox:hover{
    transition: all 0.2s linear;
transform: translateY(-10px);
background-color: #f5f5f5;
}

.colaborationiconboxes{
    height: 30%;
    width: 30%;
       
    margin:3% auto;
    }
    
.colaborationtxtbox>p{
text-align: justify;
}

.colaborationtxtbox>h4{
text-align: center;
}



}
