.colaborationbuildingmainboxes{
    height: fit-content;
    margin-top: 3%;
}

.colaborationbuildingmainboxes>h1{
    text-align: center;
    width: 40%;
    margin: auto;
    border-bottom: 1px solid #ef4c23;


}

.colaborationbuildingmainboxes>p{
    text-align: center;
}

.colaborationdatamappingbox{
    width: 60%;
    
    height: fit-content;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.colaborationdaataindibox{
width: 30%;
margin: 1%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 10px;
border-radius: 10px;
}

.colaborationiconboxes{
    height: 40%;
    width: 40%;
   
    margin: auto;
}

.colaborationtxtbox>p{
    text-align: justify;
}

.colaborationtxtbox>h4{
    text-align: center;
}