.colaborationexpmainboxes{
    height: 70vh;
    border: 1px solid transparent;
    margin-top: 2%;
    background-color: #f5f5f5;
}

.colaborationexpmainboxes>h1{
    text-align: center;
    margin-top: 2%;
}

.colaborationexpmainboxes>p{
    text-align: center;
    margin-top: 2%;
    font-size: 18px;
}

.colaborationexperienceimagebox{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

@media only screen and (min-width:0px) and (max-width:600px){

.colaborationexpmainboxes{
    height: 38vh;
    border: 1px solid transparent;
    margin-top: 5%;
    padding-top: 2%;
   
    background-color: #f5f5f5;
}

.colaborationexpmainboxes>h1{
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
}

.colaborationexpmainboxes>p{
    text-align: center;
    margin-top: 2%;
}

.colaborationexperienceimagebox{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}


}