.messaginglowerbannermainboxes{
    height: 40vh;
  
    background: url("https://d3op2l77j7wnti.cloudfront.net/Images/Messaging channels/components/Group 1000006017.webp");
    background-repeat: no-repeat;
    }
    
    .messaginlowerbannertxt{
    color: white;
    padding-top: 5%;
     text-align: center;
     margin-top: 5%;
    }
    
    .lowerbannerbutton{
    display: flex;
    margin: auto;
    height: 50px;
    width: 30%;
    justify-content: space-evenly;
    }
    
    .massaginglowerbannerbuttonone {
    padding: 5px 5px;
    border-radius: 100px;
    width: 200px;
    background-color: #ef4c23;
    border: 1px solid transparent;
    outline: none;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    font-size: 14px;
    font-weight: 600;
    color: white;
    }
      
    .massaginglowerbannerbuttonone:hover {
    background-color: white;
    color:  #ef4c23;
    border: 1px solid #ef4c23;
    }
    
    @media only screen and (min-width:0px) and (max-width:600px){
    
    .messaginglowerbannermainboxes{
    height: 30vh;
 
   margin-bottom: 5%;
    }
    
    .messaginlowerbannertxt{
    color: white;
     text-align: center;
     margin-top: 5%;
    }
    
    
    .lowerbannerbutton{

    width: 80%;
    }
    
    .massaginglowerbannerbuttonone {
    margin-right: 3%;
    width: 150px;
    height: 40px;

    margin-top: 5%;
    
    }
      
    
    
    
    
    }
    