.collaborationbannermainboxes{
    height: 100vh;
    border: 1px solid transparent;
    display: flex;
    border-bottom: 20px solid #ef4c23;
}
.collaborationbannerleftbox{
    margin-top: 5%;
    width: 45%;
}
.collaborationbannerrightbox{
    width: 40%;
    height: fit-content;
 
   margin:18% auto;
    color: black;
}



.collaborationbannerbutton {
    padding: 10px 50px;
    border-radius: 100px;
    width: 220px;
    background-color: #ef4c23;
    border: 1px solid #ef4c23;
    outline: none;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 4%;
  }
  
  .collaborationbannerbutton:hover {
    background-color: white;
    color: #ef4c23
  }

  @media only screen and (min-width:0px) and (max-width:600px){
.collaborationbannermainboxes{
    height: fit-content;
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 20px solid #ef4c23;
}
.collaborationbannerleftbox{
    height: 300px;
    width: 100%;
    margin: auto;
     margin-top: 15%;
 
}
.collaborationbannerrightbox{
    width: 90%;
    height: fit-content;
    margin:auto;
    margin-top: 0%;
    margin-bottom: 4%;
   
    color: black;

    padding: 5px;
}




.collaborationbannerbutton {
    margin-left: 17%;
  }
  
  .collaborationbannerbutton:hover {
    background-color: white;
    color: #ef4c23
  }


}
