.engagementProcessContainer {
  height: fit-content;
  background-color: black;
  border: 1px solid transparent;
  border-bottom: 8px solid #ef4c23;
  margin-top: 2%;
  margin-bottom: 3%;
  padding-bottom: 6%;
}

.engagementProcessContainer > div {
  width: 90%;
  margin: auto;
  background-color: white;
  margin-top: -8%;
  text-align: center;

  position: relative;
  z-index: 1;
  border: 8px solid #ef4c23;
}

.engagementProcessContainer > div > h1 {
  font-size: 35px;
  margin-top: 2%;
}

.engagementProcessContainer > div > h1 > span {
  color: #ef4c23;
}

.engagementProcessContainer > div > p {
  font-size: 18px;
  width: 90%;
  margin: 2% auto;
}

.engagementProcessContainer > div > hr {
  width: 95%;
  margin: 2% auto;
}

.engagementProcessMain {
  width: 90%;
  margin: 2% auto 4%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.engagementProcessMain > p {
  width: 45%;
  font-size: 20px;
  text-align: justify;
}

.engagementProcessMain > ul {
  width: 45%;
  text-align: left;
  font-size: 20px;
}

.engagementProcessMain > div {
  width: 30%;
}

.engagementProcessMain > div > img {
  width: 100%;
}
