.InsuranceSalesScreensmaindiv {
  /* border:  2px solid red; */
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  margin: auto;
  margin-top: 6%;
  justify-content: space-between;
  align-items: center;
}

.InsuranceSalesScreensmaindiv:nth-child(even) {
  flex-direction: row;
}
.InsuranceSalesScreensmaincontaindiv h2 {
  font-size: 40px;
}

.InsuranceSalesScreensmaincontaindiv {
  /* border: 2px solid green; */
  width: 50%;
}

.InsuranceSalesScreensmainimagediv {
  border: 1px solid lightgray;
  width: 45%;
  height: auto;
  margin-left: 2%;
  border-radius: 10px;
  /* margin-top: 1%; */
}

.Productivitymore {
  border-radius: 10px;

  margin-top: 2%;
  background-color: transparent;
  color: #ef4c23;
  border: none;
  font-size: 20px;
}
.Productivitymore:hover {
  text-decoration: underline;
}


/* this code is for the mobile resposive */

@media (max-width: 480px) {
  .InsuranceSalesScreensmaindiv {
    /* border:  2px solid red; */
    display: flex;
    flex-direction: column;
  }
  
  .InsuranceSalesScreensmaindiv:nth-child(even) {
    flex-direction: column;
  }
  .InsuranceSalesScreensmaincontaindiv h2 {
    font-size: 30px;
    text-align: center;
  }
  .InsuranceSalesScreensmaincontaindiv {
    /* border: 2px solid green; */
    width: 95%;
    margin: auto;
    margin-left: 0;
  }

  .InsuranceSalesScreensmainimagediv {
    width: 95%;
    height: fit-content;

    margin:3% auto;
    /* margin-top: 1%; */
  }

 
}
