.InsuranceSalesScreensmaindiv {
  /* border:  2px solid red; */
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-top: 6%;
}

.InsuranceSalesScreensmaindiv p {
  font-size: 18px;
  margin-top: 30px;
}

.InsuranceSalesScreensmaincontaindiv {
  /* border: 2px solid green; */
  width: 60%;
}

.InsuranceSalesScreensmainimagediv {
  border: 1px solid lightgray;
  width: 50%;
  height: 480px;
  margin-left: 2%;
  border-radius: 10px;
  /* margin-top: 1%; */
}

.InsuranceSalesScreensmainimagediv img {
  width: 100%;
  height: 100%;
}

.InsuranceSalesScreensmainimagediv1 {
  border: 1px solid lightgray;
  width: 50%;
  height: 480px;
  /* margin-left: 2%; */
  border-radius: 10px;
  /* margin-top: 1%; */
}

.InsuranceSalesScreensmainimagediv1 img {
  width: 100%;
  height: 100%;
}

.InsuranceSalesScreensmaincontaindiv1 {
  /* border: 2px solid green; */
  width: 60%;
  margin-left: 3%;
}

/* this code is for the mobile resposive */

@media (max-width: 480px) {
  .InsuranceSalesScreensmaindiv {
    /* border:  2px solid red; */
    display: flex;
    flex-direction: column
    ;
   
  }
  .InsuranceSalesScreensmaindiv:nth-child(2){
    flex-direction: column-reverse;
  }

  
  .InsuranceSalesScreensmaincontaindiv {
    /* border: 2px solid green; */
    width: 95%;
    margin: auto;
    margin-left: 0;
  }

  .InsuranceSalesScreensmainimagediv {
  
    width: 95%;
    height: fit-content;
   
    margin: auto;
    /* margin-top: 1%; */
  }

  

  .InsuranceSalesScreensmainimagediv1 {
   
    width: 95%;
    height: fit-content;
    
  }

  

  .InsuranceSalesScreensmaincontaindiv1 {
    /* border: 2px solid green; */
    width: 95%;
   
    margin: auto;
    margin-left: 0;
  }
}
