.helpdekbannermainboxes {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.helpDeskBannerImage {
  width: 45%;
}

.helpDeskBannerImage>img {
  width: 100%;
  margin-top: 14%;
  /* border: 2px solid red; */
}

.helpdeskbannersometextbox {
  height: fit-content;
  width: 45%;
}

.helpdeskbannersometextbox>p {
  border-top: 2px solid;
  margin: 2% 0;
}

.helpdeskbannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  background-color: #ef4c23;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 2%;
}

.helpdeskbannerbutton:hover {
  background-color: white;
  color: #ef4c23;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .helpdekbannermainboxes {
    flex-direction: column;
    height: fit-content;
    padding: 5% 0;
  }

  .helpDeskBannerImage {
    width: 90%;
  }

  .helpdeskbannersometextbox {
    width: 95%;
    text-align: center;
  }

  .helpdeskbannersometextbox>h1 {
    font-size: 32px;
    line-height: 35px;
    margin-top: 0;
  }

  .helpdeskbannersometextbox>p {
    font-size: 14px;
    padding-top: 2%;
    line-height: 20px;
  }

  .helpdeskbannerbutton {
    font-size: 12px;
    padding: 8px 20px;
    width: fit-content;
  }
}