.helpwidgetmainboxes {
  height: fit-content;
  margin-bottom: 3%;
}

.helpwidgetbannerbox {
  height: fit-content;
  background-color: #2C8753;
  text-align: center;
  color: white;
  padding: 10px 0;
}

.helpwidgetbannersometextafterbanner {
  width: 80%;
  margin: auto;
}

.helpwidgetdatamappingbeforebox {
  width: 90%;
  height: fit-content;
  margin: auto;
  background-color: #f5f5f5;
}

.helpwidgetdatamappingbeforebox>h2 {
  text-align: center;
  margin-top: 5%;
}

.helpwidgetdatamappingbeforebox>p {
  text-align: center;
}

.helpwidgetmappingdataafterbox {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.helpwidgetmaperboxindivisually {
  margin: 2%;
  width: 45%;
  border-right: 2px solid #999999;
  height: 400px;
}

.helpwidgetmaperboxindivisually:nth-child(2n) {
  border-right: none;
}

.helpwidgetmaperboxindivisuallyimage {
  height: 300px;
  width: 100%;
}

.helpwidgetmaperboxindivisuallyimage>img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.helpwidgetmaperboxindivisuallytxt {
  margin-left: 9%;
  margin-top: 2%;
}

.helpwidgetsipportdeskbox {
  height: fit-content;
  display: flex;
}

.helpwidgetsipportdeskboxleft {
  width: 60%;
  margin-top: 5%;
  margin-left: 5%;
}

.helpwidgetsipportdeskboxright {
  width: 37%;
  margin-right: 5%;
  height: 200px;
}

.helpwidgetsipportdeskboxright>img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 5px;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .helpwidgetbannerbox {
   margin-top: 10%;
  }

  .helpwidgetbannerbox>h4 {
    font-size: 25px;
    margin: 0;
  }

  .helpwidgetbannersometextafterbanner {
    width: 90%;
    text-align: justify;
  }

  .helpwidgetbannersometextafterbanner>p {
    font-size: 18px;
    margin: 2% 0;
  }

  .helpwidgetdatamappingbeforebox {
    width: 100%;
   margin-top: 10%;

  }

  .helpwidgetdatamappingbeforebox>h2 {
    font-size: 26px;
  }

  .helpwidgetdatamappingbeforebox>p {
    width: 95%;
    margin: auto;
    font-size: 18px; 
  }

  .helpwidgetmappingdataafterbox {
    align-items: center;
    justify-content: center;
    margin-top: 5%;
   
  }

  .helpwidgetmaperboxindivisually {
    width: 90%;
    border: none;
    margin: 5% 0;
    height: fit-content;
   
  }

  .helpwidgetmaperboxindivisuallyimage {
    height: fit-content;
    width: 90%;
    margin: auto;
  }

  .helpwidgetmaperboxindivisuallytxt {
    width: 100%;
    text-align: center;
    margin: 0;
    
  }

  .helpwidgetmaperboxindivisuallytxt>h4 {
    font-size: 24px;
    margin: 2% 0;
    
  }

  .helpwidgetmaperboxindivisuallytxt>p {
    font-size: 18px;
    margin: 2% 0 0;
  }

  .helpwidgetsipportdeskbox {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
    
  }

  .helpwidgetsipportdeskboxleft {
    width: 90%;
    text-align: center;
    margin: auto;
   
  }

  .helpwidgetsipportdeskboxright {
    width: 90%;
  }

  .helpwidgetsipportdeskboxleft>h2 {
    font-size: 25px;
    line-height: 28px;
    margin: 2% 0;
  }

  .helpwidgetsipportdeskboxleft>p {
    font-size: 18px;
    text-align: justify;
    margin: 2% 0;
  }
}