.helpdesklowerbannermainbox {
  height: fit-content;
  padding: 2% 0;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Images/helpdesk/Component 69.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.helpdesklowerbannertextbox {
  height: fit-content;
  width: 50%;

  color: white;
  margin: 2% 25% 0% 25%;
  text-align: center;
}

.helpdesklowerbannersomebutton {
  display: flex;
  margin-left: 15%;
}

.button1helpdest {
  padding: 10px 50px;
  border-radius: 100px;
  width: fit-content;
  background-color: #ef4c23;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin: 2%;
}

.button1helpdest:hover {
  background-color: white;
  color: #ef4c23;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .helpdesklowerbannermainbox {
    height: fit-content;
    padding: 3% 0;
    border: none;
  }

  .helpdesklowerbannertextbox {
    width: 90%;
    margin: 0 auto;
  }

  .helpdesklowerbannertextbox>h2 {
    font-size: 25px;
    line-height: 30px;
    margin: 2% 0;
  }

  .helpdesklowerbannertextbox>p {
    font-size: 14px;
    margin: 2% 0;
    line-height: 20px;
  }

  .helpdesklowerbannersomebutton {
    width: 100%;
    margin: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .button1helpdest {
    font-size: 12px;
    margin: 0;
    padding: 8px 20px;
    width: fit-content;
  }
}