.GuideToShopFyMarketingaPrent{
   
   
    display: flex;
    
    align-items: center;

 
   
   
}
.para{
text-align: justify;
}
.GuideToShopFyMarketingheading{
    width: 30%;
    background-color: #FFF8F8;
    height: 900px;
    text-align: left;
   padding: 2%;
 
   
}
.GuideToShopFyMarketingChild{
   
    width: 60%;
    display: flex;
    flex-direction: column;
   
    margin-left: 5%;
    border-bottom: 3px solid whitesmoke;
}
.GuideToShopFyMarketingheading>h3{
margin-top: 5%;


}
.GuideToShopFyMarketingfirstChild{
    
height: 300px;
    display: flex;
    justify-content: space-around;
  
    align-items: center;
    margin-right: 0px;
    
}
.GuideToShopFyMarketingfirstChild>div{
   
    padding: 0PX;
   width: 33%;
 height: 300px;
   padding: 2%;
   
   
}

.GuideToShopFyMarketingfirstChilddivone>div{
   
    display: flex;
    
    align-items: center;
    margin-bottom: 20px;
    
   
}
.GuideToShopFyMarketingfirstChilddivone>div>h5{
   width: 70%;
  margin-left: 20px;
 
}





.GuideToShopFyMarketingfirstChilddivtwo>div{
    display: flex;
    
    align-items: center;
    
    margin-bottom: 20px;
    
}
.GuideToShopFyMarketingfirstChilddivtwo>div>h5{
    width: 70%;
    margin-left: 20px;
}



.GuideToShopFyMarketingfirstChilddivthree>div{
    display: flex;
   
    margin-bottom: 20px;
   
    align-items: center;
    
}
.GuideToShopFyMarketingfirstChilddivthree>div>h5{
    width: 70%;
    margin-left: 20px;
}

.GuideToShopFyMarketingfirstChilddivfour>div{
    display: flex;
    
   
    align-items: center;
    margin-bottom: 20px;
    
}
.GuideToShopFyMarketingfirstChilddivfour{
 
   width: 33%;
   margin-left: -30%;
   
}
.GuideToShopFyMarketingfirstChilddivfouone>div{
    display: flex;
    
  
    align-items: center;
    margin-bottom: 20px;
}
.GuideToShopFyMarketingfirstChilddivfouone>div>h5{
    width: 70%;
    width: 70%;
    margin-left: 20px;

}
.GuideToShopFyMarketingfirstChilddivfouone{
    margin-left: -60%;  
}
.GuideToShopFyMarketingfirstChilddivfour>div>h5{
    width: 70%;
    margin-left: 20px;
}




















@media(max-width:780px){
    .GuideToShopFyMarketingaPrent{
   
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
       background-color: whitesmoke;
       padding: 2%;
       height: auto;
    }
    .GuideToShopFyMarketingheading{
        width: 100%;
        background-color: lightpink;
        height: auto;
        text-align: center;
    }
    .GuideToShopFyMarketingheading>h1{
        margin-top: 10%;
    }
    .GuideToShopFyMarketingChild{
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .GuideToShopFyMarketingfirstChild{
      
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
        flex-direction: column;
    }
    .GuideToShopFyMarketingfirstChild>div{
        padding: 0PX;
        width: 100%;
       
       padding: 1%;
        border-right:  4px  solid white;
        margin-bottom: 5%;
       
    }
    .GuideToShopFyMarketingfirstChilddiv>div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0%;
       
    }
    .GuideToShopFMarketingfirstChilddiv>div>h1{
       width: 100%;
      
      
    }
    
    
    .GuideToShopFyMarketingfirstChilddivone>div{
    display: flex;
    margin-bottom: 0%;
    justify-content: space-between;
    }
    
    
    
    .GuideToShopFyMarketingfirstChilddivtwo>div{
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 0%;
        
    }
    .GuideToShopFyMarketingfirstChilddivtwo>div>h1{
        width: 100%;
    }
    
    
    
    .GuideToShopFyMarketingfirstChilddivthree>div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0%;
        
    }
    .GuideToShopFyMarketingfirstChilddivthree>div>h1{
        width: 100%;
    }
    .GuideToShopFyConfigurefirstChilddivfour{
        border-right: 4px solid white;
    }
    .GuideToShopFyMarketingfirstChilddivfour>div{
        display: flex;
        justify-content: space-between;
       
        margin-bottom: 0%;
        
    }
    .GuideToShopFyMarketingfirstChilddivfour>div>h1{
        width: 100%;
    }
    
    
    
}
