.OmnichannelSolutionmaindiv{
    /* border: 2px solid green; */
    margin-top: 2%;
}
.OmnichannelSolutionheading{
    border: 1px solid transparent;
    text-align: center;
    width: 80%;
    margin: auto;
}
.OmnichannelSolutionheading h5{
    color: gray;
    font-weight: 400;
}

.OmnichannelSolutioncardsmaindiv{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    
    width: 90%;
    margin: auto;
    margin-top: 3%;
}
.OmnichannelSolutioncards{
    /* border: 2px solid yellow ; */
    height: 200px;
    width: 25%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.OmnichannelSolutioncards:hover{
    transition: all 0.2s linear;

  transform: translateY(-10px);


}
.OmnichannelSolutionimage{
    width: 70px;
    height: 70px;
    text-align: center;
    margin: auto;
}