.EmailIntegrationBannermaindiv{
    border-bottom: 10px solid #ef4c23;
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
}
.EmailIntegrationBannerimagediv{
    width: 40%;
    height: 70%;
    /* border: 2px solid; */
}
.EmailIntegrationBannercontentdiv{
    /* border: 2px solid yellow; */
    width: 40%;
}


.EmailIntegrationBannerbutton{
    width: 220px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #ef4c23;
    border-radius: 10px;
    height: 40px;
    border: none;
}
.EmailIntegrationBannerbutton:hover{
 color: #ef4c23;
 border: 2px solid #ef4c23;
 background-color: white;
}