.travelhositalitydasmainboxes{
    height: fit-content;
}

.travelhospitalitydasdatamappingondi{
    display: flex;
    margin: 2%;
}
.travelhospitalitydasdatamappingondi:nth-child(3){
    display: flex;
    flex-direction: row-reverse;
    margin: 2%;
}

.travelhospitalitydasdatamappingondi:nth-child(even){
    background-color: #f5f5f5;
}

.travelhospitalitydashleftbox{
    width: 50%;
    margin-top: 5%;
}

.travelhospitalitydashleftbox>hr{
    width: 40%;
    color: #14944C;
}

.travelhospitalitydashleftbox>h3{
    font-weight: 700;
    font-size: 30px;
    margin-left: 5%;
}
.travelhospitalitydashleftbox>p{
    margin-left: 5%;
}

.travelhospitalitydashleftbox>ul>li{
    margin-left: 5%;
}
.travelhospitalitydashleftbox>h6{
    margin-top: 4%;
    margin-left: 5%;
    color: #14944C;
}

.travelhospitalitydashrightbox{
    width: 35%;
    height: 50vh;
    margin-left: 10%;
}

@media (max-width:480px) {
    .travelhospitalitydasdatamappingondi{
        flex-direction: column-reverse;
        margin-top: 8%;
    }
    .travelhositalitydasmainboxes{
        margin-top: 15%;
    }
    .travelhospitalitydasdatamappingondi:nth-child(3){
       flex-direction: column-reverse;
       margin-top: 8%;
    }
    .travelhospitalitydashleftbox{
        width: 100%;
    }
    .travelhospitalitydashrightbox{
        width: 80%;
        height: auto;
    }
    .travelhospitalitydashleftbox>h3{
        font-weight: 500;
        font-size: 30px;
    }
    .travelhospitalitydashleftbox>p{
        margin: auto;
        font-size: 18px;
        text-align: justify;
    }
    .travelhospitalitydashleftbox>ul>li{
        margin-left: 0%;
        margin-top: 2%;
        font-size: 18px;
    }
    .travelhospitalitydashleftbox>h6{
       font-size: 18px;
    }
}