.travelandhospitalitybannermainboxes{
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;

}

.travelandhospitalitybennerleftbox{
    width: 50%;
    height: fit-content;
    margin-top: 15%;
    margin-left: 5%;
    /* border: 2px solid red; */
}

.travelandhospitalitybennerleftbox>h1{
    font-weight: 700;
    font-size: 40px;
}

.travelandhospitalitybennerleftbox>p{
    font-size: 20px;
}

.travelandhospbanbutton {
    padding: 10px 50px;
    border-radius: 100px;
    width: fit-content;
    background-color: #14944C;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    
  }
  
  .travelandhospbanbutton:hover {
    background-color: white;
   color: #14944C;
  }


.travelandhospitalitybennerrightbox{
    width: 50%;
    /* border: 2px solid red;    */
    margin-top: 3%;
}