.LandingTraficParent{
  margin: auto;
    margin-top: 5%;
    width: 90%;
    text-align: center;
    font-size: 18px;
}

@media (max-width:480px) {
    .LandingTraficParent{
        margin-top: 12%;
        text-align: justify;
    }
}