.LookingSolutionmaindiv{
    border: 3px solid #ef4c23;
    width: 85%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 3%;
}

.LookingSolutionmaindivcontent{
    width: 50%;
    margin: 4% ;
  
}

.LookingSolutionmaindivimage{
    width: 350px;
    height: 300px;
}

@media (max-width:1024px){
    .LookingSolutionmaindiv{
        border: none;
       
        flex-direction: column-reverse;
        
    }
    
    .LookingSolutionmaindivcontent{
        width: 90%;
    }

    
}