.Solutionmaindiv{
    /* border: 2px solid green; */
    background: url("https://d3op2l77j7wnti.cloudfront.net/Images/Educationsales/banner (2).webp");
    background-position: center;

background-repeat: no-repeat;
background-size: cover;
width: 80%;
margin: auto;
display: flex;
height: 340px;
justify-content: right;
align-items: center;
border-radius: 20px;
margin-top: 4%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Solutionmaindivcontent{
    /* border: 2px solid red; */
    width: 50%;
}

@media (max-width:1024px) {
    .Solutionmaindiv{
        /* border: 2px solid green; */
        background: none ;
        width: 100%;
   
    display: flex;
    height: fit-content;
 
     }
    .Solutionmaindivcontent{
        /* border: 2px solid red; */
        width: 100%;
        margin-top: 5%;
        text-align: center;
    }
    
}