.CustomerValuemaindiv{
    /* border: 2px solid green; */
    margin-top: 4%;

    /* height: 65vh; */
    /* margin: auto; */
}
.CustomerValuemaindivinner{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    background: url("https://d3op2l77j7wnti.cloudfront.net/Images/customersuccesshomepagephotos/bg1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin: auto;
    margin-top: 3%;

}

.CustomerValuemaindivinner:nth-child(even){
 background: none;

}
.CustomerValuemaindivimage{
   /* border: 2px solid yellow; */
   width: 45%;
   height: 400px;
   margin: auto;
   margin-right: 2%;
}

.CustomerValuemaindivcontain{
    /* border: 2px solid red; */
    width: 50%;
    margin: auto;
}

@media (max-width: 1024px) {
    .CustomerValuemaindiv{
        /* border: 2px solid green; */
        margin-top: 5%;
    
    }
    .CustomerValuemaindivinner{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        height: fit-content;
  
    }
    
    .CustomerValuemaindivinner:nth-child(even){
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
      
    }
    .CustomerValuemaindivimage{
       /* border: 2px solid yellow; */
       width: 95%;
       height: 250px;
     
    }
    
    .CustomerValuemaindivcontain{
        /* border: 2px solid red; */
        width: 95%;
        margin: auto;
        text-align: center;
        margin-top: 2%;
    }
    .CustomerValuemaindivcontain p{
        text-align: justify;
    }
}

