.featureDemoContainer {
    height: fit-content;
    text-align: center;
    margin-bottom: 3%;
}

.featureDemoContainer>h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.featureDemoContainer>p {
    font-size: 16px;
    margin-top: 0;
}

.featureDemoContainer>button {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 60px;
    background-color: #ef4c23;
    color: white;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 100px;
    border: 2px solid #ef4c23;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.featureDemoContainer>button:hover {
    background-color: white;
    color: #ef4c23;
}