.ContentMarketingServicesSolutionParent{
    
    background-color: bisque;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ContentMarketingServicesSolutionParent>h1{
    margin-bottom: 1%;
}
.ContentMarketingServicesSolutionParent>button{
    margin-top: 5%;
    width: 250px;
    height: 60px;
    background-color: #ec4f25;
    color: white;
    font-size: 28px;
    border-radius: 10px;
    border: none;

}
.ContentMarketingServicesSolutionParent>p{
    text-align: center;
    width: 70%;
}
.ContentMarketingServicesSolutionParent>button:hover{
    background-color: transparent;
  
    color: #ec4f25;
}
@media(max-width:780px){
    .ContentMarketingServicesSolutionParent{
    
        background-color: bisque;
       
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ContentMarketingServicesSolutionParent>h1{
        margin-bottom: 2%;
    }
    .ContentMarketingServicesSolutionParent>button{
        margin-top: 5%;
        width: 250px;
        height: 60px;
        background-color: #ec4f25;
        color: white;
        font-size: 28px;
        border-radius: 10px;
        border: none;
    
    }
    .ContentMarketingServicesSolutionParent>button:hover{
        background-color: transparent;
      
        color: #ec4f25;
    }  
}