.blogsBanner{
    /* border: 2px solid red; */
    width: 100%;
    height: 85vh;
    position: relative;
}
.blogsHeading{
    color: white;
    position: absolute;
    /* border: 2px solid red; */
    top: 35%;
    width: 35%;
    right: 12%;
}
.blogsHeading>p{
    font-size: 45px;
    font-weight: 600;
}

