.RemoteSupportGuidediv{
    display: flex;
    flex-direction: row-reverse;
}

.RemoteSupportGuideHeader{
    text-align: center;
 }
 .RemoteSupportGuideHeader p{
     font-size: 19px;
     margin-top: 1%;
 }
 
 .RemoteSupportGuidediv{
     margin-top: 5%; 
 }

 .guideimages{
    height: 55%;
    width: 60%;
 }
 
 .RemoteSupportGuidedetails h2{
font-size: 38px;
width: 60%;
margin-bottom: 2%;
 }

 .RemoteSupportGuidedetails p{
    font-size: 18px;
    width: 70%;
     }

 .RemoteSupportGuidedetails ul{
        font-size: 18px;
         }
  .RemoteSupportGuidediv{
    width: 80%;
    margin: auto;
    align-items: center;
    margin-top: 10%;
  }       
 .RemoteSupportGuideaccess{
   width: 180px;
   height: 50px;
   font-weight: 4%;
   border: 1.5px solid rgb(237, 167, 178);
   margin-top: 6%;
   border-radius: 5px;
   background-color: white;
 }

 @media(max-width:480px) {
  .RemoteSupportGuidediv{
    flex-direction: column;
    margin-top: 20%;
  }
  .RemoteSupportGuideHeader{
    width: 90%;
    margin: auto;
  }
  .RemoteSupportGuidedetails h2{
    width: 100%;
    font-size: 32px;
    margin-top: 10%;
  }
  .RemoteSupportGuidedetails p{
    width: 100%;
  }
  .RemoteSupportGuideaccess{
    margin-top: 3%;
   margin-left: 5%;
  }
 }
 
 
 
 