.tickettingStartTrialsContainer {
  text-align: center;
  padding: 3% 0;

  color: white;
  background: linear-gradient(to Right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Images/ticketingPhotos/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tickettingStartTrialsContainer h1 {
  font-size: 35px;
  margin-top: 0;
}

.tickettingStartTrialsContainer p {
  font-size: 18px;
}

.tickettingStartTrialsContainer button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 50px;
  margin: 1%;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #ef4c23;
  outline: none;
}

.tickettingStartTrialsContainer button:nth-child(1) {
  color: white;
  background: #ef4c23;
}

.tickettingStartTrialsContainer button:nth-child(1):hover {
  color: #ef4c23;
  background: transparent;
}

.tickettingStartTrialsContainer button:nth-child(2) {
  background: transparent;
  color: #ef4c23;
}

.tickettingStartTrialsContainer button:nth-child(2):hover {
  color: white;
  background: #ef4c23;
}

.tickettingStartTrialsContainer h1 {
  font-size: 20px;
}

.tickettingStartTrialsContainer p {
  font-size: 14px;
  line-height: 20px;
}

.tickettingStartTrialsContainer button {
  font-size: 12px;
  padding: 8px 20px;
}
