.getintouchcarddiv {
  width: 100%;
  background-color: #ef4c23;
  display: flex;
}
.getintouchtext {
  width: 60%;
  color: white;
  text-align: center;
  font-size: 25px;
  box-sizing: border-box;
  padding: 35px;
  font-weight: 500;
}
.getintouchcard {
  width: 280px;
  border: 2px solid white;
  color: #ef4c23;
  font-size: 18px;
  box-sizing: border-box;
  font-weight: 700;
  height: 40px;
  text-align: center;
  border-radius: 25px;
  background-color: white;
  margin: auto;
  cursor: pointer;
  padding: 5px;
}
.getintouchcard:hover {
  background-color: #ef4c23;
  color: white;
  transition: 0.2s linear;
}
