.Escooterdivcontainer{
 width: 100%; 
 height: 370px;
 /* background-color: aqua; */
}
.Escooterthundersub{
 width: 90%;
height: 320px;
padding: 20px;
margin: auto;
text-align: center;
background-color: #32ade9;
/* background: url("/public/Images/Escooter/rectangleblue.png");
background-repeat: no-repeat;
background-size: 100% 320px; */
 
}
.Escooterthundersub>div>h1{
    color: white;
}
.szEscooterthunderdiv{
    /* background-color: red; */
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.szwhythunder{
 
    width: 33%;
    height: 70px;
    border-radius: 18px;
    padding: 5px 15px;
    background-color:  #ffffff;
    display: flex;
    margin: 20px  30px;
    align-items: center;
    /* background-color: blue; */

    text-align: left;
 
}
 
.szwhythunder>div{
    
     width: 25%;
    height: 60px;
    /* background-color: chartreuse; */
}
.szwhythunderimages>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 5px 15px;
}
.szwhythunder>p{
    font-size: 18px;
    margin: 0;
    /* background-color: brown; */
}
 
 