.LogisticsContainmaindiv{
    /* border: 2px solid red; */
    width: 90%;
    font-size: 18px;
    margin: auto;
     margin-top: 3%;
     text-align: justify;
     /* background-color: white; */

}
