.ourDevProcessContainer {
  height: fit-content;
  background-color: black;
  border: 1px solid transparent;
  border-bottom: 8px solid #ef4c23;
  margin-bottom: 3%;
  padding-bottom: 6%;
}

.ourDevProcessContainer > div {
  width: 90%;
  margin: auto;
  background-color: white;
  margin-top: -8%;
  text-align: center;

  position: relative;
  z-index: 1;
  border: 8px solid #ef4c23;
}

.ourDevProcessContainer > div > h1 {
  font-size: 35px;
  margin-top: 3%;
}

.ourDevProcessContainer > div > h1 > span {
  color: #ef4c23;
}

.ourDevProcessContainer > div > div {
  max-width: 90%;
  margin: 2% auto;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ourDevProcessContainer > div > div > p {
  width: 45%;
  font-size: 18px;
  text-align: justify;
  margin: 0;
}

.ourDevProcessContainer > div > div > div {
  width: 30%;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ourDevProcessContainer > div > div > div > img {
  width: 100%;
}
