.ReletionshipBuildmaindiv{
    width: 88%;
    margin: auto;
    text-align: center;
    margin-top: 3%;
}

.ReletionshipBuildmaindivimage{
    width: 60%;
    margin:2% auto;
    /* border: 1px solid brown; */
    /* height: 40%; */
}

.ReletionshipBuildmaindiv p{
    text-align: justify;
}
@media(max-width:1024px){
   .ReletionshipBuildmaindivimage{
    width: 90%;
   } 
}