.TeamInboxBannerMain{
    display: flex;
    height: 100vh;
    
}
.TeamInboxBannerimg{
    width: 50%;
    height: 450px;
    margin-top: 10%;

}
.TeamInboxBannertext{
    margin-top: 17%;
    width: 50%;
}
.TeamInboxBannertext>hr{
    width: 80%;
}
.TeamInboxBannertext>h1{
    font-weight: 700;
    font-size: 40px;
}
.TeamInboxBannertext>p{
    width: 80%;
    font-weight: 400;
    font-size: 20px;
}
.TeamInboxBannertext>button{
    padding: 10px 30px;
        font-size: 18px;
        font-weight: 600;
        margin-top: 4%;
        border-radius: 15px;
        background-color: #03C457;
        border: none;
        color: white;
        cursor: pointer;
}
.TeamInboxBannertext>button:hover{
    background-color: white;
    color: #03C457;
    border: 1px solid #03C457;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (min-width:0px) and (max-width:600px){
    .TeamInboxBannerMain{
        display: flex;
        flex-direction: column;
        height: 100vh;
        
    }
    .TeamInboxBannerimg{
        width: 70%;
        height: 450px;
        margin-top: 10%;
        margin-left: 14%;
    }
    .TeamInboxBannertext{
        margin-top: 17%;
        margin-left: 10%;
        width: 90%;
    }
    .TeamInboxBannertext>hr{
        width: 80%;
    }
    .TeamInboxBannertext>h1{
        font-weight: 700;
        font-size: 35px;
    }
    .TeamInboxBannertext>p{
        width: 90%;
        font-weight: 400;
        font-size: 20px;
    }
    .TeamInboxBannertext>button{
        padding: 10px 30px;
            font-size: 18px;
            font-weight: 600;
            margin: 4% 0% 4% 17%;
            border-radius: 15px;
            background-color: #03C457;
            border: none;
            color: white;
            cursor: pointer;
    }
    .TeamInboxBannertext>button:hover{
        background-color: white;
        color: #03C457;
        border: 1px solid #03C457;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}