.EcommerceBookCallMain {
  padding: 5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}

.EcommerceBookCallMain > div {
  background-color: #fcdbd3;
  text-align: center;
  padding: 5% 2%;
  border-radius: 20px;
  height: fit-content;
}

.EcommerceBookCallMain > div > h1 {
  font-size: 32px;
  margin-bottom: 25px;
}

.EcommerceBookCallMain > div > button {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #ef4c23;
  border-radius: 100px;
  padding: 10px 60px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.EcommerceBookCallMain > div > button:hover {
  background-color: white;
  color: #ef4c23;
}

/* media query for mobiles and tablets devices */
@media (max-width: 1024px) {
  .EcommerceBookCallMain > div > h1 {
    font-size: 32px;
  }

  .EcommerceBookCallMain > div > button {
    font-size: 16px;
    padding: 10px 30px;
  }
}
