.GuideToShopFyCannelaPrent{
   
    
    display: flex;
   
    align-items: center;
  
   
   height: 150vh;
   align-items: center;
   align-content: center;
   text-align: center;
  
}
.line{
width: 80%;
border: 1px solid gray;
}
.GuideToShopFyCannelaPrentHeading{
    background-color: #FFF8F8;
    height: 100%;
    width: 30%;
}
.GuideToShopFyCannelaPrentHeading>h1{
    margin-top: 40%;
}
.GuideToShopFyCannelaPrentHeading>p{
   text-align: center;
   width: 70%;
   margin-left: 15%;
}
.GuideToShopFyCannelaPrentAlldiv{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.GuideToShopFyCannelfirstChild{
  
    display: flex;
    justify-content: space-around;
   
}
.GuideToShopFyCannelfirstChild>div{
    padding: 0PX;
    width: 25%;
   
   padding: 1%;
  
   
}
.GuideToShopFyCannelfirstChilddiv>div{
    display: flex;
    justify-content: space-between;
   
   
   
}
.GuideToShopFyCannelfirstChild>div{
    
    width: 33%;
    padding: 3%;
}
.GuideToShopFyCannelfirstChilddiv>div>h1{
   width: 70%;
  
  
}
.GuideToShopFyCannelfirstChilddivone>div{
    display: flex;
    justify-content: space-between;
   
   
   
    
}

.GuideToShopFyCannelfirstChilddivtwo>div{
    display: flex;
    justify-content: space-between;
    
    ;
    
}
.GuideToShopFyCannelfirstChilddivtwo>div>h1{
    width: 70%;
}



.GuideToShopFyCannelfirstChilddivthree>div{
    display: flex;
    justify-content: space-between;
   
    
}
.GuideToShopFyCannelfirstChilddivthree>div>h1{
    width: 70%;
}
.GuideToShopFyConfigurefirstChilddivfour{
    border-right: 4px solid white;
}
.GuideToShopFyCannelfirstChilddivfour>div{
    display: flex;
    justify-content: space-between;
   
    
    
}
.GuideToShopFyCannelfirstChilddivfour>div>h1{
    width: 70%;
}

.GuideToShopFyCannelthirdChild{
  
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.GuideToShopFyCannelthirdChild>div{
    padding: 0PX;
   width: 33%;
   padding: 5%;
   
 
    
}
.GuideToShopFyCannelthirdChilddivone>div{
    display: flex;
   
   
}
.GuideToShopFyCannelthirdChilddivone>div>h1{
   width: 70%;
  
}

@media(max-width:780px){
    .GuideToShopFyCannelaPrent{
   
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
       background-color: whitesmoke;
       padding: 2%;
       height: auto;
    }
    .GuideToShopFyCannelfirstChilddivone>div{
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 0%;
        
    }
    .GuideToShopFyCannelaPrentHeading{
        background-color: #FFF8F8;
        height: auto;
        width: 100%;
    }
    .GuideToShopFyCannelfirstChild{
      
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
        flex-direction: column;
    }
    .GuideToShopFyCannelfirstChild>div{
        padding: 0PX;
        width: 100%;
       
       padding: 1%;
       
       
    }
    .GuideToShopFyCannelfirstChilddiv>div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
       
    }
    .GuideToShopFyCannelfirstChilddiv>div>h1{
       width: 100%;
      
      
    }
    
    .GuideToShopFyCannelfirstChilddivtwo>div{
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 0%;
        
    }
    .GuideToShopFyCannelfirstChilddivtwo>div>h1{
        width: 100%;
    }
    
    
    
    .GuideToShopFyCannelfirstChilddivthree>div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0%;
        
    }
    .GuideToShopFyCannelfirstChilddivthree>div>h1{
        width: 100%;
    }
    .GuideToShopFyConfigurefirstChilddivfour{
        border-right: 4px solid white;
    }
    .GuideToShopFyCannelfirstChilddivfour>div{
        display: flex;
        justify-content: space-between;
       
        margin-bottom: 0%;
        
    }
    .GuideToShopFyCannelfirstChilddivfour>div>h1{
        width: 100%;
    }
    
    .GuideToShopFyCannelthirdChild{
      
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 0%;
        
    }
    .GuideToShopFyCannelthirdChild>div{
        padding: 0PX;
        width: 100%;
       
       padding: 1%;
        border-right:  4px  solid white;
    }
    .GuideToShopFyCannelthirdChilddivone>div{
        display: flex;
       
        margin-bottom: 0%;
    }
    .GuideToShopFyCannelthirdChilddivone>div>h1{
       width: 100%;
      
    }
}