.GuideToShopFyCannelaPrent{
    
    display: flex;
   height: auto;
 
   
   
  
}

.GuideToShopFyCannelaPrentHeading{
    background-color: #FFF8F8;
    height: 950px;
    width: 30%;
    text-align: justify;
  
    
   padding-left: 50px;
}
.GuideToShopFyCannelaPrentHeading>h3{
    margin-top: 10%;
   
}
.GuideToShopFyCannelaPrentHeading>p{
   
   width: 70%;
   
   
}
.GuideToShopFyCannelaPrentAlldiv{
    border-bottom: 3px solid #f5f5f5;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    padding-top: 5%;
    margin-left: 5%;
}
.GuideToShopFyCannelfirstChild{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    margin-bottom: 20px;
   
}
.GuideToShopFyCannelfirstChild>div{
   
   padding: 2%;
  height: 300px;

  
}

.GuideToShopFyCannelfirstChild>div{
    width: 30%;
    padding: 3%;
   
}
.GuideToShopFyCannelfirstChilddiv>div>h5{
   width: 70%;
  
  
}
.GuideToShopFyCannelfirstChilddivone>div{
    display: flex;
    
    align-items: center;
   
    margin-bottom: 20px;
   
}
.GuideToShopFyCannelfirstChilddivone>div>h5{
    width: 70%;
  
    margin-left: 20px;
  
}

.GuideToShopFyCannelfirstChilddivtwo>div{
    display: flex;
   
    align-items: center;
   

    
    margin-bottom: 20px;
}
.GuideToShopFyCannelfirstChilddivtwo>div>h5{
    width: 70%;
    margin-left: 20px;
}



.GuideToShopFyCannelfirstChilddivthree>div{
    display: flex;
   
    align-items: center;
   
    margin-bottom: 20px;
    
}
.GuideToShopFyCannelfirstChilddivthree>div>h5{
    width: 70%;
    margin-left: 20px;
}

.GuideToShopFyCannelfirstChilddivfour>div{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    
    
    
}
.GuideToShopFyCannelfirstChilddivfour>div>h5{
    width: 70%;
   
    margin-left: 20px;
}

.GuideToShopFyCannelthirdChild{
 
    display: flex;
    justify-content: center;
   
   
}
.GuideToShopFyCannelthirdChild>div{
    padding: 0PX;
   width: 33%;
   padding: 3%;
padding-top: 0px;
  
 
    
}
.GuideToShopFyCannelthirdChilddivone>div{
    display: flex;
    align-items: center;
   
   
}
.GuideToShopFyCannelthirdChilddivone>div>h5{
   width: 70%;
  
}

@media(max-width:780px){
    .GuideToShopFyCannelaPrent{
   
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
       background-color: whitesmoke;
       padding: 2%;
       height: auto;
    }
    .GuideToShopFyCannelfirstChilddivone>div{
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 0%;
        
    }
    .GuideToShopFyCannelaPrentHeading{
        background-color: #FFF8F8;
        height: auto;
        width: 100%;
    }
    .GuideToShopFyCannelfirstChild{
      
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
        flex-direction: column;
    }
    .GuideToShopFyCannelfirstChild>div{
        padding: 0PX;
        width: 100%;
       
       padding: 1%;
       
       
    }
    .GuideToShopFyCannelfirstChilddiv>div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
       
    }
    .GuideToShopFyCannelfirstChilddiv>div>h1{
       width: 100%;
      
      
    }
    
    .GuideToShopFyCannelfirstChilddivtwo>div{
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 0%;
        
    }
    .GuideToShopFyCannelfirstChilddivtwo>div>h1{
        width: 100%;
    }
    
    
    
    .GuideToShopFyCannelfirstChilddivthree>div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0%;
        
    }
    .GuideToShopFyCannelfirstChilddivthree>div>h1{
        width: 100%;
    }
    .GuideToShopFyConfigurefirstChilddivfour{
        border-right: 4px solid white;
    }
    .GuideToShopFyCannelfirstChilddivfour>div{
        display: flex;
        justify-content: space-between;
       
        margin-bottom: 0%;
        
    }
    .GuideToShopFyCannelfirstChilddivfour>div>h1{
        width: 100%;
    }
    
    .GuideToShopFyCannelthirdChild{
      
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 0%;
        
    }
    .GuideToShopFyCannelthirdChild>div{
        padding: 0PX;
        width: 100%;
       
       padding: 1%;
        border-right:  4px  solid white;
    }
    .GuideToShopFyCannelthirdChilddivone>div{
        display: flex;
       
        margin-bottom: 0%;
    }
    .GuideToShopFyCannelthirdChilddivone>div>h1{
       width: 100%;
      
    }
}