.MarketPlaceFeatureParent {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.line {
  border: 1px solid #f0a491;
  width: 80%;
  margin-top: 1%;
  
}

.MarketPlaceFeatureChild {
  display: flex;
  
  justify-content: center;
  margin: auto;
  gap: 2%;
  margin-top: 3%; 
}

.MarketPlaceFeatureChild > div {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ef4c23;
  padding: 2px;
  padding-top: 2%;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.MarketPlaceFeatureimg {
  /* border: 1px solid black; */
  margin-bottom: 10%;
}

.MarketPlaceFeatureChild > div > h3 {
  text-align: center;
  /* border: 1px solid red; */
}

.MarketPlaceFeatureChild > div > p {
  text-align: center;
}

/* @media (max-width: 780px) {
  .MarketPlaceFeatureChild {
    height: 60vh;
  }
  .MarketPlaceFeatureParent {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .line {
    border: 1px solid #f0a491;
    width: 80%;
  }

  .MarketPlaceFeatureChild {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 70%;
  }
  .MarketPlaceFeatureChild > div {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    border: 1px solid #ef4c23;
    padding-top: 2%;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 5%;
  }
  .MarketPlaceFeatureimg {
    padding-top: 5%;
    height: 60%;
    width: 30%;
  }
  .MarketPlaceFeatureChild > div > h3 {
    text-align: center;
  }
  .MarketPlaceFeatureChild > div > p {
    text-align: center;
  }
} */
@media(max-width:480px){
  .MarketPlaceFeatureChild{
    margin-top: 1%;
    height: auto;
  }
  .MarketPlaceFeatureParent{
    margin-top: 3%;
    
  }
  .MarketPlaceFeatureimg {
    width: 30%;
    margin-top: 5%;
    /* border: 1px solid #ef4c23; */
  }
  .MarketPlaceFeatureChild {
   
flex-direction: column;
    }  
    .MarketPlaceFeatureChild > div{
    width: 70%;
    margin: auto;
    margin-top: 5%;
    
  }
  .MarketPlaceFeatureChild > div > p {
    padding: 2px 5px;
  }
  .MarketPlaceFeatureParent h2{
    margin-top: 5%;
  }
}