.ActiveGoalsmaindiv{
    /* border: 2px solid yellow; */
}

.ActiveGoalsmaindivcontainer{
    /* border: 2px solid red; */
}
.ActiveGoalsmaindivcontain{
    /* border: 1px solid green; */
    text-align: center;
    background: url("https://d3op2l77j7wnti.cloudfront.net/Images/customersuccesshomepagephotos/bg1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ActiveGoalsmaindivcontain h1{
    /* border: 2px solid yellow; */
    width: 80%;
    margin: auto;
}
.ActiveGoalsmaindivcontain p{
    /* border: 2px solid yellow; */
    width: 80%;
    margin: auto;
}

.ActiveGoalsmaindivcards{
    /* border: 2px solid red; */
    margin-top: 2%;
}
.ActiveGoalsmaindivcardsdiv{
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
.ActiveGoalsmaindivcardsdivinner{
    /* border: 2px solid yellow; */
    text-align: center;
    margin: auto;
    width: 28%;
    height: 280px;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ActiveGoalsmaindivcardsdivinner:hover{
     
     transition: all 0.2s linear;
     transform: translateY(-10px);
}


@media (max-width: 1024px) {
    .ActiveGoalsmaindiv{
        margin-top: 10%;
    }
    
    .ActiveGoalsmaindivcontain{
        text-align: center;
        background: url("https://d3op2l77j7wnti.cloudfront.net/Images/customersuccesshomepagephotos/bg1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .ActiveGoalsmaindivcontain h1{
        /* border: 2px solid yellow; */
        width: 95%;
        margin: auto;
        font-size: 23px;
        text-align: justify;
    }
    .ActiveGoalsmaindivcontain p{
        /* border: 2px solid yellow; */
        width: 95%;
        margin: auto;
        margin-top: 5%;
        font-size: 18px;
        text-align: justify;
    }
    
    .ActiveGoalsmaindivcards{
        /* border: 2px solid red; */
        margin-top: 2%;
    }
    .ActiveGoalsmaindivcardsdiv{
        /* border: 2px solid pink; */
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .ActiveGoalsmaindivcardsdivinner{
        /* border: 2px solid yellow; */
        text-align: center;
        margin: auto;
        width: 90%;
        height: 280px;
        border-radius: 10px;
        padding: 10px 5px 10px 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 3%;
    }
    .ActiveGoalsmaindivcardsdivinner:hover{
         
         transition: all 0.2s linear;
         transform: translateY(-10px);
    }
    
}