.reportAndAnalysisBannerMain{
    height: 90vh;
    width: 100%;
    gap: 5%;
    display: flex;
    flex-direction: row;
}
.reportAndAnalysisBannertext{
    height: 50%;
    width: 43%;
    padding: 22px;
    margin-top: 10%;
    margin-left: 5%;
  
}
.reportAndAnalysisBannertext>h1{
    font-size: 42px;
    font-weight: 700;
    color: black;
}
.reportAndAnalysisBannertext>p{
    margin-top: 3%;
    font-size: 22px;
    text-align: left;
}
.reportAndAnalysisBannerimg{
    width: 35%;
    height: 55%;
    margin-top: 10%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reportAndAnalysisBannertext>button{
  padding: 10px 40px;
  border-radius: 10px;
  width: 230px;
  background-color: #14944C;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 30px;
}
.reportAndAnalysisBannertext>button:hover{
    background-color: white;
    color: #14944C;
    border: 1px solid #14944C;
}

@media (max-width:480px) {
    .reportAndAnalysisBannerMain{
        flex-direction: column-reverse;
        margin-top: 20%;
        height: auto;
    }
    .reportAndAnalysisBannerimg{
        width: 100%;
        margin: auto;
    }
    .reportAndAnalysisBannertext{
        width: 100%;
        margin: auto;
    }
    .reportAndAnalysisBannertext>h1{
        font-size: 29px;
    }
    .reportAndAnalysisBannertext>p{
        text-align: justify;
    }
    .reportAndAnalysisBannertext>button{
      width: 220px;
      margin-top: 5%;
    }
}