.secureFeatureListContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2% 0;
}

.secureFeatureListContainer>span {
    width: 40%;
    height: fit-content;
}

.secureFeatureListContainer>div {
    width: 45%;
}

.secureFeatureListContainer>div>h2 {
    font-size: 25px;
}

.secureFeatureListContainer>div>p {
    font-size: 16px;
}

.secureFeatureListContainer>div>button {
    font-size: 18px;
    font-weight: 600;
    background-color: #2C8753;
    color: #fff;
    border: 2px solid #2C8753;
    outline: none;
    border-radius: 100px;
    padding: 10px 50px;
}

.secureFeatureListContainer>div>button:hover {
    background-color: #fff;
    color: #2C8753;
}

@media (max-width:480px) {
    .secureFeatureListContainer{
        flex-direction: column-reverse;
        margin-top: 55%;
    }
    .secureFeatureListContainer>span{
        width: 80%;
    }

    .secureFeatureListContainer>div {
        margin-top: 8%;
        width: 90%;
    }
    .secureFeatureListContainer>div>h2 {
        font-size: 25px;
    }
    
    .secureFeatureListContainer>div>p {
        font-size: 18px;
    }

    .secureFeatureListContainer>div>button {
        padding: 7px 30px;
       margin-left: 25%;
    }
}