.aiWorkContainer {
    margin: 3% 0;
}

.aiWorkContainer>h1 {
    font-size: 2vw;
    text-align: center;
}

.aiWorkMain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2% 0;
    background-color: #fffbfa;
    padding: 3% 0;
}

.aiWorkMain>div {
    width: 45%;
}

.aiWorkMain>div>h2 {
    font-size: 25px;
    margin-top: 0;
}

.aiWorkMain>div>p {
    font-size: 16px;
    text-align: justify;
}

.aiWorkMain>span {
    height: fit-content;
    width: 45%;
}

/* media query for mobile and tablets */
@media (max-width: 1024px) {
    .aiWorkContainer>h1 {
        font-size: 20px;
    }

    .aiWorkMain {
        flex-direction: column-reverse;
    }

    .aiWorkMain>div {
        width: 90%;
    }

    .aiWorkMain>div>h2 {
        font-size: 18px;
        margin-top: 2%;
    }

    .aiWorkMain>div>p {
        font-size: 14px;
        text-align: justify;
    }

    .aiWorkMain>span {
        width: 80%;
    }
}