.seoEmailEnquiryNowMaindiv {
  /* border:1px solid green; */
  width: 100%;
  display: flex;
  margin-top: 70px;
}
.seoEmailEnquiryNow {
  /* border:1px solid red; */
  height: 450px;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}
.seoEmailEnquiryNow > img {
  height: 100%;
  width: 100%;
}
.seoEmailEnquiryNow > p {
  /* border: 1px solid green; */
  padding: 26px;
  font-size: 16px;
  color: gray;
  font-weight: 500;
}
.seoEmailEnquiryNow > h3 {
  /* border: 1px solid rebeccapurple; */
  padding: 15px;
  color: #ef4c23;
}
.seoEmailEnquiryNow > div {
  border: 1px solid #ef4c23;
  width: 25%;
  height: 55px;
  background-color: #ef4c23;
  border-radius: 25px;
  margin: auto;
  color: white;
  font-size: 20px;
  box-sizing: border-box;
  padding: 11px;
  font-weight: 600;
}
.seoEmailEnquiryNow > div:hover {
  color: #ef4c23;
  background-color: white;
  border: 3px solid #ef4c23;
  transition: 0.3s linear;
  cursor: pointer;
}
