.seoEmailFaqheading {
  color: #ef4c23;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.seoEmailfaq1 {
  /* border:1px solid rebeccapurple; */
  /* margin-top: 100px; */
  width: 80%;
  margin: auto;
  color: #ef4c23;
  border-radius: 70px;
  box-shadow: 3px 3px 30px rgb(0 0 0 / 15%);
  /* background-color: white; */
}
.seoEmailfaq2 {
  /* border:1px solid green; */
  color: #ef4c23;
}
/* .seoheader{
    border:1px solid #EF4C23
} */
