.CustomerSpotLightBannerParent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
}
.CustomerSpotLightBannerParentchildone>p{
    text-align: justify;
   
}
.CustomerSpotLightBannerParent>div{
    width: 50%;
}
.CustomerSpotLightBannerParentchildone{
    display: flex;
    flex-direction: column;
    padding: 10%;
    
}
.CustomerSpotLightBannerParentchildone>div{
    display: flex;
    justify-content: space-between;
   
    align-items: center;
   
}

.CustomerSpotLightBannerParentchildone>button{
    margin-top: 2%;
    width: 200px;
    height: 50px;
    background-color:#EF4C23 ;
    border-radius: 5px;
   
    color: white;
    font-size: 20px;
    border: 1px solid transparent;
}
.CustomerSpotLightBannerParentchildone>button:hover{
   
     border: 1px solid #EF4C23;
    background-color:white ;
 
    
    color: #EF4C23;
}



@media(max-width:480px){
    .CustomerSpotLightBannerParent{
        display: flex;
        padding: 5%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .CustomerSpotLightBannerParent>div{
        width: 100%;
    }
    .CustomerSpotLightBannerParentchildone{
        display: flex;
        flex-direction: column;
        align-items: center;
       /* border: 2px solid red;  */
       padding: 0%;
       padding-left: 10%;
       padding-right: 10%;
    }
  
    .CustomerSpotLightBannerParentchildone>div{
        display: flex;
        justify-content: space-around;
        margin-bottom: 5%;
        width: 100%;
    }
    .CustomerSpotLightBannerParentchildone>p{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        
        width: 70%;
        text-align: center;
    }
    .CustomerSpotLightBannerParentchildone>button{
        margin-top: 5%;
        width: 200px;
        height: 40px;
        background-color:#EF4C23 ;
        
        border: none;
        color: white;
        margin-bottom: 5%;
        font-size: 20px;
    }
    .CustomerSpotLightBannerParentchildone>button:hover{
        margin-top: 5%;
        width: 200px;
        height: 40px;
        background-color:white ;
       
        border: 1px solid #EF4C23;
        color: #EF4C23;
    } 
}