.securityBannerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    background: #f5f5f5;
    /* border: 2px solid red; */
}

.securityBannerContainer>span {
    width: 30%;
    height: fit-content;
}

.securityBannerContainer>div {
    width: 45%;
}

.securityBannerContainer>div>h1 {
    font-size: 40px;
}

.securityBannerContainer>div>p {
    font-size: 20px;
}

.securityBannerContainer>div>button {
    width: 25%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #12944D;
    background: #12944D;
    color: white;
    cursor: pointer;
  }
  
.securityBannerContainer>div>button:hover {
    background: white;
    color: #12944D;
}
.securityBannerButton{
    margin-left: 2%;
}
/* media query for mobile and tablet devices */
@media (max-width: 480px) {
    .securityBannerContainer {
        flex-direction: column;
        height: fit-content;
        padding: 20px 0;
        margin-top: 20%;
    }

    .securityBannerContainer>span {
        width: 80%;
    }

    .securityBannerContainer>div {
        width: 95%;
        text-align: center;
    }

    .securityBannerContainer>div>h1 {
        font-size: 30px;
    }

    .securityBannerContainer>div>p {
        font-size: 18px;
    }

    .securityBannerContainer>div>button {
        font-size: 17px;
        width: 35%;
        /* padding: 8px 20px; */
    }
}