
.eventsTrailparent{
    background-image: url('https://d3op2l77j7wnti.cloudfront.net/Images/Event/background.webp');
    margin: 5% auto;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    padding-bottom: 3%;
}
.eventsTrailparent>h2{
   margin-top: 3%;
    color: white;
}

.eventsTrailparent>p{
    font-weight: 450;
    font-size: 18px;
    color: white;
    margin-top: 1%;
}
.eventsTrailparent>div{
   
    width: 25%;
    display: flex;
  
    margin-top: 1%;
   
}
.eventsTrailparent>div>button{
    width: 47%;
    height: 50px;
  font-size: 16px;
  border: 1px solid transparent;
  background-color: #ef4c23;
  color: white;
  border-radius: 20px;

}

.eventsTrailparent>div>button:hover{
    
  border: 1px solid #ef4c23;
  background-color: white;
  color: #ef4c23;
  

}
.eventsTrailparent>div>button:nth-child(2){
    margin-left: 6%;
}




@media(max-width:780px){

    .eventsTrailparent{
        text-align: center;
        padding: 5% 3%;
     
    }

    
    
    .eventsTrailparent>div{
       
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 1%;
        align-items: center;
       
    }
    .eventsTrailparent>div>button{
        width: 50%;
        height: 40px;
        margin-top: 3%;
     
    
    }
    .eventsTrailparent>div>button:nth-child(2){
        margin-left: 0%;
        margin-top: 4%;
    }
}