.JourneyTrialpatrent{
    background-image: url('https://bottom-funnel-product.s3.ap-south-1.amazonaws.com/Images/Journey/background.png');
    height: 250px;
}
.JourneyTrialpatrent>h1{
    color: white;
    text-align: center;
   padding-top: 3%;
}
.JourneyTrialpatrent>p{
    text-align: center;
    color: white;
    margin-top: 1%;
    font-size: 18px;
}


.JourneyTrialbuttonone{
    width: 200px;
    height: 40px;
    background-color: #ec4f25;
    color: white;
    border-radius: 20px;
   margin-left: 35%;
   margin-top: 1%;
    
}
.JourneyTrialbuttontwo{
    width: 200px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 1px solid brown;
    margin-left: 2%;
    border-radius: 20px;
   
}
.JourneyTrialbuttontwo:hover{
    background-color: white;
    color: #ef4c23;
    border: 1px solid #ef4c23;
}
.JourneyTrialbuttonone:hover{
    background-color: white;
    color: #ef4c23;
    border: 1px solid #ef4c23;
}

@media (max-width:480px){
   .JourneyTrialbuttonone{
   width: 150px;
   margin-top: 6%;
   margin-left: 8%;
   }
   .JourneyTrialbuttontwo{
    width: 150px;
   
   }
   .JourneyTrialpatrent>h1{
   width: 90%;
   text-align: center;
   margin: auto;
  padding-top: 5%;
   }
   .JourneyTrialpatrent>p{
    width: 95%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    font-size: 17px;
   }
}