.flowerdeliverybannermaindiv {
  height: 90vh;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
}

.flowerdeliverybannerleftbox {
  height: 50%;
  width: 35%;
  margin-left: 5%;
  margin-top: 12%;
  text-align: justify;
}

.flowerdeliverybannerleftbox > h1 {
  font-weight: 700;
  font-size: 40px;
}

.flowerdeliverybannerleftbox > h2 {
  font-weight: 700;
  font-size: 30px;
}

.flowerdeliverybannerrightbox {
  width: 52%;
  margin-left: 2%;
  position: relative;
}

.flowerdeliverybannerimageone {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 10%;
  z-index: 0;
}

.flowerdeliverybannerimageone > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.flowerdeliverybannerimagetwo {
  position: absolute;
  height: 80%;
  width: 70%;
  left: 25%;
  top: 5%;
}
.flowerdeliverybannerimagetwo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.flowerdeliverybannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.flowerdeliverybannerbutton:hover {
  background-color: white;
  color: #3380f2;
}

/* this css is for the responsive of the pages f0r the mobile and web responsive */

/* Media query for the Mobile Device */
@media (max-width: 480px) {
  .flowerdeliverybannermaindiv {
    /* border: 1px solid red; */
    flex-direction: column-reverse;
    position: static;
  }

  .flowerdeliverybannerleftbox {
    /* border: 1px solid red; */
    height: 50%;
    width: 95%;
    /* margin-left: 5%; */
    text-align: justify;
    position: absolute;
    top: 82%;
    z-index: 100;
  }

  .flowerdeliverybannerleftbox > h1 {
    /* border: 1px solid red; */
    width: 100%;
    font-weight: 700;
    font-size: 23px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .flowerdeliverybannerleftbox > h1 > span {
    color: #ef4c23;
  }

  .flowerdeliverybannerleftbox > p {
    /* border: 1px solid black; */
    font-size: 16px;
    text-align: center;
  }

  .flowerdeliverybannerbutton {
    padding: 10px 50px;
    border-radius: 100px;
    width: 220px;
    background-color: #3380f2;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    /* border: 1px solid red; */
  }

  .flowerdeliverybannerbutton:hover {
    background-color: white;
    color: #3380f2;
  }

  .flowerdeliverybannerrightbox {
    /* border: 1px solid black; */
    position: static;
  }

  .flowerdeliverybannerimageone {
    /* border: 2px solid red; */
    position: absolute;
    height: 100%;
    width: 100%;
    /* left: 10%; */
    z-index: 0;
    top: 10%;
  }

  .flowerdeliverybannerimageone > img {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-top: 5%;
  }

  .flowerdeliverybannerimagetwo {
    position: absolute;
    height: 90%;
    width: 80%;
    left: 10%;
    /* top: 15%; */
  }

  .flowerdeliverybannerimagetwo > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .flowerdeliverybannermaindiv {
    /* border: 1px solid red; */
    flex-direction: column-reverse;
    position: static;
    height: 90vh;
    margin-top: 120px;
    display: flex;
  }

  .flowerdeliverybannerleftbox {
    /* border: 1px solid red; */
    /* height: 50%; */
    width: 100%;
    margin-left: 5%;
    text-align: justify;
    position: absolute;
    top: 85%;
    z-index: 100;
    align-items: center;
    justify-content: center;
  }

  .flowerdeliverybannerleftbox > h1 {
    /* border: 1px solid red; */
    width: 100%;
    font-weight: 700;
    font-size: 35px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .flowerdeliverybannerleftbox > h1 > span {
    color: #ef4c23;
  }

  .flowerdeliverybannerleftbox > p {
    /* border: 1px solid black; */
    font-size: 25px;
    text-align: center;
  }

  .flowerdeliverybannerbutton {
    padding: 20px 70px;
    border-radius: 100px;
    width: 40%;
    background-color: #3380f2;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-left: 30%;
    /* border: 1px solid red; */
  }

  .flowerdeliverybannerbutton:hover {
    background-color: white;
    color: #3380f2;
  }

  .flowerdeliverybannerrightbox {
    /* border: 1px solid black; */
    position: static;
  }

  .flowerdeliverybannerimageone {
    /* border: 2px solid red; */
    position: absolute;
    height: 100%;
    width: 100%;
    /* left: 10%; */
    z-index: 0;
    top: 10%;
  }

  .flowerdeliverybannerimageone > img {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-top: 5%;
  }

  .flowerdeliverybannerimagetwo {
    position: absolute;
    height: 90%;
    width: 80%;
    left: 10%;
    /* top: 15%; */
  }

  .flowerdeliverybannerimagetwo > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
