.Healthcarefeaturesmaindiv{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    margin-top: 4%;

}

.Healthcarefeaturesmaindivcontent ul li {
    margin-top: 1%;
}
.Healthcarefeaturesmaindivcontentimage{
    /* border: 2px solid yellow; */
    width: 700px;
    height: 500px;
    margin: auto;
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.Healthcarefeaturesmaindiv:nth-of-type(2) ul,.Healthcarefeaturesmaindiv:nth-of-type(3) ul{
    
    display: none;

}
@media (max-width:1024px) {
    .Healthcarefeaturesmaindiv{
        /* border: 2px solid red; */
        width: 90%;
        margin: auto;
        margin-top: 4%;
    
    }
    
  
    .Healthcarefeaturesmaindivcontentimage{
        /* border: 2px solid yellow; */
        width: 90%;
        height: fit-content;
      }
    
}