.backgroundHeadingEngageContainer {
  width: 100%;
  height: 55px;
  margin: 2% auto;
  background: #ef4c23;
  color: white;
  border-radius: 15px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundHeadingEngageContainer > h1 {
  font-size: 32px;
  margin: auto;
  position: absolute;
  z-index: 1;

  padding: 0 2%;

  background: #ef4c23;
}

.backgroundHeadingEngageContainer > span {
  height: 2px;
  width: 97%;
  margin: auto;
  background-color: white;

  position: absolute;
  z-index: 0;
  border-radius: 2px;
}
