.DigitalTransformationmaindiv {
  display: flex;
  flex-direction: column;
  /* border: 2px solid #ffff00; */
  justify-content: center;
  background-color: #ffedd4;
  margin-top: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.DigitalTransformationinnerdiv {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}


.DigitalTransformationinnerdivcontain {
  /* border: 2px solid red; */
  font-size: 18px;
  width: 65%;
  /* padding-top: 60px; */
  /* text-align: center; */
}

.DigitalTransformationinnerdiv:nth-child(even) {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row-reverse;
 
}



.DigitalTransformationinnerdivimage {
  width: 25%;
  height: 250px;
}

/* this code is for the mobile resposive */

@media (max-width: 480px) {
  .DigitalTransformationmaindiv {
   height: auto;
  }

  .DigitalTransformationinnerdiv {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
   
    width: 95%;
   
  }

  

  .DigitalTransformationinnerdivcontain {
    /* border: 2px solid red; */
  
    width: 95%;
  
  }

  .DigitalTransformationinnerdiv:nth-child(even) {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
   
  }


  .DigitalTransformationinnerdivimage {
    width: 90%;
    height: fit-content;
    margin:4% auto ;
   
  }
}
