.SalesProcessmaindiv{
    /* border: 2px solid ; */
    margin-top: 4%;
}
.SalesProcessmaindiv h2{
    text-align: center;
}


.SalesProcessrowimage{
    width: 50px ;
    height: 50px;
}

.SalesProcessinnerdiv{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 92%;
    margin: auto;
    margin-top: 2%;
}
.SalesProcessrow:nth-child(6){
visibility: hidden;
}
.SalesProcessrow{
    /* border: 2px solid green; */
    width: 30%;
    margin:2% auto;
    padding: 1%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.SalesProcessrow:hover{
    transition: all 0.2s linear;

  transform: translateY(-10px);
}




@media (max-width:1024px){
    
    .SalesProcessinnerdiv{
       
        height: auto;
        display: flex;
        flex-direction: column;
       
        margin:4% auto;
        /* margin-top: %; */
    }
    .SalesProcessrow:nth-child(6){
        
        display: none;
        }
    .SalesProcessrow{
        /* border: 2px solid yellow; */
        width: 90%;
        margin: auto;
        margin-top: 8%;
        padding: 10px;
      }
    .SalesProcessrowimage{
        margin:4%;
    }
   
  
   
 
    
}