.CloudStatsContainer {
  width: 90%;
  height: fit-content;
  margin: 1% auto -2%;
  padding: 2%;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  background: #fac9bd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.CloudStatsContainer > h2 {
  font-size: 25px;
  text-align: center;
  width: 23%;
}

.CloudStatsContainer > div {
  width: 2px;
  height: 100px;
  color: white;
  background: white;
  border-radius: 2px;
}
