.whyAcademyContentMainDiv{
    /* border: 2px solid red; */
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.whyAcademyContentData{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    /* height: 500px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.whyAcademyContentDataDiv{
    /* border: 2px solid red; */
    width: 30%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.whyAcademyContentDataImage{
    /* border: 2px solid red; */
    width: 150px;
    height: 150px;
    margin: 10% 30% 5% 30%;
}

.whyAcademyContentDataDiv>p{
    /* border: 2px solid red; */
    padding: 15px;
}
.whyAcademyButtonDiv{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-around;
    margin: auto;
    margin-top: 3%;
}
.whyAcademyButton1{
    border: 2px solid #EF4C23;
    width: 45%;
    height: 45px;
    background-color: #EF4C23;
    color: white;
}
.whyAcademyButton2{
    /* border: 2px solid red; */
    width: 45%;
    height: 45px;
    border: 2px solid #EF4C23;
    color: #EF4C23;
    background-color: white;
}
.whyAcademyButton1:hover{
    background-color: white;
    border: 2px solid #EF4C23;
    color: #EF4C23;
}
.whyAcademyButton2:hover{
    background-color: #EF4C23;
    color: white;
}