.marketplacefreelancermainbox {
  height: 500px;

  margin-top: 100px;
}
.freelancerboxflexingmain {
  height: 100%;
  display: flex;
}

.freelancermarketboxleftflexing {
  height: 100%;
  width: 50%;

  position: relative;
  margin-left: 10%;
}

.freelancermarketboxrightflexing {
  height: 100%;
  width: 50%;
}

.freelancerimagebox1 {
  position: absolute;
  height: 80%;
  width: 100%;
  z-index: 0;
  top: 10%;
  /* border: 2px solid red; */
}

.freelancerimagebox2 {
  height: 95%;
  width: 30%;
  position: absolute;
  z-index: 1;
  left: 20%;
}

.freelancerimagebox3 {
  height: 50%;
  width: 45%;
  position: absolute;
  z-index: 2;
  left: 28%;
  top: 40%;
}

.imagefreelance1 {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.freelancertextboxrightdiv {
  height: 120px;
  width: 100%;
}
.freelancerboxforspecialimagedotted {
  /* border: 1px solid red; */
  height: 70%;
  width: 120%;
  margin-left: -17%;
  position: relative;
}

.dottedimage1 {
  position: absolute;
  height: 20%;
  width: 20%;
}

.dottedimage2 {
  position: absolute;
  height: 20%;
  width: 20%;

  bottom: 0;
  right: 0;
}

.specialimg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.afterdottedinnerflecboxfreelancer {
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.flexboxdivfreelancer {
  /* border: 1px solid red; */
  display: flex;
  background-color: white;
  height: 35%;
  width: 40%;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 7%;
  margin-top: 3%;
  /* border: 1px solid red; */
}

.flexboxdivfreelancer:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  transform: scale(1.1);
  /* transform: translateY(-5px); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.frelancerinsiderlogo {
  height: 30%;
  width: 30%;
  margin: 6%;
}

.imagelogofree {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.frelancerinsidertxt > h5 {
  margin-top: 2%;
}

.frelancerinsidertxt > p {
  margin-top: -7%;
}

/* this css is for the responsive of the pages f0r the mobile and web responsive */

/* Media query for the Mobile Device */

@media (max-width: 480px) {
  .marketplacefreelancermainbox {
    /* border: 1px solid red; */
    height: 800px;
    /* margin-top: 100px; */
  }

  .freelancerboxflexingmain {
    /* border: 1px solid black; */
    height: 100%;
    flex-direction: column;
  }

  .freelancermarketboxleftflexing {
    /* border: 1px solid red; */
    height: 70%;
    width: 85%;
    position: relative;
    /* margin-top: 1%; */
    /* margin-left: 10%; */
  }

  .freelancermarketboxrightflexing {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    position: relative;
  }

  .freelancerimagebox1 {
    position: absolute;
    height: 100%;
    width: 90%;
    z-index: 0;
    /* top: 10%; */
    border: 1px solid transparent;
  }

  .freelancerimagebox2 {
    height: 95%;
    width: 30%;
    position: absolute;
    z-index: 1;
    /* left: 20%; */
  }

  .freelancerimagebox3 {
    height: 50%;
    width: 45%;
    position: absolute;
    z-index: 2;
    left: 28%;
    top: 40%;
  }

  .imagefreelance1 {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .freelancertextboxrightdiv {
    height: 120px;
    width: 100%;
    text-align: center;
  }

  .freelancertextboxrightdiv > h2 {
    /* border: 1px solid red; */
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0%;
  }

  .freelancertextboxrightdiv > h6 {
    /* border: 1px solid red; */
    margin-top: 2%;
    font-size: 15px;
  }

  .freelancerboxforspecialimagedotted {
    /* border: 1px solid red; */
    height: 70%;
    width: 110%;
    /* margin: auto; */
    /* margin-left: 5%; */
    /* margin-left: -20%; */
    position: relative;
  }

  .dottedimage1 {
    position: absolute;
    height: 20%;
    width: 20%;
  }

  .dottedimage2 {
    position: absolute;
    height: 20%;
    width: 20%;
    bottom: 0;
    right: 0;
  }

  .specialimg {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .afterdottedinnerflecboxfreelancer {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .flexboxdivfreelancer {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    background-color: white;
    height: 20%;
    width: 100%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 25%;
    margin-top: 3%;
    /* border: 1px solid red; */
  }

  .flexboxdivfreelancer:hover {
    cursor: pointer;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    transform: scale(1.1);
    /* transform: translateY(-5px); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .frelancerinsiderlogo {
    height: 30%;
    width: 30%;
    margin: 6%;
  }

  .imagelogofree {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .frelancerinsidertxt > h5 {
    margin-top: 2%;
    margin-bottom: 0%;
  }

  .frelancerinsidertxt > p {
    margin-top: 2%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .marketplacefreelancermainbox {
    /* border: 1px solid red; */
    height: 1100px;
    /* margin-top: 100px; */
  }

  .freelancerboxflexingmain {
    /* border: 1px solid black; */
    height: 100%;
    flex-direction: column;
  }

  .freelancermarketboxleftflexing {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 1%;
    /* margin-left: 10%; */
  }

  .freelancermarketboxrightflexing {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    position: relative;
  }

  .freelancerimagebox1 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    left: -10%;
    /* top: 10%; */
    /* border: 1px solid transparent; */
  }

  .freelancerimagebox2 {
    height: 95%;
    width: 30%;
    position: absolute;
    z-index: 1;
    left: 20%;
  }

  .freelancerimagebox3 {
    height: 45%;
    width: 45%;
    position: absolute;
    z-index: 2;
    left: 20%;
    top: 40%;
  }

  .imagefreelance1 {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .freelancertextboxrightdiv {
    height: 120px;
    width: 100%;
    text-align: center;
  }

  .freelancertextboxrightdiv > h2 {
    /* border: 1px solid red; */
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0%;
  }

  .freelancertextboxrightdiv > h6 {
    /* border: 1px solid red; */
    margin-top: 2%;
    font-size: 15px;
  }

  .freelancerboxforspecialimagedotted {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    /* margin: auto; */
    /* margin-left: 5%; */
    /* margin-left: -20%; */
    position: relative;
  }

  .dottedimage1 {
    position: absolute;
    height: 20%;
    width: 20%;
  }

  .dottedimage2 {
    position: absolute;
    height: 20%;
    width: 20%;
    bottom: 0;
    right: 0;
  }

  .specialimg {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .afterdottedinnerflecboxfreelancer {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .flexboxdivfreelancer {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    background-color: white;
    height: fit-content;
    width: 100%;
    height: 100px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* margin-left: 25%; */
    margin-top: 3%;
    /* border: 1px solid red; */
  }

  .flexboxdivfreelancer:hover {
    cursor: pointer;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    transform: scale(1.1);
    /* transform: translateY(-5px); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .frelancerinsiderlogo {
    /* border: 1px solid red; */
    height: 70%;
    width: 20%;
    margin-top: 0%;
    margin-left: 15%;
    /* margin: 6%; */
    object-fit: contain;
    /* border: 1px solid red; */
  }

  .imagelogofree {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* .frelancerinsidertxt {
    border: 1px solid red;
  } */

  .frelancerinsidertxt > h5 {
    margin-top: 0%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0%;
  }

  .frelancerinsidertxt > p {
    margin-top: 1%;
    font-size: 17px;
    font-weight: 400;
  }
}
