.ConnectwithCustomermaindiv{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
}
.ConnectwithCustomermaindiv:nth-child(odd){
    flex-direction: row-reverse
}
.ConnectwithCustomermaindivcontent{
    width: 40%;
}
.ConnectwithCustomermaindivcontentimage{
    width: 45%;
}


.ConnectwithCustomermaindivheading{
    text-align: center;
}

@media  (max-width:1024px){

    .ConnectwithCustomermaindiv{
        /* border: 2px solid red; */
       
        flex-direction: column-reverse;
       
        margin: 8% auto;
    }
    .ConnectwithCustomermaindivcontent{
        width: 90%;
    }
    .ConnectwithCustomermaindivcontentimage{
        width: 90%;
        margin: 4% auto;
    }
    .ConnectwithCustomermaindiv:nth-child(odd){
        flex-direction: column-reverse
    }
    .ConnectwithCustomermaindivone{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 6%;
    }
    
    .ConnectwithCustomermaindivheading{
      
        margin-top: 5%;
    }
    
}