.PricingBannerParentonlychild {
  background-image: url("https://d3op2l77j7wnti.cloudfront.net/Images/Pricing/BannerButtonBackground.png");
  background-size: 100% 100%;
  display: flex;
  width: 90%;
  margin-top: -5%;
  margin-left: 5%;
  /* border: 2px solid red; */
  border-radius: 20px;
}

.PricingBannerParentonlychild>button {
  width: 20%;
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 50px;

  background-color: transparent;
}

.PricingBannerParentbuttonborder {
  border: none;
  border-right: 1px solid black;
}

.PricingBannerParentbuttonoborder {
  border: none;
}

.PricingBannerParentonlychild>button:hover {
  background-color: #ec4f25;
  color: white;
  border: none;

  width: 20%;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border: none;
}

.backround {
  background-color: #ec4f25;
}

@media (max-width: 780px) {

  .PricingBannerParentonlychild {
    background-image: url("https://d3op2l77j7wnti.cloudfront.net/Images/Pricing/BannerButtonBackground.png");

    width: 100%;
    margin-top: 8%;

    border-bottom: 1px solid lightgray;
    border-radius: 20px;
  }

  .PricingBannerParentonlychild>button {
    width: 20%;
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 0%;

    background-color: transparent;
  }

  .PricingBannerParentbuttonborder {
    border: none;
    border-right: 1px solid black;
  }

  .PricingBannerParentbuttonoborder {
    border: none;
  }

  .PricingBannerParentonlychild>button:hover {
    background-color: #ec4f25;
    color: white;
    border: none;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 10px;
  }
}