.eventsFeatures {
  width: 96%;
  /* height: 500px; */
  padding: 20px;
}

.eventsHeading {
  width: 50%;
  margin: auto;
  text-align: center;
}

.eventsfeaturesSection {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  padding: 15px 0;
  margin: auto;
}

.eventfeaturecard {
  width: 15%;
  padding: 10px;
  height: 150px;
  border: 1px solid rgb(227, 222, 222);
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.eventfeaturecard:hover {
  transform: scale(1.02);

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.eventfeaturecard > h5 {
  margin-top: 40px;
}

.eventFeatureIcon {
  width: 40px;
  height: 40px;
}

.eventFeatureIcon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
