.eCommerceAdminMain {
  height: fit-content;
  width: 95%;
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eCommerceAdminCardsMain {
  width: 65%;
}

.eCommerceAdminCardsMain > div > h2 {
  color: #ef4c23;
}

.eCommerceAdminCardsMain > div > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 30px;
  width: 100%;
}

.eCommerceAdminPanelCards {
  width: 31%;
}

.eCommerceAdminPanelCardsLogo {
  height: 50px;
  margin-left: 10px;
  z-index: 4;
}

.eCommerceAdminPanelCardsLogo > img {
  height: 100%;
}

.eCommerceAdminPanelCardsContent {
  background-color: #ffe6df;
  height: 220px;
  padding: 10px;
  padding-top: 30px;
  margin-top: -25px;
  border-radius: 10px;

  z-index: 0;
}

.eCommerceAdminPanelCardsContent > p {
  font-size: 16px;
}

.eCommerceAdminImagesMain {
  position: relative;
  width: 40%;
  height: 520px;
  overflow: hidden;
}

.eCommerceAdminImagesMain > div {
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eCommerceAdminImagesMain > div:nth-child(1) > img {
  height: 100%;
  margin-left: 10%;
}

.eCommerceAdminImagesMain > div:nth-child(2) > img {
  height: 85%;
  margin-left: -10px;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .eCommerceAdminPanelMain > h1 {
    font-size: 20px;
    text-align: center;
  }

  .eCommerceAdminMain {
    flex-direction: column-reverse;
  }

  .eCommerceAdminImagesMain {
    width: 90%;
    height: 300px;
  }

  .eCommerceAdminCardsMain {
    width: 95%;
  }

  .eCommerceAdminPanelCards {
    width: 45%;
  }

  .eCommerceAdminPanelCardsContent {
    height: 85%;
  }

  .eCommerceAdminPanelCardsContent h5 {
    font-size: 16px;
  }

  .eCommerceAdminPanelCardsContent p {
    font-size: 14px;
  }
}
