.eventsScaleParent{
  
    padding-top: 2%;
    
}
.eventsScaleParent>div{
    display: flex;
 
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    align-items: center;
    justify-content: space-between;
}
.eventsScaleimage{
    width: 100%;


}
.eventsScalecontent{
    padding-top: 2%;
}
.eventsScalecontent>h2{
    font-weight: 700;
}
.eventsScalecontent>p{
    font-weight: 450;
    font-size: 20px;
    width: 90%;
}
.eventsScaleParentsecchild{
    background-color: whitesmoke;
}
.eventsScalecontenttwo{
    padding-top: 2%; 
}
.eventsScalecontenttwo>h2{
    font-weight: 700;
    width: 90%;
    margin-left: 10%;
}
.eventsScalecontenttwo>p{
    font-weight: 450;
    font-size: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.eventsScalecontentthree{margin-left: 2%;}
.eventsScalecontentthree{
    margin-top: 5%;
    padding-top: 2%;
}
.eventsScalecontentthree>h2{
    font-weight: 700;
   
}
.eventsScalecontentthree>p{
    font-weight: 450;
    font-size: 20px;
    width: 90%;
}

.eventsScalethirdimage{
    margin-top: 1%;
}

@media(max-width:780px){


    .eventsScaleParent{
  
        padding-top: 2%;
        
    }
    .eventsScaleParent>div{
        display: flex;
      flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
    }
    .eventsScaleimage{
        width: 100%;
    
    
    }
    .eventsScalecontent{
        padding-top: 2%;
    }
    .eventsScalecontent>h2{
        font-weight: 700;
    }
    .eventsScalecontent>p{
        font-weight: 450;
        font-size: 20px;
        width: 100%;
    }
    .eventsScaleParentsecchild{
        background-color: whitesmoke;
    }
    .eventsScalecontenttwo{
        padding-top: 2%; 
    }
    .eventsScalecontenttwo>h2{
        font-weight: 700;
        width: 100%;
        margin-left: 0%;
    }
    .eventsScalecontenttwo>p{
        font-weight: 450;
        font-size: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }
    
    .eventsScalecontentthree{
        margin-top: 5%;
        padding-top: 2%;
    }
    .eventsScalecontentthree>h2{
        font-weight: 700;
       
    }
    .eventsScalecontentthree>p{
        font-weight: 450;
        font-size: 20px;
        width: 100%;
    }
    







}