.ManagedserviceProviderBannerParent{
    display: flex;
    background-image: url("https://d3op2l77j7wnti.cloudfront.net/Images/ContentMarketingServices/bannerbackground.webp");
    background-repeat: no-repeat;
  background-size: 100% 100%;
 padding-top: 5%;
  
   align-items: center;
  
}
.ManagedserviceProviderBannerParentSecChild{
   
    padding-left: 5%;
    margin-right: 5%;
}
.ManagedserviceProviderBannerParent>div{
    width: 50%;
   
}
.ManagedserviceProviderBannerParentFirstChild{
    text-align: justify;
   
    padding-left: 6%;
}
.ManagedserviceProviderBannerParentFirstChild>h1{
    margin-bottom: 3%;
    font-weight: 700;
}
.ManagedserviceProviderBannerParentFirstChild>p{
    font-weight: 400;
}
.ManagedserviceProviderBannerParentFirstChild>button{
    margin-top: 7%;
width: 300px;
height: 60px;
background-color: #ec4f25;
color: white;
font-size: 21px;
border-radius: 10px;
border: none;
}
.ManagedserviceProviderBannerParentFirstChild>button:hover{
    background-color: white;
    color: #ec4f25;
    background: none;

}
@media(max-width:780px){
    .ManagedserviceProviderBannerParent{
        display: flex;
        background-image: url("https://d3op2l77j7wnti.cloudfront.net/Images/ContentMarketingServices/bannerbackground.webp");
       padding: 5%;
      flex-direction: column;
       align-items: center;
      
    }
    .ManagedserviceProviderBannerParent>div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
}