.awardsSectionMain {
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  align-items: center;
  justify-content: center;
}

.awardsSectionMain > h1 {
  font-size: 30px;
  text-align: center;
}

/* for any type of mobile responsive */

@media (max-width: 480px) {
  .awardsSectionMain {
    width: 90%;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    align-items: center;
    justify-content: center;
  }

  .awardsSectionMain > h1 {
    font-size: 22px;
    text-align: center;
  }
}

/* for any type of tablet screen responsive */

@media (min-width: 481px) and (max-width: 1024px) {
  .awardsSectionMain {
    width: 90%;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    align-items: center;
    justify-content: center;
  }

  .awardsSectionMain > h1 {
    font-size: 22px;
    text-align: center;
  }
}
