.awardsSectionMain {
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;

  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  align-items: center;
  justify-content: center;
}

.awardsSectionMain > h1 {
  font-size: 30px;
  text-align: center;
}
