.Discovermaininnerdiv {
  /* border: 2px solid red; */
  width: 90%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Discovercontain {
  /* border: 2px solid black; */
  width: 50%;
 margin: 0 3%;
}

.Discovermaininnerdiv:nth-child(2n){
  flex-direction: row-reverse;

}
.Discovermaininnerdiv:nth-child(1),.Discovermaininnerdiv:nth-child(4){
  flex-direction: column;
}
.Discovermaininnerdiv:nth-child(1)>.Discovercontain ,.Discovermaininnerdiv:nth-child(4)>.Discovercontain{
  width: 100%;
}
.Discoverimage {
  /* border: 1px solid lightgray; */
  width: 50%;
  height: 400px;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* this code is for the mobile resposive */

@media (max-width: 480px) {
  .Discovermaininnerdiv {
    /* border: 2px solid red; */
    width: 95%;
   
   
  }
.Discovermaininnerdiv:nth-child(n){
    flex-direction: column;
  }
.Discovercontain{
  width: 95%;
}
  .Discoverimage {
    /* border: 1px solid lightgray; */
    width: 95%;
    height: fit-content;
   
    }
}
