.ourWholeRightContainer {
  width: 100%;
  height: 450px;
  margin: 0 auto;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourWholeRightContent {
  width: 62%;
  position: absolute;
  left: 7%;
  z-index: 1;

  text-align: left;
}

.ourWholeRightContent > div {
  width: 100%;
  height: 150px;
  text-align: left;

  display: flex;
  justify-content: space-between;
}

.ourWholeRightContent > div > p {
  width: 45%;
  height: 100%;
  border-right: 3px solid #ef4c23;

  font-size: 18px;
  margin: 0;

  padding-right: 2%;
}

.ourWholeRightContent > div > ul {
  width: 40%;
  height: 100%;
  padding-right: 1%;
  border-right: 3px solid #ef4c23;

  font-size: 18px;
}

.ourWholeRightContent > button {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 70px;
  margin-top: 3%;
  cursor: pointer;

  background-color: #ef4c23;
  color: white;

  border: 2px solid #ef4c23;
  outline: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ourWholeRightContent > button:hover {
  color: #ef4c23;
  background-color: white;
}

.ourWholeRightImage {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ourWholeRightImage > img {
  height: 80%;
}
