.CpqScreensmaindiv{
   display: flex;
    flex-direction: column;
}
.CpqScreensmaindivinner{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}
.CpqScreensmaindivinnercontent{
  width: 45%;
  padding: 40px 5px;
}
.CpqScreensmaindivinnerimage{
    width: 45%;
}
.CpqScreensmaindivinner:nth-child(even){
    flex-direction: row-reverse;
}
.CpqScreensmaindivinner:nth-child(even) ul li:nth-of-type(3){
    display: none;

}


@media (max-width:1024px){
    
     .CpqScreensmaindivinner{
       
         flex-direction: column-reverse;
         width: 100%;
        
     }
     .CpqScreensmaindivinnercontent{
       width: 90%;
      padding: 0;
      margin: 4% auto;
     
     }
     .CpqScreensmaindivinnercontent>h2{
        text-align: center;
        margin: 4% auto;
     }
     .CpqScreensmaindivinnerimage{
         width: 90%;
         margin: auto;
     }
     .CpqScreensmaindivinner:nth-child(even){
        flex-direction: column-reverse;
    }
     
}