.CpqScreensmaindiv{
   display: flex;
    flex-direction: column;
}
.CpqScreensmaindivinner{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}
.CpqScreensmaindivinnercontent{
  width: 45%;
  padding: 40px 5px 40px 5px;
}
.CpqScreensmaindivinnerimage{
    width: 45%;
}
.CpqScreensmaindivinnertwo{
    display: flex;
    flex-direction: row-reverse;
     width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}

@media (max-width:1024px){
    .CpqScreensmaindiv{
        display: flex;
         flex-direction: column;
     }
     .CpqScreensmaindivinner{
         display: flex;
         flex-direction: column-reverse;
         width: 100%;
         margin: auto;
         justify-content: space-between;
         align-items: center;
         margin-top: 4%;
     }
     .CpqScreensmaindivinnercontent{
       width: 90%;
       padding: 40px 5px 40px 5px;
       margin: auto;
     }
     .CpqScreensmaindivinnerimage{
         width: 90%;
         margin: auto;
     }
     .CpqScreensmaindivinnertwo{
         display: flex;
         flex-direction:column-reverse;
          width: 90%;
         margin: auto;
         justify-content: space-between;
         align-items: center;
         margin-top: 4%;
     }
     
}