.appFeatureMaindiv {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  margin-top: 4%;
}
.AppFeature-innermaindiv1 h1 {
  font-size: 40px;
  margin-left: 20%;
}
.AppFeature-innermaindiv1 {
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  width: 60%;
  /* padding-left: 8%; */
  margin-top: 3%;
  justify-content: center;
  /* text-align: center; */
}
.appFeatureInnerMaindivBox {
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
  margin-top: 4%;
  justify-content: center;
}
.appFeatureInnerMaindivBoxcontain {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 2%;
  padding-top: 2%;
  border: 2px solid green;
  width: 40%;
  margin-left: 2%;
  /* margin-top: 2%; */
}

.appFeatureInnerMaindivBoxcontain:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.appFeatureInnerMaindivBoxcontain1:hover {
  /* background-color:  #eda895; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.appFeatureInnerMaindivBoxcontain h4 {
  margin-top: 4%;
}

.appFeatureInnerMaindivBoxcontain1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 2%;
  padding-top: 2%;
  border: 2px solid darkmagenta;
  width: 30%;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  margin-left: 2%;
  /* margin-top: 2%; */
}
.appFeatureInnerMaindivBoxcontain1 h4 {
  margin-top: 4%;
}
.appFeatureInnermaindiv2 {
  border: 2px solid yellow;
  width: 50%;
  margin-top: 3%;
}
.appFeatureInnermaindiv2 img {
  width: 100%;
  height: 80%;
  border: 2px solid green;
  margin-top: 18%;
  /* margin-right: 10%; */
}
.appFeatureInnermaindiv21 {
  border: 2px solid yellow;
  width: 50%;
  margin-top: 3%;
}
.appFeatureInnermaindiv21 img {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  margin-top: 3%;
  /* margin-right: 10%; */
}

.appFeatureMaindivadmin {
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  margin-top: 4%;
}
.AppFeature-innermaindiv1admin h1 {
  font-size: 40px;
  margin-left: 20%;
}
.AppFeature-innermaindiv1admin {
  border: 2px solid pink ;
  display: flex;
  flex-direction: column;
  width: 60%;
  /* padding-left: 8%; */
  margin-top: 3%;
}
.appFeatureInnerMaindivBoxadmin {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  margin-top: 4%;
  justify-content: center;
}
.appFeatureInnerMaindivBoxcontainadmin {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 2%;
  padding-top: 2%;
  border: 2px solid red;
  width: 30%;
  margin-left: 2%;
  /* margin-top: 2%; */
}

.appFeatureInnerMaindivBoxcontainadmin:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.appFeatureInnerMaindivBoxcontain1admin:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.appFeatureInnerMaindivBoxcontainadmin h4 {
  margin-top: 4%;
}

.appFeatureInnerMaindivBoxcontain1admin {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 2%;
  padding-top: 2%;
  border: 2px solid red;
  width: 30%;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  margin-left: 2%;
  /* margin-top: 2%; */
}
.appFeatureInnerMaindivBoxcontain1admin h4 {
  margin-top: 4%;
}
.appFeatureInnermaindiv2admin {
  border: 2px solid yellow;
  width: 50%;
  /* justify-content: baseline; */
  /* position: absolute; */
  /* right: 10%; */
}
.appFeatureInnermaindiv2admin img {
  width: 100%;
  height: 100%;
  /* margin-right: 10%; */
}
