.multipleProductssolution {
  width: 96%;
  /* background-color: aqua; */
  /* height: 550px; */
  margin-top: 10px;
}

.multipleProductssolution h2 {
  /* border: 1px solid red; */
  width: 60%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.multipleProductseLearning {
  width: 100%;
  display: flex;
  margin: auto;
  /* background-color: blue; */
  /* height: 550px; */
}

.multiProductsImageDiv {
  width: 50%;
  /* background-color: blueviolet; */
  margin: 0.5% 2%;
  text-align: left;
  padding: 40px;
  /* height: 400px; */
  position: relative;
}

.multiProductsImageDiv img {
  /* border: 1px solid black; */
  width: 100%;
  object-fit: cover;
  margin: 0.5% 4%;
}

.solutionpara {
  width: 80%;

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.solright {
  width: 50%;
  margin: 20px;
  /* background-color: red; */
  height: 500px;
}

.soltop {
  display: flex;
}

.soltop > div {
  /* background-color: bisque; */
  /* border: 1px solid black; */
  width: 25%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  height: 100px;
  margin: 20px 25px;
  text-align: center;
  padding: 40px;
}

.soltop > div:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  transform: scale(1.1);
  /* transform: translateY(-15px); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: #f08034;
  color: white; */
}

/* .soltop > div > p {
  padding: 20px;
} */

.multipleProductsai {
  /* background-color: aqua; */
  width: 65px;
  height: 65px;
  margin: auto;
  /* border: 1px solid red; */
}

.multipleProductsai > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.solbotm {
  display: flex;
}

.solbotm > div {
  text-align: center;
  /* background-color: bisque; */
  width: 20%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  height: 100px;
  margin: 20px 25px;
  padding: 40px;
  /* border: 1px solid red; */
}

.solbotm > div:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  transform: scale(1.1);
  /* transform: translateY(-15px); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: #f08034;
  color: white; */
}

/* .solbotm > div > p {
  padding: 10px;
} */

.solbotm1 {
  display: flex;
}

.solbotm1 > div {
  text-align: center;
  /* background-color: bisque; */
  width: 25%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  height: 100px;
  margin: 20px 25px;
  padding: 40px;
}

.solbotm1 > div:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  transform: scale(1.1);
  /* transform: translateY(-15px); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: #f08034;
  color: white; */
}

/* .solbotm1 > div > p {
  padding: 20px;
} */

/* ------------------------Hovering Effect of Boxes----------------------------- */

.funnelDesk:hover {
  background-color: #d6ffe8;
}
.team:hover {
  background-color: #ffaf9a;
}
.market:hover {
  background-color: #ffcf9c;
}
.service:hover {
  background-color: #e1e1e1;
}
.chat:hover {
  background-color: #a1ffca;
}
