.lineupcustomerParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;

}

.lineupcustomerParent>h1 {
    font-weight: 700;
}

.lineupcustomerParent>div {

    display: flex;
    align-items: center;
    justify-content: space-between;
   


}

.lineupcustomerParent>div>div {
    width: 46%;
}

.lineupcustomerParent>div>div>h2 {
    font-weight: 700;
}

.lineupcustomerParent>div>div>p {
    font-weight: 450;

    margin-top: 2%;
}





.lineupcustomerParentfirstchild {
    background-color:  #f5f5f5;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}
.lineupcustomerParentsecchild{
    padding-bottom: 2%;
}
.lineupcustomerParentsecchildContent{
    padding-left: 8%;
}
.lineupcustomerParentthirdchild{
    background-color:  #f5f5f5;
}
.lineupcustomerParentthirdchildContent{
    padding-right: 8%;
}












@media(max-width:780px) {


    .lineupcustomerParent {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3%;
        text-align: center;
    }
    
    .lineupcustomerParent>h1 {
        font-weight: 700;
    }
    
    .lineupcustomerParent>div {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5%;
        padding-left: 8%;
        padding-right: 8%;
    
    }
    
    .lineupcustomerParent>div>div {
        width: 100%;
    }
    
    .lineupcustomerParent>div>div>h2 {
        font-weight: 700;
    }
    
    .lineupcustomerParent>div>div>p {
        font-weight: 450;
    
        margin-top: 2%;
    }
    
    
    
    
    
    .lineupcustomerParentfirstchild {
        background-color:  #f5f5f5;
        margin-top: 3%;
    }
    .lineupcustomerParentthirdchild{
        background-color:  #f5f5f5;
    }
    


}