.tickettingInboxConatiner {
  width: 100%;
}
.ticketInboxHeading {
  width: 90%;
  margin: auto;
}

.ticketInboxHeading > h2 {
  margin: 0 0 1%;
}

.ticketInboxHeading > p {
  margin: 1% 0 2%;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .ticketInboxHeading {
    text-align: center;
  }
  .ticketInboxHeading > h1 {
    font-size: 25px;
  }

  .ticketInboxHeading > p {
    font-size: 14px;
    line-height: 20px;
  }
}
