.tickettingInboxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ticketInboxHeading {
  width: 90%;
  margin: auto;
}

.ticketInboxHeading > h2 {
  margin: 0 0 1%;
}

.ticketInboxHeading > p {
  margin: 1% 0 2%;
}
.tickettingInboxDataDiv{
  /* border: 2px solid red; */
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
}
.tickettingInboxData{
  /* border: 2px solid red; */
  width: 90%;
  /* height: 80px; */
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}
.tickettingInboxData1{
  /* border: 2px solid red; */
  width: 90%;
  /* height: 80px; */
  margin-left: 10%;
  display: flex;
  flex-direction: row;
}
.tickettingInboxDataDiv1{
  /* border: 2px solid red; */
  width: 25%;
  height: 45px;
  background-color: #14944C;
  border-radius: 5px 0px 0px 5px;
  text-align: center;
  padding-top: 10px;
  color: white;
}
.tickettingInboxDataDiv2{
  /* border: 2px solid red; */
  width: 40%;
  height: 45px;
  background-color: #f5f5f5;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  padding-top: 10px;
}
.tickettingInboxDataDivarrow{
  /* border: 2px solid red; */
  width: 5%;
  margin-top: 1.5%;
}
.tickettingInboxDataDiv3{
  /* border: 2px solid red; */
  width: 5%;
  margin-top: 1.5%;
  margin-left: 25%;
}
/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .ticketInboxHeading {
    text-align: center;
  }
  .ticketInboxHeading > h1 {
    font-size: 25px;
  }

  .ticketInboxHeading > p {
    font-size: 14px;
    line-height: 20px;
  }
}
