.chatbotspinparent {
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;

}

.chatbotspinparentonly {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    margin-top: 5%;


}

.chatbotspinparentimage {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    height: 100%;


}

.chatbotspinparentbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 5%;
    font-size: 24px;
}

.chatbotspinparentbutton>button {
    width: 100%;
    height: 60px;
    margin-bottom: 2%;
    background-color: transparent;
    border: 1px solid #04c358;
    border-radius: 10px;
}

.chatbotspinparentbutton>button:hover{
  
    
    border: 2px solid #04c358;
    color: white;
    background-color: #04c358;

}












@media(max-width:780px) {
    .chatbotspinparent {
        width: 90%;
        margin: auto;
        margin-top: 6%;
        text-align: center;

    }

    .chatbotspinparentonly {

        flex-direction: column;
        height: auto;


    }

    .chatbotspinparentimage {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 20px;
        height: 100%;


    }

    .chatbotspinparentbutton {
       
        width: 100%;
        padding-top: 0;
        
    }


}