.UIDesignMidBannermain {
  padding: 3% 3% 10px;

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/Images/UIDesignPhotos/mid-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  text-align: center;
}

.UIDesignMidBannermain > h1 {
  font-size: 32px;
}

.UIDesignMidBannermain > p {
  font-size: 16px;
}

.UIDesignMidBannermain > button {
  font-size: 18px;
  font-weight: 600;

  padding: 10px 50px;
  margin: 2% auto;
  cursor: pointer;

  border: 2px solid white;
  background: white;
  color: #ef4c23;
  outline: 0;
  border-radius: 40px;
}

.UIDesignMidBannermain > button:hover {
  background-color: #ef4c23;
  color: white;
}
