.hiretalent {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.jobroles {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.leftrole {
  width: 40%;
  height: 100%;
  position: relative;
}

.topcontent {
  position: absolute;
  top: 3%;
  left: 5%;
  width: fit-content;
  height: 10px;
  color: white;
}

.leftrole > img {
  width: 100%;
}

.techstackpart {
  width: 100%;
  height: 250px;
  color: white;
  position: absolute;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
}

.relatedtech {
  width: 100%;
  height: 100px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  column-gap: 50px;
  padding: 10px;
  row-gap: 5px;
  box-sizing: border-box;
  justify-content: center;
}

.relatedtechInnerDiv {
  width: 100% !important;
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
}

.rightrole {
  width: 60%;
  position: relative;
}

.backcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 7px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.backdiv {
  width: 80%;
  margin: auto;
  height: 76px;
  border: 1px solid gray;
  box-sizing: border-box;
}
.devroles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 23px;
  width: 100%;
  height: 98%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.rolespart1 {
  width: 40%;
  padding: 12px;
  text-align: center;
  background-color: rgb(51, 53, 51);
  color: white;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 13%;
  box-sizing: border-box;
}

.rolespart2 {
  width: 40%;
  background-color: rgb(51, 53, 51);
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  font-weight: 600;
  margin-left: 13%;
  box-sizing: border-box;
  cursor: pointer;
}

@media (max-width: 480px) {
  .hiretalent {
    width: 100%;
    display: none;
  }
  .hiretalent > h1 {
    margin: 0;
    font-size: 22px;
  }
  .hiretalent > p {
    font-size: 14px;
  }

  .jobroles{
    flex-direction: column-reverse;
    height: fit-content;
  }
.rightrole{
  width: 100%;
}
  .backcont{
    display: none;
  }

  .devroles{
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .rolespart1{
    margin: 0;
    width: fit-content;
    font-size: 14px;
  }
  .rolespart2{
    margin: 0;
    width: fit-content;
    font-size: 14px;
  }
}
