.neoAdminAdministrationMainDiv{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.neoAdminAdministrationPassword{
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
}
.neoAdminAdministrationHeading{
    text-align: center;
    
}
.neoAdminAdministrationImage{
    width: 50%;
    height: 70vh;
    margin-left: 5%;
}
.neoAdminAdministrationContent{
    margin-top: 2%;
}

.neoAdminAdministrationText{
    width: 45%; 
    margin-top: 9%;
    margin-left: 10%;
}

.neoAdminAdministrationText>h1{
    margin: auto;
}
.neoAdminAdministrationText>p{
    font-size: 16px;
}
.neoAdminLink{
    color: #EE4C23;
}
.neoAdminAdministrationPassword1{
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}
.neoAdminAdministrationImage1{
    width: 35%;
    height: 60vh;
    margin-left: 10%;
}
.neoAdminAdministrationText1{
    width: 40%; 
    margin-top: 9%;
    margin-left: 8%;
}

.neoAdminAdministrationText1>h1{
    margin: auto;
}
.neoAdminAdministrationText1>p{
    font-size: 16px;
}
.neoAdminAdministrationImage3{
    width: 40%;
    height: 70vh;
    margin-left: 8%;
}

@media(max-width:480px){
    .neoAdminAdministrationPassword{
        flex-direction: column;
    }
    .neoAdminAdministrationPassword1{
        flex-direction: column-reverse;
    }
    .neoAdminAdministrationImage1{
        width: 90%;
        height: 40vh;
        margin: auto;
    }
    .neoAdminAdministrationText1{
        width: 90%; 
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .neoAdminAdministrationImage{
        width: 95%;
        height: 40vh;
        margin: auto;
    }
    .neoAdminAdministrationText{
        width: 95%; 
        margin:auto;
        margin-top: 5%;
    }
}