.neoAdminAdministrationMainDiv{
    /* border: 2px solid gold; */
    width: 100%;
    display: flex;
    flex-direction: column;
}
.neoAdminAdministrationPassword{
    /* border: 2px solid red; */
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
}
.neoAdminAdministrationHeading{
    /* border: 2px solid red; */
    text-align: center;
    
}
.neoAdminAdministrationImage{
    /* border: 2px solid blueviolet; */
    width: 50%;
    height: 70vh;
    margin-left: 8%;
}
.neoAdminAdministrationContent{
    margin-top: 2%;
}
.neoAdminAdministrationTextMain{
    /* border: 2px solid darkblue; */
    width: 45%; 
    margin-top: 9%;
    margin-left: 8%;
}
.neoAdminAdministrationText{
    /* border: 2px solid red; */
    width: 45%; 
    margin-top: 9%;
    margin-left: 12%;
}

.neoAdminAdministrationText>h1{
    margin: auto;
    font-size: 45px;
}
.neoAdminAdministrationText>p{
    font-size: 16px;
}
.neoAdminLink{
    color: #EE4C23;
}
.neoAdminAdministrationPassword1{
    /* border: 2px solid red;   */
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
}
.neoAdminAdministrationImage1{
    /* border: 2px solid red; */
    width: 35%;
    height: 60vh;
    margin-left: 10%;
}
.neoAdminAdministrationText1{
    /* border: 2px solid red; */
    width: 40%; 
    margin-top: 9%;
    margin-left: 8%;
}

.neoAdminAdministrationText1>h1{
    margin: auto;
    font-size: 45px;
}
.neoAdminAdministrationText1>p{
    font-size: 16px;
}
.neoAdminAdministrationImage3{
    /* border: 2px solid red; */
    width: 40%;
    height: 70vh;
    margin-left: 8%;
}

@media(max-width:480px){
    .neoAdminAdministrationPassword{
        flex-direction: column;

    }
    .neoAdminAdministrationPassword1{
        flex-direction: column-reverse;
    }
    .neoAdminAdministrationImage1{
        width: 90%;
        height: 40vh;
        margin: auto;
        /* margin-left: 10%; */
    }
    .neoAdminAdministrationText1{
        /* border: 2px solid red; */
        width: 90%; 
        margin: auto;
    }
    .neoAdminAdministrationImage3{
        width: 90%;
        height: 40vh;
        margin: auto;
        /* margin-left: 10%; */
    }
    .neoAdminAdministrationText3{
        /* border: 2px solid red; */
        width: 90%; 
        margin: auto;
    }
    
    .neoAdminAdministrationTextMain{
        /* border: 2px solid green; */
        width: 90%;
        margin: auto;
    }
    .neoAdminAdministrationImage{
        /* border: 2px solid red; */
        width: 95%;
        height: 40vh;
        margin: auto;
    }
    .neoAdminAdministrationText{
        /* border: 2px solid red; */
        width: 95%; 
        margin:auto;
    }
}