.neoAdminBillingMainDiv{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.neoAdminBillingPassword{
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
}
.neoAdminBillingHeading{
    text-align: center;
    
}
.neoAdminBillingImage{
    width: 50%;
    height: 70vh;
    /* margin-left: 8%; */
}
.neoAdminBillingContent{
    margin-top: 2%;
}
.neoAdminBillingText{
    width: 45%; 
    margin-top: 9%;
    margin-left: 12%;
}

.neoAdminBillingText>h1{
    margin: auto;
}
.neoAdminBillingText>p{
    font-size: 16px;
}
.neoAdminLink{
    color: #EE4C23;
}
.neoAdminBillingPassword1{
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
}
.neoAdminBillingImage1{
    width: 35%;
    height: 60vh;
    margin-left: 10%;
}
.neoAdminBillingText1{
    width: 40%; 
    margin-top: 9%;
    margin-left: 8%;
}

.neoAdminBillingText1>h1{
    margin: auto;
}
.neoAdminBillingText1>p{
    font-size: 16px;
}
.neoAdminBillingImage3{
    width: 40%;
    height: 70vh;
    /* margin-left: 8%; */
}

@media(max-width:480px){
    .neoAdminBillingPassword{
        flex-direction: column;
    }
    .neoAdminBillingPassword1{
        flex-direction: column-reverse;
    }
    .neoAdminBillingImage1{
        width: 90%;
        height: 40vh;
        margin: auto;
    }
    .neoAdminBillingText1{
        width: 90%; 
        margin: auto;
        margin-top: 5%;
    }
    .neoAdminBillingImage3{
        width: 90%;
        height: 40vh;
        margin: auto;
    }    
    .neoAdminBillingImage{
        width: 95%;
        height: 40vh;
        margin: auto;
    }
    .neoAdminBillingText{
        width: 90%; 
        margin:auto;
        margin-top: 5%;
    }
}