.SaaSDatamaindiv {
  /* border:  2px solid red; */
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-top: 6%;
}

.SaaSDatamaindiv p {
  font-size: 18px;
  margin-top: 30px;
}

.SaaSDatamaincontaindiv {
  /* border: 2px solid green; */
  width: 60%;
}

.SaaSDatamainimagediv {
  border: 1px solid lightgray;
  width: 50%;
  height: 480px;
  margin-left: 2%;
  border-radius: 10px;
}

.SaaSDatamainimagediv img {
  width: 100%;
}

.SaaSdatalearnmore {
  color: rgb(65, 191, 241);
  text-decoration: underline;
  font-size: 18px;
}

.SaaSdatalearnmore:hover {
  background-color: rgb(250, 232, 234);
}

.SaaSDatamainimagediv1 {
  border: 1px solid lightgray;
  width: 50%;
  height: 480px;
  /* margin-left: 2%; */
  border-radius: 10px;
}

.SaaSDatamainimagediv1 img {
  width: 100%;
}

.SaaSDatamaincontaindiv1 {
  /* border: 2px solid green; */
  width: 60%;
  margin-left: 3%;
}
.Productivitymore{
  color: orangered;
  text-decoration: underline;
}

/* this code is for the mobile resposive */

@media (max-width: 480px) {
  .SaaSDatamaindiv {
    flex-direction: column;
  }
  .SaaSDatamaindiv:nth-child(2){
    flex-direction: column-reverse;
  }
  .SaaSDatamaindiv:nth-child(4){
    flex-direction: column-reverse;
  }

  .SaaSDatamaincontaindiv {
    width: 95%;
  }

  .SaaSDatamainimagediv {
    border: 1px solid lightgray;
    width: 95%;
    height: fit-content;
    margin: auto;
  }


  .SaaSDatamainimagediv1 {
    border: 1px solid lightgray;
    width: 95%;
    height: fit-content;
  }

  .SaaSDatamaincontaindiv1 {
    width: 100%;
   margin: auto;
  }
}
