.ChatCampaignParent {
    margin: 0px;
    padding: 0px;
    height: auto;
 padding-bottom: 2%;
    margin-top: 5%;
}

.ChatCampaignParent>h3 {
    width: 64%;
    height: 20%;
    display: flex;
    text-align: center;
    margin-left: 18%;
}

.gridparent {
    margin-top: 2%;
    height: 60%;
    display: flex;
    width: 80%;
    margin-left: 10%;
}

.gridparent>div {
    width: 31%;
    margin-left: 2%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.gridparent>div>h3 {
    color:#F88F1F;
    text-align: center;
}







 @media (max-width:780px){
    .ChatCampaignParent {
        height: auto;
        margin-top: 10%;
    }
    
    .ChatCampaignParent>h3 {
        margin-left: 0%;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: justify;  
    }
    
    .gridparent {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        margin: auto;
        margin-top: 5%; 
    }
    
    .gridparent>div {
        width: 90%;
        align-content: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 25px;
        margin: auto;
        padding: 30px;
        margin-top: 3%;
    }
    
    .gridparent>div>h3 {
        color: red;
        font-size: 28px;
        text-align: center;
    }
    
    .gridparent>div>p {
        font-size: 18px;
        margin-top: 5%;
        text-align: justify;
    }
    
    .line {
        width: 100%;
        border: solid red;
        background-color: #f05a1f;
        
        bottom: 30%;
        height: 30px;
      
     }
 }