.AutomationBannerContainer {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;
}

.AutomationBannerContainer>div {
    width: 45%;
    text-align: left;
}

.AutomationBannerContainer>div>h1 {
    font-size: 40px;
    margin-top: 0;
    line-height: 45px;
}

.AutomationBannerContainer>div>p {
    font-size: 20px;
    margin: 2% 0;
}

.AutomationBannerContainer>div>button {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 60px;
    border-radius: 50px;
    border: 2px solid black;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 3%;
}

.AutomationBannerContainer>div>button:hover {
    background-color: white;
    color: black;
}

.AutomationBannerContainer>span {
    height: fit-content;
    width: 45%;
}

/* media query for mobile and tablets */
@media (max-width: 1024px) {
    .AutomationBannerContainer {
        flex-direction: column-reverse;
    }

    .AutomationBannerContainer>div {
        width: 95%;
        text-align: center;
    }

    .AutomationBannerContainer>div>h1 {
        font-size: 28px;
        line-height: 30px;
    }

    .AutomationBannerContainer>div>p {
        font-size: 16px;
    }

    .AutomationBannerContainer>div>button {
        font-size: 14px;
        padding: 8px 20px;
    }

    .AutomationBannerContainer>span {
        width: 95%;
    }
}