.ServicesSpecializedMainDiv {
  text-align: center;
  margin-top: 4%;
}
.ServicesSpecializedBox {
  height: auto;
  width: 80%;
  padding: 5% 2% 2% 2%;
  margin: 7% auto 0;
  border: 1px solid #f9c4b6;
  border-radius: 2%;
  text-align: center;
}

.ServicesSpecializedInnerDiv {
  width: 80%;
  margin: 2% auto;
  /* display: flex; */
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  /* gap: 3%; */

  /* border: 2px solid black; */
  flex-wrap: wrap;
}
.ServicesSpecializedArrowImage {
  height: 12px;
  width: 15px;
  margin-left: 4px;
  display: inline-block;
}
.ServicesSpecializedButton1 {
  border: 1px solid white;
  color: #ef4c23;
  background-color: transparent;
  display: block;
  margin: auto;
}
.ServicesSpecializedButton1:hover {
  border: 1px solid #ef4c23;
  border-radius: 5px;
}
.ServicesSpecializedButton {
  padding: 8px 20px;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-top: 4%;
  width: 70%;
  background-color: #ef4c23;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
.ServicesSpecializedButton:hover {
  background-color: white;
  color: #ef4c23;
}
@media (max-width:480px){
    .ServicesSpecializedMainDiv{
      margin-top: 8%;
      margin-bottom: 10%;
    }
    .ServicesSpecializedInnerDiv{
      height: auto;
      display: block;
    }
    .ServicesSpecializedBox{
      margin-top: 8%;
    }
    .ServicesSpecializedBox p{
      padding: 0 2%;
      font-size: 16px;
    }
  
    .ServicesSpecializedBox{
      width: 90%;
    }
  }