.MarketerHomePageBannermaindiv{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    height: 95vh;
    width: 100%;
    justify-content: space-around;
    background: url("https://bottom-funnel-product.s3.ap-south-1.amazonaws.com/Images/MarketerHomePagephotos/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60px;
}
.MarketerHomePageBannermaindivcontain{
    /* border: 2px solid red; */
    width: 45%;
    margin: auto;
    margin-top: 8%;

}
.MarketerHomePageBannermaindivimage{
    /* border: 2px solid yellow; */
    width: 45%;
    padding-top: 50px;
    /* height: 600px; */
    /* margin-top: 3%; */
    /* margin: auto; */
}
.MarketerHomePageBannermaindivimage img{
width: 100%;
height: 80%;
}
.MarketerHomePageBannermaindivcontain h1{
    /* border: 2px solid pink; */
    width: 79%;
    margin: 1%;

}
.MarketerHomePageBannermaindivcontain p{
    /* border: 2px solid pink; */
    width: 75%;
    margin: 1%;
}
.MarketerHomePageBannermaindivbutton{
    border: 1px solid #F78F1E;
    border-radius: 5px;
    width: 200px;
    background-color: #F78F1E;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px 10px 10px ;
    margin-left: 1%;
    color: white;
    margin-top: 3%;

}
.MarketerHomePageBannermaindivbutton1{
    border: 1px solid #F78F1E;
    border-radius: 5px;
    background-color: #F78F1E;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px 10px 10px ;
    width: 200px;
    margin-left: 2%;
    color: white;
    margin-top: 3%;

}
.MarketerHomePageBannermaindivbutton1:hover{
    color:#F78F1E;
    background-color: white;
    border: 1px solid #F78F1E;

}

.MarketerHomePageBannermaindivbutton:hover{
    color:#F78F1E;
    background-color: white;
    border: 1px solid #F78F1E;

}
@media  (max-width:1024px){
    .MarketerHomePageBannermaindiv{
        /* border: 2px solid green; */
        display: flex;
        flex-direction: column-reverse;
        height: 80vh;
        width: 100%;
        justify-content: space-evenly;
        background: url("/Images/MarketerHomePagephotos/background.png");
        background-size: 100% ;
        background-repeat: no-repeat;
        background-position: bottom;
        margin-top: 60px;
    }
    .MarketerHomePageBannermaindivcontain{
        /* border: 2px solid red; */
        width: 95%;
        margin: auto;
        text-align: center;
      
    
    }
    .MarketerHomePageBannermaindivimage{
  
        width: 90%;
        padding-top: 0px;
        /* border: 2px solid; */
        margin: auto;
     
    }
    .MarketerHomePageBannermaindivimage img{
    width: 100%;
    height:100%;
    }
    .MarketerHomePageBannermaindivcontain h1{
       font-size: 28px;
       width: fit-content;
       margin: 0%;
    }
    .MarketerHomePageBannermaindivcontain p{
        /* border: 2px solid pink; */
        width: fit-content;
        margin: 0%;
        font-size: 18px;
        margin-top: 3%;
    }
    .MarketerHomePageBannermaindivbutton{
        border: 1px solid #F78F1E;
        border-radius: 5px;
        width: 150px;
        background-color: #F78F1E;
        font-size: 16px;
        font-weight: 600;
        padding: 0px;
        margin-left: 1%;
        color: white;
        margin-top: 5%;
        height: 40px;
    
    }
    .MarketerHomePageBannermaindivbutton1{
        border: 1px solid #F78F1E;
        border-radius: 5px;
        background-color: #F78F1E;
        font-size: 16px;
        font-weight: 600;
        padding: 0px;
        height: 40px;
        width: 150px;
        margin-left: 2%;
        color: white;
        margin-top: 3%;
    
    }
    .MarketerHomePageBannermaindivbutton1:hover{
        color:#F78F1E;
        background-color: white;
        border: 1px solid #F78F1E;
    
    }
    
    .MarketerHomePageBannermaindivbutton:hover{
        color:#F78F1E;
        background-color: white;
        border: 1px solid #F78F1E;
    
    }
}