.pharmacydrive {
  width: 100%;
  height: 650px;
  /* background-color: cornflowerblue; */
}
.pharmacydrive > h1 {
  margin-left: 60%;
  color: #5cacb2;
}
.pharmacydrivesub {
  width: 100%;
  height: 500px;
  margin-top: 2%;
  justify-content: space-between;
  /* background-color:  chocolate; */
  display: flex;
}
.pharmacydriveleft {
  width: 50%;

  /* background-color: blue; */
  height: 500px;
  background: url("/Images/pharmacy/lastrectangle.png");
  background-repeat: no-repeat;
  background-size: 100% 450px;
  margin-left: -3%;
  position: relative;
}
/* .pharmacydriveright{
      width: 50%;
      height: 500px;
      background-color:  rgb(210, 30, 78)
  } */

.pharmacydriveright {
  width: 45%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pharmacydriveright > div {
  padding: 10px 10px 10px 10px;
  gap: 10px;
  margin-left: 8%;
  height: 200px;
  width: 35%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.pharmacydriveright > div:hover {
  background-color: #e1f9f6;
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pharmacydriveright > div > h3 {
  font-size: 18px;
}

.pharmacyDriveImage {
  width: 50%;
  height: 500px;
  position: absolute;
  z-index: 2;
  margin-top: 4%;
  margin-left: 20%;
  /* background-color: red; */
}

.pharmacyDriveImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
