.BISolutionsContainer {
  width: 90%;
  margin: 2% auto;
}

.BISolutionsContainer > h1 {
  font-size: 32px;
  width: 100%;
  margin: 1% auto;
}

.BISolutionsContainer > h1 > span {
  color: #ef4c23;
}

.BISolutionsMain > div {
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.BISolutionsContent {
  width: 96%;
}

.BISolutionsContent > h2 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 1%;
}

.BISolutionsContent > p {
  font-size: 16px;
  margin: 1% auto;
}

.BISolutionsDot {
  width: 3%;
}

.BISolutionsDot > img {
  width: 100%;
}
