.EmailSelltopdiv{
    padding: 30px 0;
    background-color: whitesmoke;
    margin-top: 4%;
}
.EmailSellmaindiv{
margin: auto;
    margin-top: 2%;
   
    width: 90%;
    text-align: center;
}
.EmailSelllistdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.EmailSelllistdivinner{
   width: 47%;
}
.EmailSellmaincarddiv{
   width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.EmailSellmaincarddivinner{
    width: 25%;
    text-align: center;
    padding: 1%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 3%;
    border-radius: 10px;
    height: 250px;
}

.EmailSellmaincarddivinner:hover{
    transition: all 0.2s linear;
    transform: translateY(-10px);
}
.EmailSellmaincarddivinnerimage{
    width: 80px;
    height: 80px;
   margin: auto;
   margin-top: 5%;
    
}
.EmailSellmaincarddivinner p{
    margin-top: 3%;
}

@media (max-width:1024px){
 
        .EmailSelllistdiv{
            display: flex;
            flex-direction: column;
            text-align: center;
            
        }
       
        .EmailSelllistdivinner{
           width: 90%;
        }
        .EmailSellmaincarddiv{
         
            flex-direction: column;
        }
        .EmailSellmaincarddivinner{
            width: 90%;
            padding: 20px 10px;
            
        }
       
}