.Worldwidemaindiv{
    /* border: 2px solid green; */
    width: 40%;
    margin: auto;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
     justify-content: center;
     text-align: center;
     padding: 1%;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     margin-top: 3%;
    /* align-items: center; */
}
.Worldwidemaindivimage{
    width: 40%;
    align-self: center;
    /* justify-content: center; */
}
.Worldwidemaindiv hr{
    width: 30%;
    margin: auto;
}
.Worldwidemaindiv h2{
    font-weight: 300;
}

.Worldwidemaindivtopdiv h2{
    text-align: center;
}
.Worldwidemaindivtopdiv{
    margin-top: 4%;
}