.TravelAgencySalesBannermaindiv{
    /* border: 2px solid green; */
    background: url("/Images/Travelagencysales/Banner Travel Agency.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: right;
}
.TravelAgencySalesBannermaindivinner{
    margin-right: 10%;
    margin-bottom: 4%
}
.TravelAgencySalesBannermaindivbutton{
    /* border: 2px solid yellow; */
    width: 220px;
    height: 40px;
    color: white;
    background-color: #ef4c23;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    margin-top: 2%;

}
.TravelAgencySalesBannermaindivbutton:hover{
    border: 1px solid #ef4c23;
    color: #ef4c23;
    background-color: white;
}
.TravelAgencySalesBannermaindivinner{
    width: 35%;
    margin-left: 5%;
    /* margin: auto; */
}
