.digitaltransformationtechtoolsweusedmainbox{
    height: fit-content;
margin-top: 3%;
}

.digitaltransformationtechtoolsweusedmainboxuppertxtbox{
    display: flex;
}

.digitaltransformationtechtoolsweusedmainboxuppertxtboxleftbox{
    width: 35%;
    margin: 0% 3% 0% 15%;
   border-right: 1px solid #ef4c23 ;
}

.digitaltransformationtechtoolsweusedmainboxuppertxtboxrightbox >h4{
    width: 70%;
}

.flexingboxofdigitaltransformationtechandtools{
    height: fit-content;
    width: 70%;
  
    margin:5% 0% 0% 20%;
    display: flex;
    flex-wrap: wrap;
}

.flexingboxofdigitaltransformationtechandtoolsaftermapping{
    width: 23%;
    height: 50%;

    margin: 2% 5% 2% 5%;
}

.techandtoolsdigitaltransformationicon{
    height: 25%;
    width: 30%;
    padding: 10px;


}

.techandtoolsdigitaltransformationicon >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.specialcolor{
    color: #ef4c23;
}