.digitaltransformationourservicemainboxes{
    height: fit-content;


}

.digitaltransformationourserviceuppertxtbox{
    height: fit-content;

    text-align: center;
    margin-left: 3%;
}
.digitaltransformationourserviceuppertxtbox>p{
    text-align: left;
}

.digitaltransformationservicesbox{
    height: fit-content;
    width: 95%;

    margin: 3% 0% 0% 3%;
    display: flex;
}

.digitaltransformdatamappingindivisualboxes{
    height: fit-content;
    width: 33%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-right: 2%;
    text-align: center;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.digitaltransformdatamappingindivisualboxes:hover{
    transform: scale(1.08);
}




.digitaltransformdatamappingindivisualboxesforicon{
    height: 30%;
    width: 30%;
  padding: 10px;

}

.digitaltransformdatamappingindivisualboxesforicon >img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.digitaltransformdatamappingindivisualboxesfortetxt{

    width: 80%;

    text-align: justify;
}

.digitalserviceboxmoverleftrightarrobox{
    height: 10%;
    width: 10%;
 
  margin: 2% 0% 0% 45% ;
  display: flex;
  text-align: center;
}

.digitalservicesvglogorightarrow{
    margin-left: 5%;
}

.digitalservicesvglogorightarrow:hover{
    color: #ef4c23;
}


.digitalservicesvglogoleftarrow{
    margin-left: 5%;
}

.digitalservicesvglogoleftarrow:hover{
    color: #ef4c23;
}