.businessanalysisframeworkmainbox{
    height: 100vh;
    background: url('/Images/Businessanalysis/BannersBackgrounds/Component81.png');
    background-size: cover;
    background-repeat: no-repeat;
position: relative;
width: 98%;
}

.businessanalysisframeworktxtbox{
    position: absolute;
    text-align: center;
    top: 5%;
   
  

}

.businessanalysisflexingbox{
    display: flex;
align-items: center;
justify-content: space-around;
margin: auto;
}

.businessflexingmapforbannerbox{

    height: 50%;
    margin: 1%;
    width: 24%;
    text-align: center;
 
}

.businessflexingmapforbannerbox >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.businessflexingmapforlogobox{
    position: absolute;
    height: 12%;
    width: 6%;
    
 
   margin-left: 8.5%;
    top: 32%;

}

.businessflexboxmappingtxtandstxt{
    position: absolute;
  top:50%;
    height: 48%;
    width: 23%;
    padding: 10px;
    text-align: left;

  
}

.businessflexboxmappingtxtandstxt>p{
    width: 90%;
    text-align: justify;
}

.businessflexboxmappingtxtandstxt>h5{
    width: 95%;

}