.CRMTravelmaindiv{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
justify-content: space-between;
margin-top: 4%;
    /* align-items: center; */
}
.CRMTravelmaindivimage{
    /* border: 2px solid red; */
    width: 42%;
}

.CRMTravelmaindivcontent{
    /* border: 2px solid yellow; */
    width: 50%;
}
.CRMTravelmaindivcontent h1{
    color: #ef4c23;
}
.CRMTravelmaindivcontent p{
    text-align: justify;
}