.selfServicesAutomateOllyHeadingDiv {
  width: 100%;
  margin: auto;
  text-align: center;
}

.selfServicesAutomateOllyHeadingDiv>h1>span {
  color: #ef4c23;
}

.selfServicesAutomateOllyContentDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2%;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

.selfServicesAutomateOllyContentDiv>div {
  width: 43%;
  border-radius: 10px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.selfServicesAutomateOllyContentDiv>div:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selfServicesAutomateOllyContentDiv>div>h3 {
  margin-top: 3%;
}

.selfServicesAutomateOllyContentDiv>div>div>img {
  width: 95%;
  object-fit: cover;
  margin-bottom: 3%;
}

.selfServicesAutomateOllyContentButton {
  color: #ef4c23;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .selfServicesAutomateOllyContentDiv {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .selfServicesAutomateOllyContentDiv>div {
    width: 95%;
    text-align: center;
  }

  .selfServicesAutomateOllyContentDiv>div>div {
    width: 100%;
  }

  .selfServicesAutomateOllyContentDiv>div>h3 {
    font-size: 20px;
    line-height: 20px;
    width: 90%;
    margin: 3% auto;
  }

  .selfServicesAutomateOllyContentDiv>div>p {
    font-size: 14px;
    line-height: 20px;
    width: 90%;
    margin: 2% auto;
  }

  .selfServicesAutomateOllyContentButton {
    font-size: 12px;
  }
}