.instagramDmCustomersContainer{
    /* border: 2px solid red; */
    width: 100%;
    height: 500px;
    text-align: center;
   
}
.instagramDmCustomersDiv{
    /* border: 2px solid red; */
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
}
.instagramDmCustomerLeft{
    /* border: 2px solid red; */
    width: 50%;
    text-align: left;
    padding: 30px;
    margin-left: 5%;
    margin-top: 5%;
}

.instagramDmCustomerRight{
    /* border: 2px solid red; */
    width: 40%;

}
@media(max-width:480px){
    .instagramDmCustomersContainer{
        margin-top: 4%;
        height: auto;
    }
    .instagramDmCustomersDiv{
        flex-direction: column-reverse;
        height: max-content;
    }
    .instagramDmCustomerLeft{
        width: 90%;
        margin: auto;
        padding: 5%;
    }
    .instagramDmCustomerRight{
        width: 90%;
        margin-left: 10%;
    }
}