.allFeaturesTimeMainDiv{
    /* border: 2px solid red; */
    width: 100%;
    height: 100vh;
    margin-top: 10%;
}
.allFeaturesHeading{
    /* border: 2px solid red; */
    text-align: center;
}
.allFeaturesTimeContainerBoxes{
    /* border: 2px solid green; */
    width: 85%;
    height: 80vh;
    background-color: #FDBB4D;
    border-radius:15px 0px 0px 15px;
    position: relative;
    float: right;
}
.allFeatureTimeContainerDiv{
    /* border: 2px solid red; */
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 3%;
    display: flex;
    flex-direction: column;
    
}
.allFeatureDataContainers{
    /* border: 2px solid gold; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
.allFeatureDataContainers3{
    /* border: 2px solid gold; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 2%;
}
.allFeaturesBoxes{
    /* border: 2px solid red; */
    width: 24%;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    margin-left: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.allFeaturesIconsHeading{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
}
.allFeaturesImage1{
    margin-left: 1%;
    height: 60px;
}
.allFeaturesImage2{
    margin-left: 1%;
    height: 70px;
    
}
.allFeaturesImage3{
    margin-left: 2%;
    height: 70px;
}
.allFeaturesImage4{
    margin-left: 3%;
    height: 70px;
}
.allFeaturesImage9{
    margin-left: 30%;
    height: 60px;
    width: 60px;
}
.allFeaturesImage10{
    margin-left: 7%;
    height: 60px;
    width: 60px;
}
.allFeaturesBoxes1{
    /* border: 2px solid red; */
    width: 60%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    margin-left: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}