
.JourneysTrailparent{
background: url("https://d3op2l77j7wnti.cloudfront.net/Images/Messaging channels/components/Group 1000006017.webp");

    margin: 5% auto;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 3%;
}
.JourneysTrailparent>h1{
    font-weight: 700;
    color: white;
}

.JourneysTrailparent>p{
    font-weight: 450;
    font-size: 18px;
    color: white;
}
.JourneysTrailparent>div{
   
    width: 25%;
    display: flex;
    margin-top: 1%;
   
}
.JourneysTrailparent>div>button{
    width: 47%;
    height: 50px;
  font-size: 16px;
  border: 1px solid transparent;

  background-color: #54dd4a;
  color: white;
  border-radius: 20px;

}

.JourneysTrailparent>div>button:hover{
    border: 1px solid #54dd4a;
  
  background-color: white;
  color: #54dd4a;
 

}
.JourneysTrailparent>div>button:nth-child(2){
    margin-left: 6%;
}




@media(max-width:780px){

    .JourneysTrailparent{
        
        margin-top: 5%;
     
       padding: 3% 1%;
     
        text-align: center;
     
    }
    .JourneysTrailparent>div{
       
        width: 100%;
        
        flex-direction: column;
       
        align-items: center;
       
    }
    .JourneysTrailparent>div>button{
        width: 40%;
        height: 40px;
     
      border-radius: 10px;
     
    
    }
    .JourneysTrailparent>div>button:nth-child(2){
        margin-left: 0%;
        margin-top: 2%;
    }
}