.botsrParent{
padding-left: 5%;
padding-right: 5%;
display: flex;
align-items: center;
flex-direction: column;
padding-top: 2%;
background-color: whitesmoke;
text-align: left;
padding-bottom: 2%;
}
.botsrParentParentfirstchildImage{
    width: 40%;
   margin: 3% auto;
  
}
.botsrParent>h2{
    font-weight: 700;
    margin-bottom: 1%;
    text-align: center;
}
.botsrParentParentfirstchildContent>p{
    margin: 0%;
    padding: 0%;
    width: 60%;
    margin-left: 20%;
    text-align: justify;
    

}
.botsrParentParentfirstchildContentlist{
  
    width: 80%;
    margin-left: 20%;
   
}









@media(max-width:780px){
    
        .botsrParent{
            padding: 25px 0;
        }
        .botsrParentParentfirstchildImage{
            width: 100%;
            margin: auto;
          
        }
        .botsrParent>h2{
            font-weight: 700;
            margin-bottom: 1%;
            text-align: center;
        }
        .botsrParentParentfirstchildContent>p{
           
            padding: 0%;
            margin-top: 2%;
            width: 90%;
            margin:2%  auto;
        
        }
        .botsrParentParentfirstchildContentlist{
           
           width: 80%;
           margin-left: 10%;
            
        }
        
}