.vettingHiringContainer {
  width: 90%;
  margin: 2% auto;
}

.vettingHiringContainer > h1 {
  font-size: 35px;
  width: 100%;
  text-align: center;
}

.vettingHiringContainer > h1 > span {
  color: #ef4c23;
}

.vettingHiringMain {
  width: 100%;
  margin: 2% auto;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vettingHiringMain > div {
  width: 18%;
  height: 140px;

  position: relative;
}

.vettingHiringImage {
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vettingHiringContent {
  width: 60%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.vettingHiringContent > h2 {
  font-size: 25px;
  text-align: center;
  color: white;

  margin-top: 0;
}

.vettingHiringContent > p {
  font-size: 16px;
}

/* .vettingHiringImage > img {
  width: 100%;
} */
