.seostats{
    /* border:1px solid red; */
    width:80%;
    margin: auto;
    display: flex;
    gap:2%;
    box-shadow: 3px 3px 40px rgb(0 0 0 / 15%);
    /* margin-top: -20px; */
    position: relative;
    bottom: 20px;
    background-color: white;
    border-radius: 10px;
    color: #EF4C23;
    padding: 10px;
}
.seostats1{
    /* border:1px solid green; */
    border-right: 1px solid gray;
    width:33%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    /* padding: 5px; */
}
.seostats2{
    width:33%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    /* padding: 5px; */
}