.SalesPageBannermainbox {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
}

.SalesPageBannermainboxinnertextdiv {
  height: 50%;
  width: 50%;
  margin-top: 15%;
  margin-left: 3%;

}
.SalesPageBannermainboximage {
  width: 40%;
  margin-top: 5%;
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SalesPageBannermainboxinnertextdiv > h1 {
  color: black;
  font-size: 42px;
}
.SalesPageBannermainboxinnertextdiv > p {
  color: black;
  margin-top: 1%;
  font-size: 18px;
  text-align: left;
}

.SalesPageBannerbutton {
  padding: 10px 50px;
  border-radius: 10px;
  width: 230px;
  background-color: #ef4c23;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 30px;
}

.SalesPageBannerbutton:hover {
  background-color: white;
  color: #ef4c23;
  border: 1px solid #ef4c23;
}
.SalesPageBannermainboximage img {
  width: 100%;
  height: 90%;
}
.SalesPageBannerbuttonbox{
  display: flex;
  flex-direction: row;

}
.SalesPageBannerbutton1 {
  padding: 10px 50px;
  border-radius: 10px;
  width: 230px;
  background-color: white;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: #ef4c23;
  margin-top: 30px;
  margin-left: 3%;
  border: 1px solid #ef4c23;
}

.SalesPageBannerbutton1:hover {
  background-color: #ef4c23;
  color: white
}