.CustomerSuccesshomepageBannermaindiv {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  height: 100vh;
  /* border: 2px solid; */
}
.CustomerSuccesshomepageBannermaindivcontain {
  width: 35%;
  margin: auto;
  margin-left: 7%;
  margin-bottom: 15%;
  /* border: 2px solid red; */
}
.CustomerSuccesshomepageBannermaindivcontain h1 {
  width: 80%;
  margin: 0%;
}
.CustomerSuccesshomepageBannermaindivcontain p {
  width: 80%;
  margin: 0%;
}

.CustomerSuccesshomepageBannermaindivbutton {
  width: 220px;
  font-size: 18px;
  border-radius: 10px;
  height: 40px;
  background-color: #14944C;
  color: white;
  border: none;
  margin-top: 5%;
}
.CustomerSuccesshomepageBannermaindivbutton:hover{
  background-color: white;
  border: 2px solid #14944C;
  color: #14944C;
}
.CustomerSuccesshomepageBannermaindivimage {
  width: 40%;
  margin-right: 10%;
  margin-top: 2%;
  /* border: 2px solid red; */
}


@media (max-width: 480px) {
  .CustomerSuccesshomepageBannermaindiv {
    flex-direction: column-reverse;
   
    height: fit-content;
    margin-top: 30%;
    text-align: center;
  }
  .CustomerSuccesshomepageBannermaindivcontain {
    width: 95%;
    margin: auto;
  }
  .CustomerSuccesshomepageBannermaindivcontain h1 {
    width: 100%;
   
   
  }
  .CustomerSuccesshomepageBannermaindivcontain p {
    width: 90%;
    margin: auto;
   margin-top: 5%;
   text-align: center;
   font-size: 18px;
  }
  
  
  .CustomerSuccesshomepageBannermaindivimage {
    width: 90%;
    margin: auto;
    
  }
  
  
}
