.SalesMobileofFeaturesbannermaindiv{
 display: flex;
flex-direction: row-reverse;
height: 90vh;
justify-content: space-evenly;
align-items: center;
margin-top: 5%;
}
.SalesMobileofFeaturesbannercontent{
  width: 35%;
}
.SalesMobileofFeaturesbannercontent p{
    font-size: 18px;
}
.SalesMobileofFeaturesbannerimage{
  width: 45%;
}
.SalesMobileofFeaturesbannerbutton{
    width: 220px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ef4c23;
    color: white;
    border-radius: 10px;
    border: none;
}
.SalesMobileofFeaturesbannerbutton:hover{
    color: #ef4c23;
    border: 1px solid #ef4c23;
    background-color: white;
}

.SalesMobileofFeaturesbannermaindiv1{
    /* border: 2px solid yellow; */
display: flex;
flex-direction: row-reverse;
height: fit-content;
justify-content: space-evenly;
align-items: center;
}
.SalesMobileofFeaturesbannercontenttwo{
    width: 40%;
}

.SalesMobileofFeaturesbannerimagetwo{
    width: 28%;
}

@media (max-width:1024px){
    .SalesMobileofFeaturesbannermaindiv{
        display: flex;
       flex-direction: column-reverse;
     
      margin-top: 20%;
     
     
      
       }
       .SalesMobileofFeaturesbannercontent{
         width: 90%;
         text-align: center;
         /* border: 1px solid red; */
       }
      
       .SalesMobileofFeaturesbannerimage{
         width: 90%;
      
         /* border: 1px solid red; */
       }
       
       
       .SalesMobileofFeaturesbannermaindiv1{

       flex-direction: column-reverse;
      
       }
       .SalesMobileofFeaturesbannercontenttwo{
           width: 90%;
           margin: 4% auto;
           text-align: center;
       }
       .SalesMobileofFeaturesbannercontenttwo p{
        text-align: justify;
       }
       
       .SalesMobileofFeaturesbannerimagetwo{
           width: 70%;
       }
       
}