.MarketPlaceFeatureChild {
  height: 40vh;
}

.MarketPlaceFeatureParent {
  margin-top: 3%;
  text-align: center;
 
  
}

.line {
  border: 1px solid #f0a491;
  width: 80%;
  height: 2px;
  margin: auto;
  margin-top: 1%;
}
.MarketPlaceFeatureChildContainer{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
justify-content: space-evenly;
  /* border: 1px solid red; */
  height: auto;
}
.MarketPlaceFeatureimg{
  width: 20%;
  margin: 4% auto;
  height: auto;
}
.MarketPlaceFeatureChild{
  border: 1px solid red;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  width: 22%;
  height: 38vh;
  margin-top: 4%;
  padding-top: 1%;



}
.MarketPlaceFeatureChildContent{
  /* border: 1px solid red; */
 
  width: 90%;
  margin:auto;
 
  height: 200px;
}



@media (max-width: 480px){
  .MarketPlaceFeatureChildContainer{
    flex-direction: column;
  }
  .MarketPlaceFeatureChild{
    width: 80%;
    margin: 5% auto;
  }
  .MarketPlaceFeatureParent {
    margin-top: 55%;
 
   
    
  }
  .line{
margin: 5% auto;
  }
}