.icecreamcustomerappmainboxes{
    height: fit-content;

   background-color: white;
   
}

.icecreamcustomerappmainboxes >h1{
    text-align: center;
}

.icecreamdeliveryappflexingbox{
    height: fit-content;

    display: flex;
  
}

.icecreamdeliveryappflexingboxleftbox{
    height: 480px;
    width: 45%;

    background: url("/public/Images/icecreamchanges/Rectangle 4842.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
}

.icecreamdeliveryappleftboxinsiderupperimage{
    height: 90%;
    width: 35%;
  
    margin: 5% 0% 5% 20%;
}

.icecreamdeliveryappleftboxinsiderupperimage >img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.icecreamdeliveryappflexingboxrightbox{
    height: fit-content;
    width: 55%;

    margin: 1% 3% 3% 1%;
   text-align: justify;
    display: flex;
    flex-wrap: wrap;
}
.icecreamcustomerappmainboxes >h2{
    text-align: center;
    margin-top: 3%;
    margin-left: 2%;
    font-weight: 700;
    font-size: 30px;
}

.icecreamdeliveryappindivisualbox{
    height: fit-content;
    width: 45%;
    margin: 1%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.icecreamdeliveryappindivisualbox:hover{
    transform: scale(1.02);
    background-color: #f9f5f5;
    
}


.icecreamdeliveryappindivisualboxforlogo{
padding: 5px;
}

.icecreamdeliveryappindivisualboxfortext>h4{
    font-size: 20px;
}