.dealbusinesshealthmainboxes{
    height: fit-content;
}

.dealbusinesshealthmainboxes>h1{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.dealbusinesshealthmainboxes>p{
    width: 80%;
    margin: auto;
    text-align: center;
}

.dealbusinesshealthflexbox{
    display: flex;
 margin-top: 3%;
 
}
.dealbusinesshealthflexbox:nth-child(1){
    background-color: #f5f5f5;
}

.dealbusinesshealthleftboxes{
    width: 40%;
    margin-top: 5%;
}
.dealbusinesshealthleftboxes>h2{
    font-weight: 700;
    font-size: 35px;
    margin-top: 3%;
    margin-left: 10%;
}
.dealbusinesshealthleftboxes>p{
    margin-top: 3%;
    margin-left: 10%;
}
.dealbusinesshealthrighttboxes{
    width: 50%;
    margin-left: 5%;
    height: 500px;
}

@media (max-width:1024px){
    .dealbusinesshealthmainboxes{
        height: fit-content;
        /* border: 2px solid; */
    }
    
    .dealbusinesshealthmainboxes>h1{
       
        font-size: 32px;
        
    }
    
    .dealbusinesshealthmainboxes>p{
        width: 90%;
        margin: auto;
        text-align: justify;
    }
    
    .dealbusinesshealthflexbox{
        display: flex;
        flex-direction: column-reverse;
    
     padding: 10px 0;
    }
    
    .dealbusinesshealthleftboxes{
        width: 85%;
        padding: 10px;
        margin: auto;
        text-align: center;
       

    }
    .dealbusinesshealthflexbox:nth-child(4) .dealbusinesshealthrighttboxes{
       width: 50%;
      margin: auto;
    }
    .dealbusinesshealthleftboxes>h2{
       
        font-size: 32px;
      margin: auto;
    }
    .dealbusinesshealthleftboxes>p{
        text-align: justify;
        margin: auto;
    }
    .dealbusinesshealthrighttboxes{
        width: 90%;
      
        height: auto;
    }
    
}