.dealmanagementlowerbannermainbox{
    height: 60vh;
    margin-top: 2%;
    border: 1px solid transparent;
    background-color: #ffefeb;
    margin-bottom: 4%;
}

.dealmanagementlowerbannertxtbox{
    height: fit-content;
    margin-top: 4%;

}

.dealmanagementlowerbannertxtbox>h1{
    text-align: center;
}

.dealmanagementlowerbannertxtbox>p{
    width: 70%;
    margin: auto;
    text-align: center;
}

.lowerbannerflecxbox{
    display: flex;
}

.lowerbannerlefttbox{
    margin-top: 5%;
    margin-left: 5%;
}

.lowerbannerrightbox{
    width: 30%;
    height: 250px;
    margin-left: 20%;
    margin-top: 2%;
}

@media (max-width:480px){
    
    .dealmanagementlowerbannermainbox{
        height: auto;
        margin: 4% auto;
    }
    
    
    
    
    .dealmanagementlowerbannertxtbox>p{
        width: 90%;
       
    }
    
    .lowerbannerflecxbox{
        display: flex;
        flex-direction: column-reverse;
    }
    
   
    
    .lowerbannerrightbox{
        width: 90%;
        height: 250px;
       margin: auto;
       
    }
    
}