.dealmanagementhandlemainboxes{
    height: fit-content;
    margin: auto;
    margin-top: 5%;
    display: flex;
}
.dealmanagementhanleleftbox{
    width: 40%;

}

.dealmanagementhanlelerightbox{
    width: 50%;
    height: 500px;
    margin-left: 5%;
}

.dealmanagementhanleleftbox>h2{
    font-weight: 700;
    font-size: 35px;
    margin-top: 20%;
    margin-left: 10%;
}

.dealmanagementhanleleftbox>p{
    margin-left: 10%;
    text-align: justify;
}