.dealmanagementvisiabilitymainboxes{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 3% auto;
}
.mainbox>h2{
    text-align: center;
    margin-top: 4%;
    font-weight: 700;

}
.dealmanagementvisiabilitymainboxes>div{
    width: 30%;
    height: 200px;
     margin: 1%;
      padding: 10px;
}

.dealmanagementvisiabilityiconbox{
    height: 30%;
    width: 20%;
   
}

.dealmanagementvisiabilitymainboxes>div>p{
text-align: justify;
}

@media (max-width:1024px){
    .dealmanagementvisiabilitymainboxes{
        
        width: 100%;
    }
    
    .dealmanagementvisiabilitymainboxes>div{
        width: 90%;
        height: fit-content;
         margin: auto;
          padding: 10px;
    }
    .mainbox>h2{
        font-size: 30px;
     padding: 10px;
    }
    
    
   
    
}