.pipelinemanagementmainboxes{
    height: fit-content;
}

.pipelinemanagementmainboxes>h1{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}

.pipelinemanagementmainboxes>h1>span{
  color: #ef4c23;
}

.pipelinemanagementmainboxes>p{
    width: 70%;
    text-align: center;
    margin: auto;
}

.pipelinemanagementflexbox{
    display: flex;
    height: 600px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pipelinesmanagementleftbox{
    margin-left: 25%;
}

.pipelinesmanagementrightbox{
    width: 50%;
    height: 80%;
    margin-left: 20%;
    margin-top: 5%;
}

.pipelinesmanagementleftbox>div{
    position: absolute;
    margin-top: -37.5%;
    margin-left: 2%;

    width: 15%;
}

.pipelinesmanagementleftbox>div>p:nth-child(even){

margin-left: -100%;
margin-top: 30%;
width: 90%;


}

