.Eyeweardevelopmentmainbox {
  height: fit-content;
}
.eyeweardeliveryservicetextbox {
  width: 60%;
  margin: auto;
}
.eyeweardeliveryservicetextbox > h1 {
  text-align: center;

  font-size: 35px;
}
.eyeweardeliveryservicetextbox > p {
  text-align: center;
}

.eyeweardeliveryservicebackgroundimagebox {
  height: 100%;
  width: 90%;
  margin: auto;
  background-image: url("/Images/Flowerdeliverypage/Rectangle1947.png");

  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}
.eyeweardeliveryserviceboxesmap {
  padding: 1%;
  height: auto;
  width: 28%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1% 1% 1% 2%;
  background-color: white;
  border-radius: 10px;
  /* border: 2px solid red; */
}

.eyeweardeliveryserviceboxesmap:hover {
  transform: scale(1.02);
  background-color: #ffebef;
}

.eyedeliveryserviceinnerboximagebox {
  height: 200px;
  width: fit-content;

  margin: auto;
}

.eyedeliveryserviceinnerboximagebox > img {
  height: 100%;

  object-fit: contain;
}

.Eyeweardevelopmentsolutionbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #ef4c23;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-left: 45%;
  margin-top: 5%;
}

.Eyeweardevelopmentsolutionbutton:hover {
  background-color: white;
  color: #ef4c23;
}
