.smbbannermainboxes{
    margin-top: 8%;
    /* border: 2px solid gold; */
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.smbBannerImage{
    height: auto;
    width: 40%;
    margin-left: 5%;
    margin-top: 2%;
    /* border: 2px solid red; */
}
.smbBannerHeadings{
    width: 40%;
    margin-left: 10%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.smbBannerHeadings>button{
    width: 30%;
    height: 45px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #14944C;
}
.smbBannerHeadings>button:hover{
    background-color: white;
    border: 2px solid #14944C;
    color: #14944C;
    font-weight: 600;
}

@media (max-width:480px) {
    .smbbannermainboxes{
        flex-direction: column;
        margin-top: 20%;
    }
    .smbBannerImage{
        width: 90%;
        margin: auto;
    }
    .smbBannerHeadings{
        width: 90%;
    }
    .smbBannerHeadings>h2{
        font-size: 28px;
        text-align: center;
    }
    .smbBannerHeadings>p{
        font-size: 18px;
        text-align: justify;
    }
    .smbBannerHeadings>button{
        width: 40%;
        font-size: 18px;
        margin: auto;
    }
    .smbBannerHeadings>button:hover{
       width: 150px;
        font-weight: 600;
    }
}