/* for any type of laptop and wide range of screens */
@media only screen and (min-width:769px){
.OurProcessPushmain {
  text-align: center;
  margin-top: 2%;
}

.OurProcessPushmain > p {
  font-size: 16px;
  margin-top: 1%;
  margin-bottom: 1%;

  width: 70%;
  margin: auto;
  text-align: center;
}

.OurProcessPushmain > h1 {
  font-size: 32px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.OurProcessPushmain > h1 > span {
  color: #ef4c23;
}

.OurProcessPushmain > div {
  width: 90%;
  margin: auto;
  margin-top: 3%;

  display: flex;
  justify-content: space-between;
}

.OurProcessPushmain > div > div {
  width: 30%;
  display: flex;
  gap: 2%;
  align-items: flex-start;
  justify-content: center;
}

.OurProcessPushmain > div > div > h1 {
  font-size: 80px;
  margin-top: 0px;
  color: #6c757d;
}

.OurProcessPushmain > div > div > div {
  text-align: left;
}

.OurProcessPushmain > div > div > div > h1 {
  font-size: 32px;
  margin-top: 3%;
  margin-bottom: 2%;
}

.OurProcessPushmain > div > div > div > p {
  font-size: 16px;
  text-align: justify;
}
}

/* for any type of mobile screens responsive */

@media only screen and (min-width:0px) and (max-width:376px){
.OurProcessPushmain {
  text-align: center;
  margin-top: 2%;
}

.OurProcessPushmain > p {
  /* font-size: 16px;
  margin-top: 1%;
  margin-bottom: 1%;

  width: 70%;
  margin: auto;
  text-align: center; */
  font-size: 10px;
  margin-top: 10%;
}

.OurProcessPushmain > h1 {
  /* font-size: 32px;
  margin-top: 2%;
  margin-bottom: 2%; */
  font-size: 20px;
  
}

.OurProcessPushmain > h1 > span {
  color: #ef4c23;
}

.innovatoraboutusptag{
  text-align: justify;

  width: 90%;
  margin: auto;
}



.OurProcessPushmain > div > div {
  /* width: 30%;
  display: flex;
  gap: 2%;
  align-items: flex-start;
  justify-content: center; */
  /* border: 5px solid green; */
  display: flex;
  width: 80%;
}

.OurProcessPushmain > div > div:nth-child(even) {

width: 80%;
margin-left: 15%;

}
.OurProcessPushmain > div > div > h1 {
  /* font-size: 80px;
  margin-top: 0px;
  color: #6c757d; */
  font-size: 40px;
  color: #6c757d;
  margin-top: 10px;
  padding: 7px;
}

.OurProcessPushmain > div > div > div {
  text-align: left;
  
}

.OurProcessPushmain > div > div > div > h1 {
  /* font-size: 32px;
  margin-top: 3%;
  margin-bottom: 2%; */

  font-size: 30px;


}

.OurProcessPushmain > div > div > div > p {
  /* font-size: 16px;
  text-align: justify; */
  font-size: 12px;
  text-align: justify;
}

}


/* for any type of tablet screen responsive */

@media only screen and ( min-width:377px) and (max-width:769px){

  .OurProcessPushmain {
    text-align: center;
    margin-top: 2%;
  }
  
  .OurProcessPushmain > p {
    font-size: 16px;
    margin-top: 1%;
    margin-bottom: 1%;
  
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .OurProcessPushmain > h1 {
    font-size: 32px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .OurProcessPushmain > h1 > span {
    color: #ef4c23;
  }
  
  .OurProcessPushmain > div {
    width: 90%;
    margin: auto;
    margin-top: 3%;
  
    display: flex;
    justify-content: space-between;
  }
  
  .OurProcessPushmain > div > div {
    width: 30%;
    display: flex;
    gap: 2%;
    align-items: flex-start;
    justify-content: center;
  }
  
  .OurProcessPushmain > div > div > h1 {
    font-size: 80px;
    margin-top: 0px;
    color: #6c757d;
  }
  
  .OurProcessPushmain > div > div > div {
    text-align: left;
  }
  
  .OurProcessPushmain > div > div > div > h1 {
    font-size: 32px;
    margin-top: 3%;
    margin-bottom: 2%;
  }
  
  .OurProcessPushmain > div > div > div > p {
    font-size: 12px;
   text-align: justify;
  }


}