.smbcustomerParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
     /* border: 1px solid red;  */
}

.smbcustomerParent>h2 {
    font-weight: 700;
}

.smbcustomerParentfirstchild {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
/* border: 1px solid red; */
margin-top: 2%;


}

.smbcustomerParent>div>div {
    width: 40%;
    /* border: 1px solid black; */
    margin:2% auto;
}

.smbcustomerParent>div>div>h2 {
    font-weight: 700;
}

.smbcustomerParent>div>div>p {
    font-weight: 450;

    margin-top: 0%;
}

.smbcustomerParent>div>div>button {
    width: 160px;
    height: 40px;
    background-color: #03c457;
    color: white;
   
    border-radius: 20px;
    font-size: 18px;
    margin-top: 2%;
   
   
    border:1px solid transparent;
   
}

.smbcustomerParent>div>div>button:hover {
   
    background-color: transparent;
    color: #03c457;
    border:1px solid #03c457;
  



}

.smbcustomerParentfirstchild:nth-child(even){
    flex-direction: row-reverse;
    background-color: #f5f5f5;
}













@media(max-width:780px) {


    .smbcustomerParent {
        
        margin-top: 5%;
        text-align: center;
    }

.smbcustomerParent>div{
    flex-direction: column;
}
.smbcustomerParentfirstchild:nth-child(even){
    flex-direction: column;

}
  
.smbcustomerParent>div>div{
    width: 80%;
    margin: 2% auto;
    padding: 10px 0;
}

  
   
}