.onlinepaymentappsolutionbannermainboxes{
    height: 100vh;
padding-top: 10%;
    background: url("/Images/onlinepaymentpage/banner.png");
    background-size:40% 80%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
 
background-color: white;
}

.onlonepaymentappbannerimageinsidetext{
    height: 30%;
    width: 45%;

    margin-top: 7%;
    margin-left: 5%;
    text-align: justify;
}

.onlonepaymentappbannerimageinsidetext>h1{
    font-weight: 700;
    font-size: 40px;
}

.onlonepaymentappbannerimageinsidetext>p{
    font-size: 18px;
}


.onlinepaymentsolutionbutton{
    padding: 10px 50px;
    border-radius: 100px;
    width: 220px;
    background-color: #3380f2;
    color: white;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 3%;
}

.onlinepaymentsolutionbutton:hover{
    background-color:white;
    color:  #3380f2;
}