@media only screen and (min-width:901px){
.DataScienceUniqueContainer {
  width: 90%;
  margin: 2% auto 2% auto;

  display: flex;
  justify-content: space-between;
}

.DataScienceUniqueContent {
  padding: 2%;
  width: 50%;
}

.DataScienceUniqueContent > h1 {
  font-size: 32px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1%;
}

.DataScienceUniqueContent > p {
  font-size: 18px;
  text-align: justify;
}

.DataScienceBFContainer {
  width: 40%;
  height: fit-content;

  display: flex;
  justify-content: flex-start;
}

.DataScienceBFContainer > img {
  width: 80%;
}

.DataScienceUniqueHrLine {
  width: 30%;
  margin: 1% 0 1% 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DataScienceUniqueHrLine > div {
  border: 2px solid #ef4c23;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.DataScienceUniqueHrLine > span {
  width: 42%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}
}

/* for any type of mobile screen responsible */
@media only screen and (min-width:0px) and (max-width:480px){

  .DataScienceUniqueContainer {
    width: 90%;
    margin: 2% auto 2% auto;
  
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: column-reverse;
    justify-content: space-between;
  }
  
  .DataScienceUniqueContent {
    padding: 2%;
    width: 90%;
  }
  
  .DataScienceUniqueContent > h1 {
    font-size: 25px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1%;
  }
  
  .DataScienceUniqueContent > p {
    font-size: 16px;
    text-align: justify;
  }
  
  .DataScienceBFContainer {
    width: 30%;
    height: 300px;
  border: 5px solid red;
    display: flex;
    justify-content: flex-start;
  }
  
  .DataScienceBFContainer > img {
    width: 20%;
    height: 100%;
    object-fit: contain;
  }
  
  .DataScienceUniqueHrLine {
    width: 90%;
    margin: 1% 0 1% 0;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .DataScienceUniqueHrLine > div {
    border: 2px solid #ef4c23;
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
  
  .DataScienceUniqueHrLine > span {
    width: 42%;
    height: 2px;
    background-color: #ef4c23;
    color: #ef4c23;
  }
.DataScienceUniqueImage{

  height: 400px;
  width: 90%;
  margin: auto;

}

.DataScienceUniqueImage>img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
}

/* for any type of tablet screen responsive */

@media only screen and ( min-width:481px) and (max-width:900px){

  .DataScienceUniqueContainer {
    width: 95%;
    margin: 2% auto 2% auto;
 
    display: flex;
    justify-content: space-between;
  }
  
  .DataScienceUniqueContent {
    padding: 2%;
    width: 50%;
  
  }
  
  .DataScienceUniqueContent > h1 {
    font-size: 32px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1%;
  }
  
  .DataScienceUniqueContent > p {
    font-size: 18px;
    text-align: justify;
  }
  
  /* .DataScienceBFContainer {
    width: 30%;
    height: fit-content;
    border: 10px solid red;
    display: flex;
    justify-content: flex-start;
    border: 5px solid;
  } */
  
  /* .DataScienceBFContainer > img {
    width: 80%;
    height: 100%;
    object-fit: contain;
  } */
  
  .DataScienceUniqueHrLine {
    width: 90%;
    margin: 1% 0 1% 0;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .DataScienceUniqueHrLine > div {
    border: 2px solid #ef4c23;
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
  
  .DataScienceUniqueHrLine > span {
    width: 42%;
    height: 2px;
    background-color: #ef4c23;
    color: #ef4c23;
  }
.DataScienceUniqueImage{
  width: 40%;
  height: 100%;
  margin-top: 25%;
 
}
.DataScienceUniqueImage>img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

}