.contectemail {
  position: absolute;
  top: -38% !important;
  right: 3%;
  width: 30%;
  height: 30px;
  display: flex;

}

.contectemail > span {
  display: flex;
  width: 75%;
  align-items: center;
  column-gap: 5px;
}

.dashgap {
  margin: 0 6%;
}

.calldropdown {
  width: 15%;
  display: flex;
  align-items: center;
}

.callcontent {
  position: absolute;
  width: 100%;
  top: 20px;
  right: 35%;
  padding: 10px;
  box-sizing: border-box;
}

.callcontentinner {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
}

.requestquote {
  width: 100%;
  padding: 5px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
}

.requestquote > h5 {
  margin: 0;
}

.requestquote > button {
  padding: 7px 14px;
  border: none;
  border-radius: 5px;
  background-color: #ef4c23;
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #ef4c23;
  transition: all 500ms linear;
}

.requestquote > button:hover {
  color: #ef4c23;
  background-color: white;
}

.salesenquiry {
  width: 100%;
  /* background-color: green; */
}

.salesenquiry > h6 {
  text-align: center;
}

.outercontact {
  width: 100%;
  display: flex;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
}

.imageicon {
  width: 30%;
  /* background-color: red; */
  text-align: center;
  border-right: 2px solid gray;
}

.contactNumbs {
  width: 70%;
  display: flex;
  flex-direction: column;
  /* background-color: gray; */
  padding: 10px;
  row-gap: 5px;
}

.numberMain {
  width: 100%;
  display: flex;
  column-gap: 2%;
  justify-content: center;
  align-items: center;
}

.numberMain > h6 {
  color: rgb(9, 100, 160);
  text-align: center;
  width: 60%;
}

.contactNumbers {
  width: 70%;
  height: 20px !important;
  text-decoration: none;
  /* border: 1px solid #ef4c23; */
}
<<<<<<< HEAD
.contactNumbers>li>a{
  text-decoration: none;
}
=======

.contactNumbers > li > a {
  text-decoration: none;
  font-weight: 400;
}

>>>>>>> a2597259aea7261f2e8c745ab77536e9a2fb56f5
.contactNumbers > li {
  font-weight: bolder;
  text-decoration: none !important;

  /* height: 40px !important; */
}

@media (max-width: 450px) {
  .contectemail {
    display: none;
  }
}

@media (min-width: 450px) and (max-width: 1024px) {
  .contectemail {
    display: none;
  }
}
