.ourWholeLeftContainer {
  width: 100%;
  height: 450px;
  margin: 0 auto;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourWholeLeftContent {
  width: 60%;
  position: absolute;
  right: 10%;
  z-index: 1;

  text-align: right;
}

.ourWholeLeftContent > div {
  width: 100%;
  height: 150px;
  text-align: left;

  display: flex;
  justify-content: space-between;
}

.ourWholeLeftContent > div > p {
  width: 45%;
  height: 100%;
  border-left: 3px solid #ef4c23;

  font-size: 18px;
  margin: 0;

  padding-left: 3%;
}

.ourWholeLeftContent > div > ul {
  width: 40%;
  height: 100%;
  padding-left: 5%;
  border-left: 3px solid #ef4c23;

  font-size: 18px;
}

.ourWholeLeftContent > button {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 70px;
  margin-top: 5%;
  cursor: pointer;

  background-color: #ef4c23;
  color: white;

  border: 2px solid #ef4c23;
  outline: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ourWholeLeftContent > button:hover {
  color: #ef4c23;
  background-color: white;
}

.ourWholeLeftImage {
  width: 90%;
  height: 80%;

  position: absolute;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.ourWholeLeftImage > img {
  height: 80%;
} */
