.datingstart{
    width: 100%;
    height:200px;
}
.datingstartcontainer{
    width: 90%;
    margin: auto;
    height:160px;
    background-color:#fe9cc0;
    text-align: center;
    padding: 20px;
    border-radius: 15px;

}

.szdatingstartbtn{
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    color:white;
    border: none;
    background-color: #ef4c23;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
}

.szdatingstartbtn:hover{
    background-color:white;
    color: #ef4c23;
}

 