.bankingFinanceMainDiv{
    /* border: 2px solid red; */
    width: 100%;
    /* height: 100vh; */
}
.bankingFinanceHeading{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    text-align: center;
}
.bankingFinanceContainer{
    /* border: 2px solid gold; */
    width: 85%;
    margin: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}
.bankingFinanceBox{
    /* border: 2px solid green; */
    width: 25%;
    border-radius: 10px;
    background-color: #F5F5F5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-left: 6%;
}
.bankingFinanceImages{
    /* border: 2px solid green; */
    width: 100px;
    height: 100px;
    /* margin: auto; */
}