.Screensmaindiv {
  /* border: 2px solid; */
  width: 90%;
  margin: auto;
}

.Screensmaininnerdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
}

.Screensmaininnerdivcontent {
  width: 45%;
}

.Screensmaininnerdivimage {
  width: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Screensmaininnerdiv:nth-child(even) {
  
  flex-direction: row-reverse;
 
}

/* this code is for the mobile resposive */

@media (max-width: 480px) {
  .Screensmaindiv {
    /* border: 2px solid; */
    width: 95%;
    margin: auto;
  }

  .Screensmaininnerdiv {
    display: flex;
    flex-direction: column-reverse;
    
  }

  .Screensmaininnerdivcontent {
    width: 95%;
  }

  .Screensmaininnerdivimage {
    width: 95%;
    margin: 4% auto;
  }
  .Screensmaininnerdivone {
    display: flex;
    flex-direction: column-reverse;
   
  }
  .Screensmaininnerdiv:nth-child(even) {
  
    flex-direction: column-reverse;
   
  }
}
