.DoMoremaindiv{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    margin-top: 4%;
}
.DoMoremaindivimage{
    width: 60px;
    height: 60px;
    margin: auto;
}
.DoMoremaindivInnerDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin:4% auto;
    justify-content: space-between;
}
.DoMoremaindivinner{
    width: 28%;
    height: 220px;
    /* border: 2px solid; */
    text-align: center;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.DoMoremaindivinner>h5{
    margin-top: 6%;
}
.DoMoremaindivinner:hover{
    transition: all 0.2s linear;

  transform: translateY(-10px);
}
.DoMoremaindivheading{
    text-align: center;
    margin-top: 4%;
}
@media(max-width:480px){
    .DoMoremaindivinner{
        width: 80%;
        margin:3% auto;
        height: 250px;
       
    } 
    .DoMoremaindivinner>h5,.DoMoremaindivinner>p{
     width: 90%;
     margin:auto;
    }
    .DoMoremaindivinner>h5{
        margin-top: 5%;
    }
    .DoMoremaindivimage{
        margin: 4% auto;
    }
}