.securitySSOContainer {
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.securitySSOContainer>span {
    width: 35%;
    height: fit-content;
}

.securitySSOContainer>div {
    width: 45%;
}

.securitySSOContainer>div>h2 {
    font-size: 25px;
}

.securitySSOContainer>div>p {
    font-size: 16px;
    text-align: justify;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
    .securitySSOContainer {
        width: 95%;
        flex-direction: column;
        margin: auto;
    }

    .securitySSOContainer>span {
        width: 80%;
    }

    .securitySSOContainer>div {
        width: 95%;
        text-align: center;
        margin-top: 5%;
       
    }

    .securitySSOContainer>div>h2 {
        font-size: 22px;
       
    }

    .securitySSOContainer>div>p {
        font-size: 16px;
    }
}