.AgencyNeedCrmmaindiv{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    justify-content: space-around;


}
.AgencyNeedCrmimage{
    /* border: 2px solid green; */
   width: 35%;
    /* height: 260px; */

}

.AgencyNeedCrmcontain{
    /* border: 2px solid pink; */
    /* margin-left: 2%; */
    text-align: justify;
    width: 50%;
}