.FinancialServicemaindiv{
    /* border: 2px solid yellow; */
    margin-top: 3%;
}
.FinancialServicemaindivcontent{
    text-align: center;
    width: 70%;
    margin: auto;
}
.FinancialServicemaindivinner{
    /* border: 2px solid red; */
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}
.FinancialServicemaindivinnerimage{
    width: 55%;
    position: relative;
}
.FinancialServicemaindivinnercard{
    width: 38%;
    border: 2px solid rgb(157, 208, 191);
    height: 320px;
    position: absolute;
   right: 17%;
    margin-top: 2%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    
}
.FinancialServicemaindivinnercard h2{
    font-size: 40px;
    font-weight: 700;
    border: 2px solid;
    /* margin-top: 2%; */

}
.FinancialServicemaindivinnercard p{
    font-size: 18px;
    width: 80%;
    margin: auto;
    /* margin-top: 3%; */
}

.FinancialServicemaindivinnercardone{
    text-align: left;
    margin-left: 4%;
    margin-top: 2%;
}
.FinancialServicemaindivinnercardone h6{
   margin: 0;
}
.FinancialServicemaindivinnercardone p{
    margin: 0%;
    font-size: 14px;
}

.FinancialServicemaindivinnercardimg{
    width: 180px;
    height: 100px;
    margin: auto;
}
.FinancialServicemaindivsecond{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 3%;
}
.FinancialServicemaindivsecondbutton{
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    background-color: #04C354;
    color: white;
    border-radius: 10px;
    height: 40px;
    border: none;
    /* margin-top: 2%; */
}
.FinancialServicemaindivsecondbutton:hover{
    border: 1px solid #04C354;
    background-color: white;
    color: #04C354;
}

@media  (max-width:1024px){
    .FinancialServicemaindiv{
        /* border: 2px solid yellow; */
        margin-top: 3%;
    }
    .FinancialServicemaindivcontent{
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .FinancialServicemaindivinner{
        /* border: 2px solid red; */
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: row;
        margin-top: 3%;
    }
    .FinancialServicemaindivinnerimage{
        width: 55%;
        position: static;
    }
    .FinancialServicemaindivinnercard{
        width: 38%;
        border: 2px solid rgb(157, 208, 191);
        height: 320px;
        position: static;
       right: 17%;
        margin-top: 2%;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        text-align: center;
        
    }
    .FinancialServicemaindivinnercard h2{
        font-size: 40px;
        font-weight: 700;
        border: 2px solid;
        /* margin-top: 2%; */
    
    }
    .FinancialServicemaindivinnercard p{
        font-size: 18px;
        width: 80%;
        margin: auto;
        /* margin-top: 3%; */
    }
    
    .FinancialServicemaindivinnercardone{
        text-align: left;
        margin-left: 4%;
        margin-top: 2%;
    }
    .FinancialServicemaindivinnercardone h6{
       margin: 0;
    }
    .FinancialServicemaindivinnercardone p{
        margin: 0%;
        font-size: 14px;
    }
    
    .FinancialServicemaindivinnercardimg{
        width: 180px;
        height: 100px;
        margin: auto;
    }
    .FinancialServicemaindivsecond{
        width: 60%;
        margin: auto;
        text-align: center;
        margin-top: 3%;
    }
    .FinancialServicemaindivsecondbutton{
        width: 200px;
        font-size: 18px;
        font-weight: 600;
        background-color: #04C354;
        color: white;
        border-radius: 10px;
        height: 40px;
        border: none;
        /* margin-top: 2%; */
    }
    .FinancialServicemaindivsecondbutton:hover{
        border: 1px solid #04C354;
        background-color: white;
        color: #04C354;
    }
    
}
