.productSolutionsMainDiv {
  display: flex;
  background-color: white;
  width: 12%;
  height: fit-content;
  position: fixed;
  right: 28%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100000000;
  flex-direction: column;
}
.productSolutionsListItems {
  width: 38%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productlinkP {
  text-decoration: none;
  width: 80%;
  color: #393939;
}

.productlinkP > div > h6 {
  text-decoration: none;
  color: black;
}
.productSolutionsData {
  height: 100px;
  padding: 10px;
}
.productSolutionsData .productlinkP > p {
  margin: 5px 0;
  padding-left: 5px;
}
.productSolutionsData .productlinkP > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productSolutionsData .productlinkP > div > h6 {
  width: fit-content;
  margin: 0;
}
.productSolutionsData .productlinkP > div > span {
  background-color: #b5b5b5;
  color: #b5b5b5;
  width: 40%;
  height: 1px;
  border-radius: 5px;
}
.productlinkP > p {
  font-size: 12px;
  cursor: pointer;
}
.productlinkP > p:hover {
  background-color: lightgray;
}
.productSolutionsData:last-child {
  border-bottom: none;
}
.productSolutionsListItems > button {
  border: 1px solid #393939;
  background: transparent;
  width: 80%;
  margin: 7% auto;
  border-radius: 5px;
  font-size: 16px;
  padding: 2px 0;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.productSolutionsListItems > button:hover {
  background-color: #ef4c23;
  color: white;
  border: 1px solid #ef4c23;
}

.productSolutionsData .productlinkP {
  color: #393939;
}
