.setupContent {
  width: 100%;
  display: flex;
  padding: 0 3%;
  box-sizing: border-box;
  justify-content: center;
  height: 500px;
  align-items: center;
  /* border: 2px solid red; */
}

.setupContent p {
  display: flex;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
  color: #14944C;
  margin-left: 32px;
}

.setupContent p>i {
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  height: fit-content;
}

.leftcontent {
  width: 50%;
  padding: 3%;
  box-sizing: border-box;
}

.setupImage {
  width: 45%;
  height: 100%;
  /* border: 2px solid red; */
}

.setupImage>img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

@media (max-width: 1024px) {
  .setupContent {
    width: 100%;
    display: flex;
  
    padding: 0 3%;
    box-sizing: border-box;
    justify-content: center;
    height: fit-content;
    align-items: center;
    /* border: 2px solid red; */
  }
  
  .setupContent p {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
    color: #14944C;
    margin-left: 32px;
  }
  
  .setupContent p>i {
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    height: fit-content;
  }
  
  .leftcontent {
    width: 50%;
    padding: 3%;
    box-sizing: border-box;
  }
  
  .setupImage {
    width: 45%;
    height: 100%;
    /* border: 2px solid red; */
  }
  
  .setupImage>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  
  }
}