.BetterServicemaindiv{
    /* border: 2px solid green; */
    margin-top:2% ;
    text-align: center;
    padding: 15px 100px 15px 100px;
    background: linear-gradient(to left, white, lightgray, white);
}

@media  (max-width:1024px){
    .BetterServicemaindiv{
        /* border: 2px solid green; */
        margin-top:2% ;
        text-align: center;
        padding: 10px;
        background: linear-gradient(to left, white, lightgray, white);
    }
    .BetterServicemaindiv p{
        text-align: justify;
    }
    
}