.GoogleBusinessMessageDemoParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 5%;
    background-image: url('https://bottom-funnel-product.s3.ap-south-1.amazonaws.com/Images/Journey/background.png');
    color: white;
    padding: 5%;
    margin-bottom: 10%;

}
.GoogleBusinessMessageDemoParent>div{
    display: flex;
   
    align-items: center;
    justify-content: space-around;
}
.GoogleBusinessMessageDemoParent>div>button{
    width: 240px;
    background-color:#03C457;
    height: 50px;
    color: white;
   margin-left: 5%;
   border: 1px solid  #03C457;
   border-radius: 50px;
    
}
.GoogleBusinessMessageDemoParent>div>button:hover{
    background-color: transparent;
    color: #03C457;
}
@media(max-width:780px){
    .GoogleBusinessMessageDemoParent>div{
       
       flex-direction: row;
       justify-content: space-between;
       gap: 2%;
        
    }
    .GoogleBusinessMessageDemoParent>div>button{
        width: 160px;
       height: 50px;
       margin-left: 0;
       
    }
}