.szvideofeature {
  width: 100%;
  background-color: white;
  height: 600px;
  /* border: 2px solid black; */
}

.szvideofeature > div {
  text-align: center;
  padding: 20px;
}

.szfeaturesubcontainer {
  width: 90%;
  background-color: white;
  margin: auto;
  height: 460px;
  display: flex;
  /* border: 2px solid yellow; */
}

.updatediv {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  height: 170px;
  width: 87%;
  padding: 10px;
  /* border: 2px solid green; */
}

.updatediv:hover {
  transform: scale(1.02);
  transition: all 0.3s linear;
}

.updatediv > p {
  padding: 10px;
  margin-top: -12%;
}

.updateflexdiv {
  display: flex;
  /* background-color: aliceblue; */
  padding: 25px 30px;
  height: 70px;
}

.updateflexdiv > h4 {
  /* border: 1px solid red; */
  margin-top: 0%;
}

.updateimg {
  padding: 0px 10px;
}

.reminderdiv {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  width: 95%;
  height: 170px;
  /* border: 2px solid red; */
}

.reminderdiv:hover {
  transform: scale(1.02);
  transition: all 0.3s linear;
}

.reminderdiv > p {
  padding: 10px;
  margin-top: -10%;
}

.reminderflexdiv {
  display: flex;
  /* background-color: aliceblue; */
  padding: 25px 30px;
  height: 70px;
  margin-top: 10%;
}

.reminderflexdiv > h4 {
  margin-top: 1%;
}

.uploadimg {
  padding: 0px 10px;
}
