.videocontainer {
  background-color: black;
  width: 100%;
  height: 97vh;
  color: white;
  padding-top: 10vh;
  background-color: black;
}

.videosub {
  width: 90%;
  margin: auto;
  display: flex;
  height: 550px;
  padding: 40px 20px;
}

.videoleft {
  width: 50%;
  position: relative;
}

.videopara {
  width: 100%;
  padding: 30px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.videoimages {
  width: 50%;
  /* background-color: blue; */
  position: relative;
}

.trailbtn {
  padding: 10px 60px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  background-color: #ef4c23;
  color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.trailbtn:hover {
  background-color: white;
  color: #ef4c23;
}

.videomac {
  width: 90%;
  height: 370px;
  margin: 10px 8%;
  position: absolute;
  z-index: 0;
}

.videomac > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.videomobile {
  width: 51%;
  height: 360px;
  margin: 200px -50px;
  position: absolute;
  z-index: 1;
}

.videomobile > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.videobottomdiv {
  width: 90%;
  height: 100px;
  margin: auto;
  /* background-color: brown; */
  display: flex;
  padding: 20px 40px;
}

.szbottomimages {
  margin: 0px 35px;
  width: 20%;
  height: 30px;
  /* border: 1px solid red; */
}

.szbottomimages > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
