.GuideToShopFyDemo{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    
    width: 92.5%;
    margin-left: 5%;
  
   padding: 3%;
   border-radius: 20px;
   background-image: url('https://d3op2l77j7wnti.cloudfront.net/Images/GuideToShopFy/Demo.webp');
}
.GuideToShopFyDemo>h1{
    margin-top: 5%;
}

.GuideToShopFyDemo>button{
    width: 250px;
    height: 70px;
    background-color: #EF4C23;
    margin-top: 5%;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    margin-bottom:2.7%;
}
.GuideToShopFyDemo>button:hover{
     width: 250px;
    height: 70px;
  
    margin-top: 5%;
    
    font-size: 25px;
    border-radius: 20px;
    border: none;
    margin-bottom:2.7%;
    background-color: white;
   
    color: #EF4C23;
    
}