.ServiceProductsmaindiv{
    background-color: whitesmoke;
    border: 1px solid transparent;
    padding-bottom: 2%;   
}

.ServiceProductsinnersecond{
  width: 80%;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
    padding: 2%;
    /* border: 2px solid; */
    margin-top: 5%;

}
.ServiceProductsinnersecondbutton{
     color: white;
     background-color: #ef4c23;
     border:none;
     border-radius: 5px;
     font-size: 18px;
     font-weight: 600;
     width: 110px;
     height: 40px;
}
.ServiceProductsinnersecondbutton:hover{
    background-color: white;
    color: #ef4c23;
    border: 1px solid #ef4c23;


}
.ServiceProductsinnerthird{
    display: flex;
    flex-direction: row;
     margin: auto;
    width: 87%;
    /* border: 2px solid; */
    margin-top: 5%;
}
.ServiceProductsinnerthirdcards{
    /* border: 2px solid red; */
    padding: 3.5%;
    width: 24%;
    margin: auto;
    position: relative;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ServiceProductsinnerthirdcardslogo{
    width: 80px;
    height: 80px;
    position: absolute;
    margin-top: -25%;
}
.ServiceProductsinnerthirdcardscontent{
    text-align: center;
    margin-top: 8%;
}
.ServiceProductsinnerthirdcardsbutton{
    display: flex;
    justify-content: space-between;
  
}
.ServiceProductsinnerthirdcardsbutton1{
margin-top: 8%;
color: white;
background-color: #129748;
font-size: 18px;
font-weight: 600;
border: none;
width: 120px;
height: 40px;
border-radius:5px ;
/* padding: 10px; */
}
.ServiceProductsinnerthirdcardsbutton1:hover{
    background-color: white;
    color: #129748;

    border: 1px solid #129748;
}

.ServiceProductsinnerthirdcardsbutton2{
    margin-top: 8%;
    text-decoration: underline;
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;

}
.ServiceProductsinnerthirdone{
    /* border: 1px solid; */
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5%;
  
}
.ServiceProductsinnerthirdoneinner{
    display: flex;
    flex-direction: row;
    width: 80%;
    /* border: 2px solid red; */
    /* margin: auto; */
}
.ServiceProductsinnerthirdcards1{
    /* border: 2px solid red; */
    padding: 3.5%;
    width: 33.5%;
    /* margin: auto; */
    position: relative;
    background-color: white;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ServiceProductsinnerthirdcards2{
    /* border: 2px solid red; */
    padding: 3.5%;
    width: 33%;
    margin-left: 12.5%;
    /* margin: auto; */
    position: relative;
    background-color: white;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ServiceProductsinnerthirdcardsbutton1a{
    margin-top: 8%;
color: white;
background-color:#01c557;
font-size: 18px;
font-weight: 600;
border: none;
width: 120px;
height: 40px;
border-radius:5px ;
/* padding: 10px; */
}

.ServiceProductsinnerthirdcardsbutton1a:hover{
    background-color: white;
    color: #01c557;
    border: 1px solid #01c557;
}

@media(max-width:480px){
    .ServiceProductsinnerthird{
        flex-direction: column;
    }
    .ServiceProductsinnerthirdcards{
        width: 90%;
        margin-top: 10%;
    }
    .ServiceProductsinnerthirdcardslogo{
        display: none;
    }
    .ServiceProductsinnerthirdone{
        /* border: 2px solid green; */
        width: 80%;
    }
    .ServiceProductsinnerthirdoneinner{
        /* border: 2px solid red; */
        flex-direction: column;
        width: 100%;
    }
    .ServiceProductsinnerthirdcards1{
        /* border: 2px solid red; */
        width: 100%;
        margin-top: 10%;
    }
    .ServiceProductsinnerthirdcards2{
        /* border: 2px solid green; */
        width: 100%;
        margin: auto;
        margin-top: 10%;
    }
}