.JourneyPersonalizedParent{
   margin-top: 2%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid gold; */
}
.headingdiv{
   
    display: flex;
    align-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    margin-bottom: 5%;
    /* border: 2px solid red; */
}
.line{
width: 35%;
}


.whatCustomDataContainer{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
}
.whatCustomDataBox1{
    /* border: 2px solid red; */
    width: 30%;
    height: 400px;
    margin-left: 15%;
}
.whatCustomDataBox2{
    /* border: 2px solid red; */
    width: 40%;
    margin-left: 10%;
    margin-top: 8%;
}