.CRMLogisticsmaindiv{
    /* border:2px solid red; */
    margin-top: 3%;
   
}


.CRMLogisticsinnerdiv{
    border: 1px solid pink;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: auto;
    font-size: 18px;
    padding: 1%;
    border-radius: 10px;
}
.CRMLogisticsinnerdivimage{
    /* border: 2px solid yellow; */
    width: 280px;
    height: 100px;
    /* margin-top: 0.5%; */
    /* margin-left: 1%; */
    /* justify-content: center; */
}

.CRMLogisticsinnerdivcontain{
 /* border: 2px solid green; */
 margin-left: 2%;
}
.CRMLogisticsinnerdiv1{
    /* border: 2px solid green; */
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 3%;
}
.CRMLogisticsinnerdiv1contain{
    /* border: 2px solid green; */
    width: 55%;
}
.CRMLogisticsinnerdiv1image{
    /* border: 2px solid yellow; */
    width: 40%;
}