.blogsData{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.blogsDataContainer{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%;
}
.blogsDataDiv{
    border: 1px solid lightgray;
    width: 27%;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: auto;
}
.blogsDataHeading>h2{
    margin-top: 4%;
}
.blogsDataImage{
    /* border: 2px solid red; */
    width: 200px;
    height: 200px;
    margin: auto;
}
.blogsDataHeading>p{
    /* border: 2px solid red; */
    margin-top: 2%;
    padding: 15px;
    font-size: 18px;
}
.blogsDataHeading>h4{
    /* border: 2px solid red; */
    color: #EF4C23;
}

@media(max-width:480px){
    .blogsDataContainer{
        flex-direction: column;
    }
    .blogsDataDiv{
        width: 100%;
        margin-top: 5%;
    }
}