.CaseStudyParent{
    
    padding: 5%;
    display: flex;
    flex-direction: column;
    margin-top: -10%;
    align-items: center;
}
.CaseStudyParentfirstchild{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    align-content: center;
    align-items: center;
}
.CaseStudyParentfirstchild>button{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #ef4c25;
    border-radius: 10px;
    color: white;

}
.CaseStudyParentfirstchild>button:hover{
    width: 110px;
    height: 33px;
    border: none;
    background-color: white;
    border-radius: 10px;
    color: #ef4c25;

}
.CaseStudyParentsecchild{
   
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.CaseStudyParentsecchilddiv{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 330px;
    
}
.CaseStudyParentsecchilddiv>div{
    padding:3%;
    width: 33%;
    justify-content: space-around;
    text-align: center;
   
    border-bottom: 1px solid lightgrey;
    
    height: 100%;

}
.CaseStudyParentsecchilddiv>div>p{
    
    text-align: justify;
   
}
.CaseStudyParentsecchilddiv>div>h4{
   
    margin-top: 17px;
}
.CaseStudyParentsecchilddiv>div>h3{
   
    margin-bottom: 17px;
}
.CaseStudyParentsecchilddivborder{
border-left: 1px solid lightgrey;
border-right: 1px solid lightgrey;
}

.CaseStudyParentsecchilddivBorderNone{
  border-bottom: 5px solid white;
}
















@media(max-width:780px){
    .CaseStudyParent{
    
        padding: 5%;
        display: flex;
        flex-direction: column;
        margin-top: -10%;
    }
    .CaseStudyParentfirstchild{
        display: flex;
        justify-content: space-between;
    }
    .CaseStudyParentsecchild{
       
        margin-top: 2%;
        display: flex;
        flex-direction: column;
    }
    .CaseStudyParentsecchilddiv{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        height: auto;
        
    }
    .CaseStudyParentsecchilddiv>div{
        padding: 2%;
        width: 100%;
        justify-content: space-around;
        text-align: center;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
    }  
}