/* for any type of laptop and wide range of screen responsive */

@media only screen and (min-width:769px){

.digitalmarketclientsaddmainbox {
  height: fit-content;
  border: 1px solid #ef4c23;
  padding: 30px;

  text-align: center;
}

.digitalmarketingclientsaddbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: auto;
  height: 50px;
  background-color: #ef4c23;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 1%;
}

.digitalmarketingclientsaddbutton:hover {
  background-color: white;
  color: #ef4c23;
}
}

/* for any type of mobile screen responsive */

@media only screen and (min-width:0px) and (max-width:376px){

  .digitalmarketclientsaddmainbox {
    height: fit-content;
    border: 1px solid #ef4c23;
    padding: 30px;
  margin-top: 10%;
    text-align: center;
  }

  .digitalmarketclientsaddmainbox>h2{
    font-size: 15px;
    text-align: justify;
  }
  
  .digitalmarketingclientsaddbutton {
    padding: 10px 50px;
    border-radius: 100px;
    width: auto;
    height: 50px;
    background-color: #ef4c23;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 1%;
  }
  
  .digitalmarketingclientsaddbutton:hover {
    background-color: white;
    color: #ef4c23;
  }

}