/* laptop and wide range of screen responsive */
@media only screen and (min-width:769px){
.whatdigitalmarketmainboxes{
    height: fit-content;
    margin-top: 3%;

    display: flex;
}

.whatdigitamarketleftboxes{
    width: 40%;
    border-right: 1px solid;
    height: 500px;
    margin-left: 5%;
}

.whatdigitamarketleftboxes>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.whatdigitalmarketrightbox{
    width: 50%;
    margin-left: 3%;
    height: fit-content;
}

.whatdigitalmarketrightbox>p{
    text-align: justify;
}

.whatdigitalmarketmappingbox{
    height: 300px;
    width: 70%;

    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.whatdigitamarketingmappinindifortxt{
margin-left: 5%;
  font-size: 18px;
  font-weight: 600;
}


.whatdigitamarketingmappinindi{
    width: 40%;
    height: fit-content;

    margin: 2%;
    display: flex;
}
}

/* for mobile screen any type of responsive */

@media only screen and (min-width:0px) and (max-width:376px){

    .whatdigitalmarketmainboxes{
        height: fit-content;
        margin-top: 3%;
    
        display: flex;
    }
    
    .whatdigitamarketleftboxes{
        width: 35%;
        border-right: 1px solid;
  
        height: 300px;
        margin-left: 3%;
    }
    
    .whatdigitamarketleftboxes>img{
        height: 100%;
        width: 100%;
        object-fit: contain;
  
    }
    .whatdigitalmarketrightbox{
        width: 50%;
      margin-left: 3%;
        height: fit-content;
    }

    .whatdigitalmarketrightbox>h1{
        font-size: 20px;
    }
    
    .whatdigitalmarketrightbox>p{
        text-align: justify;
        margin-right: 2%;
    }
    
    .whatdigitalmarketmappingbox{
        height: 200px;
        width: 170%;
 
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-left: -70%;
    }

    .whatdigitamarketingmappinindi>div>svg{
     
        height: 20px;
        width: 20px;
    }
    
    .whatdigitamarketingmappinindifortxt{
    margin-left: 5%;
      font-size: 14px;
      font-weight: 600;
    }
    
    
    .whatdigitamarketingmappinindi{
        width: 40%;
        height: fit-content;
    
        margin: 2%;
        display: flex;
    }


}
