.CollaborationAboutContainer {
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.CollaborationAboutContent {
  width: 45%;
}

.CollaborationAboutContent > h1 {
  font-size: 32px;
}

.CollaborationAboutContent > p {
  font-size: 18px;
}

.CollaborationAboutImages {
  position: relative;
  width: 35%;
  height: 360px;
}

.CollaborationAboutImages > img {
  width: 97%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.CollaborationAboutImages > div {
  background: #ef4c23;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;

  width: 95%;
  height: 95%;
}

/* media query for mobile and tablet devices */

@media (max-width: 1024px) {
  .CollaborationAboutContainer {
    flex-direction: column-reverse;
  }

  .CollaborationAboutContent {
    width: 90%;
    text-align: center;
  }

  .CollaborationAboutContent > h1 {
    font-size: 25px;
  }

  .CollaborationAboutContent > p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  .CollaborationAboutImages {
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .CollaborationAboutImages > div {
    display: none;
  }

  .CollaborationAboutImages > img {
    width: fit-content;
    position: static;
    width: 50%;
    border-right: 8px solid #ef4c23;
    border-bottom: 8px solid #ef4c23;
  }
}
