.smsbannerParent {
    margin-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding-bottom: 2%;
    margin-top: 6%;
    padding-top: 2%;
    height: 90vh;
}

.smsbannerImage {
    width: 40%;
}

.smsbannerContent {
    width: 55%;
}

.smsbannerContent>h1 {
    font-weight: 700;
}

.smsbannerContent>h5 {
    font-weight: 450;
    margin-top: 3%;
    line-height: 25px;
}

.smsbannerContent>button {
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    background-color: #04c357;
    color: white;
    border-radius: 30px;
    font-size: 22px;

    margin-top: 4%;
}

.smsbannerContent>button:hover {
  
    border: 1px solid #04c357;
    background-color: transparent;
    color: #04c357;
   
}
.smsbannerContent>hr{
    width:95%;
    margin-top: 20px;
    margin-bottom: 0px;
}











@media(max-width: 780px) {

    .smsbannerParent {
       flex-direction: column;
       justify-content: center;
       margin-top: 10%;
       height: 40rem;
    }

   

    .smsbannerContent {
        width: 100%;
        text-align: center;
        margin-top: 5%;
    }
.smsbannerImage{
    width: 80%;
}
   
    .smsbannerContent>h5 {
        font-weight: 450;
        margin-top: 3%;
        line-height: 25px;
    }

  
  


}