.ticketAssignmentContainer {
    margin: 3% 0;
}

.ticketAssignmentContainer>h1 {
    font-size: 2vw;
    text-align: center;
}

.ticketAssignmentContainer>div>div:nth-child(1) {
    background-color: #fffbfa;
    padding: 3% 0;
}

.ticketAssignmentContainer>div>div:nth-child(2) {
    flex-direction: row-reverse;
}

.ticketAssignmentMain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2% 0;
}

.ticketAssignmentMain>div {
    width: 45%;
}

.ticketAssignmentMain>div>h2 {
    font-size: 25px;
    margin-top: 0;
}

.ticketAssignmentMain>div>p {
    font-size: 16px;
    text-align: justify;
}

.ticketAssignmentMain>span {
    height: fit-content;
    width: 45%;
}

/* media query for mobile and tablets */
@media (max-width: 1024px) {
    .ticketAssignmentContainer>h1 {
        font-size: 20px;
    }

    .ticketAssignmentContainer>div>div:nth-child(2) {
        flex-direction: column-reverse;
    }

    .ticketAssignmentMain {
        flex-direction: column-reverse;
    }

    .ticketAssignmentMain>div {
        width: 90%;
    }

    .ticketAssignmentMain>div>h2 {
        font-size: 18px;
        margin-top: 2%;
    }

    .ticketAssignmentMain>div>p {
        font-size: 14px;
        text-align: justify;
    }

    .ticketAssignmentMain>span {
        width: 80%;
    }
}