.developerPortalGrowConatiner{
    /* border: 2px solid red; */
    width: 85%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
.developerPortalGrowText{
    /* border: 2px solid red; */
    width: 40%;
    height: auto;
    margin-top:8%;
    margin-left: 5%;
}
.developerPortalGrowText>h2{
    color: #EF4C23;
    font-size: 35px;
}
.developerPortalGrowText>h3{
    font-weight: 700;
    font-size: 45px;
    margin-top: 5%;
}
.developerPortalGrowText>p{
    font-size: 18px;
    margin-top: 4%;
}
.developerPortalGrowText>button{
    background-color: #EF4C23;
    border: none;
    height: 40px;
    width: 40%;
    color: white;
    border-radius: 5px;
}
.developerPortalGrowText>button:hover{
    background-color: white;
    color: #EF4C23;
    border: 2px solid #EF4C23;
}
.developerPortalGrowImage{
    /* border: 2px solid red; */
    width: 50%;
    height: 600px;
}