.developerPortalGrowConatiner{
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.developerPortalGrowText{
    /* border: 2px solid red; */
    width: 40%;
    height: auto;
    margin-top:8%;
    margin-left: 7%;
}
.developerPortalGrowText>button{
    background-color: #EF4C23;
    border: none;
    height: 40px;
    width: 32%;
    color: white;
    border-radius: 5px;

}
.developerPortalGrowImage{
    /* border: 2px solid red; */
    width: 32%;
    height: 60vh;
    margin-top: 4%;
    margin-left: 10%;
}