.HireTalent{
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;
    /* height: 10vh; */
}
.HireTalentimage{
    border: 2px solid yellow;

}
.HireTalentcolum{
    border: 2px solid green ;
    width: 40%;
}
.HireTalentcoluminner{
    border: 2px solid red;
    width: 60%;
    height: 40px;
    border-radius: 12px;
    background-color: #ef4c23;
    color: white;
    text-align: center;
    
}