.CareerWhy-main {
  margin: auto;
  margin-top: 20px;
  padding: 5% 0px 5% 0px;

  background: #ffd5d0;
}

.CareerWhy-main > h1 {
  font-size: 32px;
  margin-bottom: 5%;
  margin-left: 5%;
}

.CareerWhy-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
