.SalesReportsBannermaindiv{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row-reverse;
    height: 90vh;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 7%;

}
.SalesReportsBannermaindivcontent{
    width: 40%;
}
.SalesReportsBannermaindivcontent p{
    font-size: 18px;
}
.SalesReportsBannermaindivimage{
    width: 40%;
}
.SalesReportsBannermaindivbutton{
    width: 220px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ef4c23;
    color: white;
    border: none;
}
.SalesReportsBannermaindivbutton:hover{
    border: 1px solid #ef4c23;
    color: #ef4c23;
    background:#fff;
}

@media (max-width:1024px) {

    .SalesReportsBannermaindiv{
    
    display: flex;
    flex-direction: column-reverse;
   margin-top: 35%;
   height: auto;
   gap: 10px;

}
.SalesReportsBannermaindivcontent{
    width: 95%;
    margin: auto;
    text-align: center;
  
   
}
.SalesReportsBannermaindivcontent p{
    font-size: 16px;
}


.SalesReportsBannermaindivimage{
    width: 90%;
    margin: auto;
  
}

}

