.PowerBackmaindiv{
    /* border: 2px solid ; */
    margin-top: 3%;
}
.PowerBackmaindivheading{
  display: flex;
    width: 90%;
    margin: auto;
   flex-direction: row;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-around;
    padding: 2%;
}
.PowerBackmaindivheadingcontent{
    width: 40%;
}
.PowerBackmaindivheadingimage{
    width: 45%;
    
}
.PowerBackmaindivcards{
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   
    

}
.PowerBackmaindivcardsbg{
    background-color: whitesmoke;
}

.PowerBackmaindivcardsbox{
    /* border: 1px solid lightgrey; */
    width: 40%;
    height: 500px;
    padding: 1%;
    margin-top: 3%;
}
.PowerBackmaindivcardsboximage{
    width: 70%;
    height: 300px;
    /* padding: 20px; */
    margin: 4% auto;
    /* border: 2px solid; */
}


.PowerBackmaindivcardsbox hr{
    /* margin: 0%; */
    border: 1px solid;
    color: #04c358;
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
}
.PowerBackmaindivcardsbox>h6{
    font-size: 20px;
}
@media(max-width:480px){
    .PowerBackmaindivheading{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    .PowerBackmaindivheadingcontent{
        width: 90%;
    }
    .PowerBackmaindivheadingimage{
       width: 90%;
       height: auto;
    }
    .PowerBackmaindivcardsbg{
        background-color: white;
        margin-top: 10%;
    }
    .PowerBackmaindivcards{
        flex-direction: column;
       
       
    }
   
    
    .PowerBackmaindivcardsbox{
        width: 100%;
       height: 31rem;
    }
    
    .PowerBackmaindivcardsbox>hr{
        width: 80%;
    }
    .PowerBackmaindivcardsboximage{
        width: 80%;
        height: 250px;
        margin: 8% auto;
    }
}