.GuideToShopFyConnectParent{
   
    margin-top: 5%;
    display: flex;
   
    align-items: center;
  height: 50vh;
   
  
}
.GuideToShopFyConnectHeading{
    background-color: #fff8f8;
    height: 100%;
    padding: 5%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    width: 30%;
}
.GuideToShopFyConnectOnlyChild{
  
    display: flex;
    justify-content: space-around;
   
    width: 70%;
}
.GuideToShopFyConnectOnlyChild>div{
    width: 30%;
  
    padding: 3%;
}
.GuideToShopFyConnectOnlyChilddivone>div{
    display: flex;
    justify-content: space-between;
    
}
.GuideToShopFyConnectOnlyChilddivone>div>h3{
   width: 50%;
   margin-right: 30%;
}


.GuideToShopFyConnectOnlyChilddivtwo>div{
    display: flex;
    justify-content: space-between;
    
}
.GuideToShopFyConnectOnlyChilddivtwo>div>h3{
   width: 50%;
}



.GuideToShopFyConnectOnlyChilddivthree>div{
    display: flex;
    justify-content: space-between;
    
}
.GuideToShopFyConnectOnlyChilddivthree>div>h3{
   width: 50%;
}









@media(max-width:780px){
    .GuideToShopFyConnectParent{
   
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
     
       padding: 2%;
       height: auto;
    }
    .GuideToShopFyConnectHeading{
        height: auto;
        width: 100%;
    }
    .GuideToShopFyConnectOnlyChild{
      
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .GuideToShopFyConnectOnlyChild>div{
        width: 100%;
       border-right: 4px solid white;
       margin-bottom: 2%;
       
    }
    .GuideToShopFyConnectOnlyChilddivone>div{
        display: flex;
        width: 100%;
        justify-content: space-between;
       
     
        
    }
    .GuideToShopFyConnectOnlyChilddivone>div>h3{
       width: 50%;
      
     
    }
    
    
    .GuideToShopFyConnectOnlyChilddivtwo>div{
        display: flex;
        justify-content: space-between;
        
    }
    .GuideToShopFyConnectOnlyChilddivtwo>div>h3{
       width: 50%;
    }
    
    
    
    .GuideToShopFyConnectOnlyChilddivthree>div{
        display: flex;
        justify-content: space-between;
        
    }
    .GuideToShopFyConnectOnlyChilddivthree>div>h3{
       width: 50%;
    } 
}