.GuideToShopFyConnectParent{
   
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: whitesmoke;
   padding: 2%;
}
.GuideToShopFyConnectOnlyChild{
  
    display: flex;
    justify-content: space-around;
}
.GuideToShopFyConnectOnlyChild>div{
    width: 30%;
   border-right: 4px solid white;
    padding: 3%;
}
.GuideToShopFyConnectOnlyChilddivone>div{
    display: flex;
    justify-content: space-between;
    
}
.GuideToShopFyConnectOnlyChilddivone>div>h1{
   width: 50%;
   margin-right: 30%;
}


.GuideToShopFyConnectOnlyChilddivtwo>div{
    display: flex;
    justify-content: space-between;
    
}
.GuideToShopFyConnectOnlyChilddivtwo>div>h1{
   width: 50%;
}



.GuideToShopFyConnectOnlyChilddivthree>div{
    display: flex;
    justify-content: space-between;
    
}
.GuideToShopFyConnectOnlyChilddivthree>div>h1{
   width: 50%;
}
@media(max-width:780px){
    .GuideToShopFyConnectParent{
   
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
       background-color: whitesmoke;
       padding: 2%;
    }
    .GuideToShopFyConnectOnlyChild{
      
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }
    .GuideToShopFyConnectOnlyChild>div{
        width: 100%;
       border-right: 4px solid white;
       
    }
    .GuideToShopFyConnectOnlyChilddivone>div{
        display: flex;
        width: 100%;
     
        
    }
    .GuideToShopFyConnectOnlyChilddivone>div>h1{
       width: 50%;
      
       
    }
    
    
    .GuideToShopFyConnectOnlyChilddivtwo>div{
        display: flex;
        justify-content: space-between;
        
    }
    .GuideToShopFyConnectOnlyChilddivtwo>div>h1{
       width: 50%;
    }
    
    
    
    .GuideToShopFyConnectOnlyChilddivthree>div{
        display: flex;
        justify-content: space-between;
        
    }
    .GuideToShopFyConnectOnlyChilddivthree>div>h1{
       width: 50%;
    } 
}