.GuideToShopFyConnectParent{
   
    margin-top: 5%;
    display: flex;
   
    align-items: center;
    align-content: center;
  height: 50vh;
  
    
  
}
.GuideToShopFyConnectHeading>h3{
    margin-top: 10%;
}
.GuideToShopFyConnectHeading{
    background-color: #fff8f8;
    height: 110%;
   padding: 3%;
   
    width: 30%;
}
.GuideToShopFyConnectOnlyChild{
  padding: 1%;
    display: flex;
    justify-content: space-around;
   border-bottom: 3px solid whitesmoke;
    width: 60%;
    margin-left: 5%;
  
}
.GuideToShopFyConnectOnlyChild>div{
    width: 30%;
 
    padding: 2%;
}

.GuideToShopFyConnectOnlyChilddivone>div{
    display: flex;
    width: 100%;
   
 
    align-items: center;
    padding: 0px;
    margin-bottom: 20px;

    
}
.GuideToShopFyConnectOnlyChilddivone>div>h5{
   
    margin-left: 20px;
}


.GuideToShopFyConnectOnlyChilddivtwo>div{
    display: flex;
    width: 100%;
   
   
    align-items: center;
    padding: 0px;
    margin-bottom: 20px;
    
}
.GuideToShopFyConnectOnlyChilddivtwo>div>h5{
    margin-left: 20px;
  
}



.GuideToShopFyConnectOnlyChilddivthree>div{
    display: flex;
    width: 100%;
   
   
  
   
    align-items: center;
    padding: 0px;
    margin-bottom: 20px;
    
}
.GuideToShopFyConnectOnlyChilddivthree>div>h5{
    margin-left: 20px;
}


.GuideToShopFyConnectOnlyChild>div>p{
text-align: justify;
}






@media(max-width:780px){
    .GuideToShopFyConnectParent{
   
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
     
       padding: 2%;
       height: auto;
    }
    .GuideToShopFyConnectHeading{
        height: auto;
        width: 100%;
    }
    .GuideToShopFyConnectOnlyChild{
      
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .GuideToShopFyConnectOnlyChild>div{
        width: 100%;
       border-right: 4px solid white;
       margin-bottom: 2%;
       
    }
    .GuideToShopFyConnectOnlyChilddivone>div{
        display: flex;
        width: 100%;
        justify-content: space-between;
       
     
        
    }
    .GuideToShopFyConnectOnlyChilddivone>div>h3{
       width: 50%;
      
     
    }
    
    
    .GuideToShopFyConnectOnlyChilddivtwo>div{
        display: flex;
        justify-content: space-between;
        
    }
    .GuideToShopFyConnectOnlyChilddivtwo>div>h3{
       width: 50%;
    }
    
    
    
    .GuideToShopFyConnectOnlyChilddivthree>div{
        display: flex;
        justify-content: space-between;
        
    }
    .GuideToShopFyConnectOnlyChilddivthree>div>h3{
       width: 50%;
    } 
}