.contactmanagementdealsmainbox{
    height: 100vh;
   background-color: white;
   padding-top: 3%;
}

.contactmanagementdealsmainbox >h1{
    text-align: center;
    
}

.contactmanagementdealsflexbox{
    display: flex;
    width: 80%;
    
    height: fit-content;
    border-bottom: 1px solid #EF4C23;
    margin: 5% 10% 2% 10%;
  
}

.contactmanagementmappingdataindivisual{
width: fit-content;
margin-left: 5%;

padding: 10px;

text-align: center;
    height: 40px;
    position: relative;

}

.contactmanagementmappingdataindivisual:hover{
    color: #EF4C23;
    cursor: pointer;
    border-bottom: 5px solid #EF4C23;
  
}






.contactmanagementimagechangerandflexbox{
    height: 500px;
   
    display: flex;
}

.contactmanagementimageandflexleftbox{
    width: 30%;
    height: fit-content;
   
    margin-left: 5%;
    text-align: justify;
    margin-top: 5%;
}

.contactmanagementimageandflexrightbox{
    height: 100%;
    width: 60%;
   
    margin-left: 3%;
}

.contactmanagementimageandflexrightbox >img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}