.contactmanagementpersonalizemainbox{
    height: fit-content;
 background-color: white;
 padding-top: 5%;
}

.getpersonalizecontactmanagementsometextbox{
    height: fit-content;

    width: 60%;
    margin: auto;
    text-align: justify;
}
.getpersonalizecontactmanagementsometextbox >h1{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 1%;
}


.getpersonalizecontactmanagementboxforimage{
    height: 500px;
    width: 80%;

    margin-left: 10%;
    margin-top: 3%;
    background: url("/Images/contactmanagement/Ellipse 52.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 100% 100%;
}

.getpersonalizeimageboxcontactmanagementforouterimage{
    height: 80%;
    width: 80%;
 
  margin: 5% 10% 10% 6%;
}

.getpersonalizeimageboxcontactmanagementforouterimage >img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}