.whatsappcampaignsmainboxes{
    height: fit-content;
    margin-top: 8%;
    margin-bottom: 8%;
}

.whatsappcampaignsmainboxes>h2{
    text-align: center;
}

.whatsappcampaignsmainboxes>p{
    text-align: center;
}

.whatsappcampaigndatabox{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    margin-top: 2%;
    justify-content: space-around;
    height: fit-content;
    padding: 10px;
}

.shadowboxes{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: 2%;
width: 30%;
height: 80px;
padding: 10px;
border-radius: 10px;
}

.shadowboxes:hover{
    background-color: #ef4c23;
    color: white;
}
.shadowboxes>h4{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-top: 4%;
}

.shadowimagedownbox{
    width: 60%;
    margin: auto;
    margin-top: 2%;
}

@media (max-width:480px) {
    .whatsappcampaignsmainboxes{
        margin-top: 12%;
    }
    .whatsappcampaigndatabox{
        flex-direction: column;
        width: 100%;
    }
    .shadowboxes{
        width: 80%;
        margin: auto;
        margin-top: 3%;
    }
    .shadowimagedownbox{
        width: 90%;
        margin-top: 5%;
    }
    
}