.Limitationmaundiv{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}
.Limitationmaundivinner{
    text-align: center;

    width: 25%;
 display: flex;
 flex-direction: column;
 border-left: 2px solid lightgray;
}
.Limitationmaundivinner:hover{
    background-color: rgb(214, 240, 231);
}
.Limitationmaundivheading{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 3%;
}
@media(max-width:480px){
    /* .Limitationmaundiv{
        flex-direction: column;
    } */
    .Limitationmaundivinner{
        width: 80%;
        margin: 2% auto;
        padding-top: 2%;
        /* border-top: 2px solid lightgray;
        border-left: none; */
    }
    .Limitationmaundivinner>h6{
        font-size: 20px;
        margin-bottom: 4%;
    
    }
}