.imageCard {
  width: 100%;
  padding: 10px;
  /* background-color: green; */
  display: flex;
  column-gap: 20px;
  cursor: pointer;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.cardImageSection {
  width: 45px;
  height: 45px;
}
.cardImageSection > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cardText {
  width: 80%;
}
.cardText > h5 {
  cursor: pointer;

}
