.Financepragrafmaindiv{
    /* border: 2px solid red; */
    margin-top: 3%;
}
.Financepragrafinnerdiv{
    width: 80%;
    margin: auto;
}

.Financepragrafinnerdivsecond{
    /* border: 2px solid green; */
    width: 80%;
    margin: auto;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Financepragrafinnerdivsecondinner{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 2%;
    /* justify-content: space-around; */
}
.Financepragrafinnerdivsecondimage{
    /* border: 2px solid blue; */
    width: 80px ;
    height: 80px;
    
}

.Financepragrafinnerdivsecondinner h2{
    color: #ef2c23;
    width: 100%;
    /* border: 2px solid; */
    margin-left: 5%;

}
.Financepragrafinnerdivsecondcontent{
    padding: 2%;
}

@media (max-width:1024px) {
    .Financepragrafmaindiv{
        /* border: 2px solid red; */
        margin-top: 3%;
    }
    .Financepragrafinnerdiv{
        width: 90%;
        margin: auto;
        text-align: justify;
    }
    
    .Financepragrafinnerdivsecond{
        /* border: 2px solid green; */
        width: 90%;
        margin: auto;
         box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .Financepragrafinnerdivsecondinner{
        /* border: 2px solid yellow; */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-top: 2%;
        /* justify-content: space-around; */
    }
    .Financepragrafinnerdivsecondimage{
        /* border: 2px solid blue; */
        width: 80px ;
        height: 80px;
        
    }
    
    .Financepragrafinnerdivsecondinner h2{
        color: #ef2c23;
        width: 100%;
        /* border: 2px solid; */
        margin-left: 5%;
    
    }
    .Financepragrafinnerdivsecondcontent{
        padding: 2%;
    text-align: justify;
    }
    
}