
.SMBTrailparent{
    background-image: url('/Images/sbm/background.png');
    margin-top: 5%;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    padding-bottom: 3%;
    padding-top: 2%;
    border: 1px solid green;
}
.SMBTrailparent>h1{
    font-weight: 700;
    color: white;
}

.SMBTrailparent>p{
    font-weight: 450;
    font-size: 18px;
    color: white;
}
.SMBTrailparent>div{
   
    width: 25%;
    display: flex;
    margin-top: 1%;
   
}
.SMBTrailparent>div>button{
    width: 47%;
    height: 50px;
  font-size: 16px;
  border:1px solid transparent;
  background-color: #03c457;
  color: white;
  border-radius: 20px;

}


.SMBTrailparent>div>button:hover{
    
  color:  #03c457;
    border:1px solid #03c457;
  background-color: transparent;
 

}
.SMBTrailparent>div>button:nth-child(2){
    margin-left: 6%;
}




@media(max-width:780px){

    .SMBTrailparent{
      text-align: center;
      padding: 30px 0;
     
    }
    

    .SMBTrailparent>div{
       
        width: 90%;
       
       
    }
  
    
}