.ProvideConvenientBannermaindiv{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    height: 100vh;
}
.ProvideConvenientBannermaindivbutton{
 
    width: 220px;
    height: 40px;
    color: white;
    background-color: #04c358;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    margin-top: 2%;

}
.ProvideConvenientBannermaindivbutton:hover{
    border: 1px solid #04c358;
    color: #04c358;
    background-color: white;
}
.ProvideConvenientBannermaindivinner{
    width: 35%;
   
}
.ProvideConvenientBannerimage{
    width: 35%;
}
.ProvideConvenientBannermaindivinner h1{
    font-size: 40px;
}
@media(max-width:480px){
    .ProvideConvenientBannermaindiv{
        flex-direction: column-reverse;
        height: 600px;
        justify-content: space-evenly;
        margin-top: 15%;
        text-align: center;
    }
    .ProvideConvenientBannermaindivinner>h1{
        font-size: 32px;
    }
    .ProvideConvenientBannermaindivinner,.ProvideConvenientBannerimage{
        width: 80%;
       
    }
    .ProvideConvenientBannermaindivbutton{
 
       height: 50px;
       width: 60%;
    
    }
   
}






