.CRMSystemmaindiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid; */
   background-color: #fdf3f0;
   margin-top: 4%;

}
.CRMSystemmaindivcontent{
    /* border: 2px solid red; */
    width: 50%;
}
.CRMSystemmaindivcontent h3{
    font-weight: 400;
}
.CRMSystemmaindivimage{
    width: 350px;
    height: 320px;
}