.messagingplatformsmainboxes{
    height: fit-content;
    
}

.messagingplatformsmainboxes>h1{
    text-align: center;
}
.messagingplatformsdataboxes{
    height: fit-content;
    margin: auto;
    width: 80%;

}

.messagingplatformsindidata{
    height: 300px;
    width: 100%;
    margin-top: 2%;
    
    display: flex;
}


.messagingplatformsindidata:nth-child(even){
    flex-direction: row-reverse;
}

/* .messagingplatformsindileftbox{
    border: 2px solid red;
} */

.messagingplatformsindirightbox{
    margin-left: 5%;
    margin-top: 5%;
}

.messagingplatformsindirightbox>h3{
    font-weight: 700;
}