.messagingplatformsmainboxes{
    height: fit-content;
    padding-top: 3%;
}

.messagingplatformsmainboxes>h1{
    text-align: center;
}
.messagingplatformsdataboxes{
    height: fit-content;
    margin: auto;
    width: 80%;  
}

.messagingplatformsindidata{
    height: 300px;
    width: 100%;
    margin-top: 2%;
    display: flex;
}
.messagingplatformsindidata:nth-child(even){
    flex-direction: row-reverse;
}
.messagingplatformsindileftbox :nth-child(odd){
    height: 46vh;
}
.messagingplatformsindirightbox{
    margin: auto 3%;
}

.messagingplatformsindirightbox>h3{
    font-weight: 700;
}

@media only screen and (min-width:0px) and (max-width:600px){

.messagingplatformsmainboxes{
    height: fit-content;
}

.messagingplatformsmainboxes>h1{
    text-align: center;
}
.messagingplatformsdataboxes{
    height: fit-content;
    margin: auto;
    width: 90%;
    /* border: 2px solid red; */
}

.messagingplatformsindidata{
    /* height: 300px; */
    /* width: 100%; */
    margin-top: 10%;
    /* display: flex; */
    flex-direction: column;
    /* border: 2px solid red; */
}
.messagingplatformsindidata:nth-child(even){
    flex-direction: column;
   
}
.messagingplatformsindirightbox{
    margin-top: 8%;
    width: 100%;
    margin: auto;
    /* border: 2px solid blue; */
}

.messagingplatformsindirightbox>h3{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.messagingplatformsindirightbox>p{
    text-align: justify;
}
.messagingplatformsindileftbox{
    width: 35%;
    margin: auto;
}
}
