.messaginglowerbannermainboxes{
height: 40vh;
border: 1px solid transparent;
background: url("https://bottom-funnel-product.s3.ap-south-1.amazonaws.com/Images/Messaging channels/components/Group 1000006017.webp");
background-repeat: no-repeat;
}

.messaginlowerbannertxt{
color: white;
 text-align: center;
 margin-top: 5%;
}

.lowerbannerbutton{
display: flex;
margin: auto;
height: 50px;
width: 30%;
justify-content: space-around;
}

.massaginglowerbannerbuttonone {
padding: 5px 5px;
border-radius: 100px;
width: 200px;
background-color: #03C457;
border: none;
outline: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
font-size: 14px;
font-weight: 600;
color: white;
}
  
.massaginglowerbannerbuttonone:hover {
background-color: white;
color:  #03C457;
}

@media only screen and (min-width:0px) and (max-width:600px){

.messaginglowerbannermainboxes{
height: 30vh;
margin-top: 20%;
border: 1px solid transparent;
background: url("https://bottom-funnel-product.s3.ap-south-1.amazonaws.com/Images/Messaging channels/components/Group 1000006017.webp");
background-repeat: no-repeat;
}

.messaginlowerbannertxt{
color: white;
 text-align: center;
 margin-top: 5%;
}
.messaginlowerbannertxt>h1{
    font-size: 20px;
}

.lowerbannerbutton{
display: flex;
margin: auto;
height: 50px;
width: 90%;

}

.massaginglowerbannerbuttonone {
padding: 5px 5px;
border-radius: 100px;
width: 150px;
background-color: #03C457;
border: none;
outline: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
font-size: 14px;
font-weight: 600;
color: white;
}
  
.massaginglowerbannerbuttonone:hover {
background-color: white;
color:  #03C457;
}



}
