.AppleBusinessChatBannermaindiv{
    /* border: 2px solid green ; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh ;

}
.AppleBusinessChatBannermaindivcontent{
    width: 40%;
}
.AppleBusinessChatBannermaindivimage{
    width: 40%;
}
.AppleBusinessChatBannermaindivcontentbutton{
    width: 220px;
    font-size: 18px;
    font-weight: 600;
    background-color: #04C354;
    color: white;
    border-radius: 10px;
    height: 40px;
    border: none;
}
.AppleBusinessChatBannermaindivcontentbutton:hover{
    border: 1px solid #04C354;
    background-color: white;
    color: #04C354;
}

@media  (max-width:1024px){
    .AppleBusinessChatBannermaindiv{
        /* border: 2px solid green ; */
        flex-direction: column-reverse;
        height: fit-content ;
        margin-top: 22%;
    
    }
   
    .AppleBusinessChatBannermaindivcontent{
        width: 85%;
       /* border: 1px solid red; */
       margin: 8% 0 5% 5%;
      
       
       
    }
    .AppleBusinessChatBannermaindivimage{
        width: 90%;
        margin: auto;
    }
    
    .AppleBusinessChatBannermaindivcontentbutton{
        margin: auto;
    }
    
}