.SmallBusinessSupportParent{
    padding: 5%;
   
}
.SmallBusinessSupportParent>h1{
    margin-bottom: 2%;
}
.SmallBusinessSupportParentonlydiv{
    margin-top: 4%;
    margin-bottom: 4%;
}
.SmallBusinessSupportParent>div>div{
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 2%;
}
.SmallBusinessSupportParent>div>div>div{
   
   width: 47%;
   justify-content: space-between;
 border: 1px solid green;
 border-bottom-right-radius: 20px;
   padding-bottom: 2%;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.SmallBusinessSupportParentonlydiv>div>div>div{
    display: flex;
  
    align-items: center;
    margin-bottom: 20px;
}
.SmallBusinessSupportParentonlydiv>div>div>div>div{
   
    width: 100px;
    height: 60px;
    background-color: green;
    border-bottom-right-radius: 15px;
    padding-left: 20px;
}
.SmallBusinessSupportParentonlydiv>div>div>div>h5{
    margin-left: 20px;
}
.SmallBusinessSupportParentonlydiv>div>div>p{
   
    padding: 2%;
}
@media(max-width:780px){
    .SmallBusinessSupportParent>div>div{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 2%;
    }
    .SmallBusinessSupportParent>div>div>div{
       
       width: 100%;
       justify-content: space-between;
     
       padding-bottom: 2%;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}