.retailecommercebannermainboxes {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5%;
}

.retailecommercebannerleftbox {
  height: fit-content;
  width: 50%;
  margin-top: 10%;
  margin-right: 3%;
}

.retailecommercebannerrightbox {
  height: 500px;
  width: 50%;
}

.retailecommercebannerrightbox > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.retailsecommercebannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  background-color: #14944C;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  color: white;
  margin-top: 3%;
}

.retailsecommercebannerbutton:hover {
  background-color: white;
  color: #14944C;
}

@media (max-width:480px) {
  .retailecommercebannermainboxes{
    flex-direction: column-reverse;
    margin-top: 20%;
  }
  .retailecommercebannerleftbox{
    width: 90%;
    margin: auto;
    margin-top: 5%;
  }
  .retailecommercebannerleftbox>h1{
    text-align: center;
  }
  .retailecommercebannerleftbox>p{
    font-size: 18px;
    text-align: justify;
  }
  .retailecommercebannerrightbox{
    width: 90%;
    margin: auto;
    height: auto;
  }
  .retailsecommercebannerbutton{
    padding: 10px 20px;
    display: block;
    margin: auto;
    margin-top: 8%;
  }
}
