.retailteammainboxes {
  height: fit-content;
  margin-top: 5%;
  display: flex;

}

.retailteamleftboxfortext {
  height: fit-content;
  width: 50%;
  margin-left: 3%;
  margin-top: 5%;
}

.retailteamboxrightforimageonly > img {
  height: auto;
  width: 80%;
  margin-left: 10%;
  object-fit: contain;
  
}

.colored {
  margin-top: 5%;
  margin-left: 3%;
  color: #14944c;
}

@media (max-width:480px) {
  .retailteammainboxes{
    flex-direction: column-reverse;
    margin: auto;
  }
  .retailteamboxrightforimageonly>img{
    width: 80%;
    display: block;
   margin: auto;
    margin-top: 3%;
  }
  .retailteamleftboxfortext{
    width: 95%;
  }
  .retailteamleftboxfortext>h1{
    text-align: center;
  }
  .retailteamleftboxfortext>p{
    font-size: 18px;
    text-align: justify;
  }
  .retailteamleftboxfortext>ul>li{
    font-size: 18px;
  }
}
