.retailinsightsmainbox {
  height: fit-content;
  margin-bottom: 3%;
  /* height: 355px; */
  /* border: 2px solid yellow; */
  margin-top: 5%;
}

.retailinsightsupperboximageandtextflexbox {
  display: flex;
  /* border: 2px solid red; */
  width:100%;
  background-color: #f5f5f5;
}

.retailinsightsupperboxtextleft {
  height: 400px;
  width: 50%;
  background: url("/Images/Retail&ecommerce/Animations/animation4.webp");
  background-repeat: no-repeat;
}

.retailinsightsupperboxtextleftouterbox {
  margin-left: 2%;
  margin-top: 2%;
  width: 98%;
  height: 96.5%;
  background-color: #f5f5f5;
  position: relative;
  /* border: 2px solid red; */
}

.retailinsightsupperboximageright {
  width: 55%;
  margin-left: -1%;
  height: 378px;
  margin-top: 1%;
  /* border: 2px solid red; */
  background-color: #f5f5f5;
}

.retailshopupperboximageright > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.retailinsightsupperboxtextsvgallfilethere {
  margin-left: 3%;
  position: absolute;
  margin-top: 7%;
}

.retailinsightsupperboxtextsvgallfilethere > h6 {
  margin-top: 5%;
}
