.retailecommercebannermainboxes {
  height: fit-content;
  display: flex;
  margin-top: 120px;
}

.retailecommercebannerleftbox {
  height: fit-content;
  width: 50%;
  margin-top: 10%;
  margin-left: 3%;
}

.retailecommercebannerrightbox {
  height: 500px;
  width: 50%;
}

.retailecommercebannerrightbox > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.retailsecommercebannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: fit-content;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-top: 3%;
}

.retailsecommercebannerbutton:hover {
  background-color: white;
  color: #3380f2;
}
