.retailredefinemainboxes {
  height: fit-content;
  /* border: 2px solid red; */
  margin-top: 5%;
  display: flex;
}

.retailredefineleftboxfortext {
  height: fit-content;
  width: 50%;
  /* border: 2px solid green; */
  margin-left: 3%;
  margin-top: 5%;
}

.retailredefinemainboxesrightboxforimage {
  height: 400px;
  width: 50%;
  background: url("https://bottom-funnel-product.s3.ap-south-1.amazonaws.com/Images/Retail%26ecommerce/Animations/animation4.webp");
  background-repeat: no-repeat;
  background-position-x: right;
}

 .retailredefinedboxrightforimageonly { 
  height: 380px;
  width: 97%;
  margin-left: 1%;
  background-color: white;
} 

.retailredefinedboxrightforimageonly > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width:480px) {
  .retailredefinemainboxes{
    flex-direction: column-reverse;
   
  }
  .retailredefineleftboxfortext{
    width: 95%;
    margin-top: 2%;
    /* border: 2px solid red; */
  }
  .retailredefinemainboxesrightboxforimage{
    width: 100%;
    height: auto;
    margin: auto;
    /* border: 2px solid red; */
  }
  .retailredefinedboxrightforimageonly{
    height: auto;
  }
 
  .retailredefineleftboxfortext>h1{
    text-align: center;
  }
  .retailredefineleftboxfortext>p{
    text-align: justify;
    font-size: 18px;
  }
  .retailredefineleftboxfortext>ul>li{
    font-size: 18px;
  }
  .retailredefinemainboxesrightboxforimage{
    background: none;
  }
  .retailredefinemainboxesrightboxforimage{
    background-position: none;
  }
}
