.retailshopmainbox {
  height: fit-content;
  /* border: 2px solid red; */
  margin-top: 5%;
}

.retailshopupperboximageandtextflexbox {
  display: flex;
}

.retailshopupperboxtextleft {
  height: 400px;
  width: 50%;
  /* border: 2px solid red; */
  background: url("/Images/Retail&ecommerce/Animations/animation4.webp");
  background-repeat: no-repeat;
}

.retailshopupperboxtextleftouterbox {
  margin-left: 2%;
  margin-top: 2%;
  width: 98%;
  height: 97%;
  background-color: #f5f5f5;
  position: relative;
}

.retailshopupperboximageright {
  width: 55%;
  margin-left: -1%;
  height: 387px;
  margin-top: 1%;
  background-color: #f5f5f5;
}

.retailshopupperboximageright > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.retailshopupperboxtextsvgallfilethere {
  margin-left: 3%;
  position: absolute;

  margin-top: 7%;
}

.retailshopupperboxtextsvgallfilethere > h6 {
  margin-top: 5%;
}
