.retailcustomermainboxes {
  height: 400px;
  position: relative;
  background: url("/Images/Retail&ecommerce/Animations/animation4.webp");
  background-repeat: no-repeat;
  /* border: 2px solid  red; */
  margin-top: 5%;
}

.retailcustomerleftrightboxflextype {
  height: 96.5%;
  position: absolute;
  margin-top: 1%;

  width: 99%;
  margin-left: 1%;
  background-color: #f5f5f5;
  display: flex;
}

.retailcustomerleftboxflextype {
  width: 50%;
  /* border: 2px solid red; */
  height: 100%;
  /* margin-top: 2%; */
}

.retailcustomerleftboxflextype > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.retailcustomerrightboxflextype {
  height: fit-content;
  margin-left: 3%;
  margin-top: 3%;
}

.retailcustomerrightboxflextype > h6 {
  margin-left: 5%;
  margin-top: 5%;
}
