.retailteammainboxes {
  height: fit-content;

  margin-top: 1%;
  display: flex;
}

.retailteamleftboxfortext {
  height: fit-content;
  width: 50%;

  margin-left: 3%;
  margin-top: 5%;
}

.retailteammainboxesrightboxforimage {
  height: 400px;
  width: 50%;

  background: url("/Images/Retail&ecommerce/Rectangle\ 5086.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.retailteamboxrightforimageonly {
  height: 95%;
  width: 97%;

  background-color: white;
}

.retailteamboxrightforimageonly > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.colored {
  margin-top: 5%;
  margin-left: 3%;
}
