.retailcustomermainboxes {
  height:400px;
  position: relative;
  background: url("https://d3op2l77j7wnti.cloudfront.net/Images/Retail%26ecommerce/Animations/animation4.webp");
  background-repeat: no-repeat;
  /* border: 2px solid  red; */
  margin-top: 5%;
}

.retailcustomerleftrightboxflextype {
  height: 96.5%;
  position: absolute;
  margin-top: 1%;
  width: 99%;
  margin-left: 1%;
  background-color: #f5f5f5;
  display: flex;
}

.retailcustomerleftboxflextype {
  width: 50%;
  height: auto;
}

.retailcustomerrightboxflextype {
  height: fit-content;
  margin-left: 3%;
  margin-top: 3%;
}

.retailcustomerrightboxflextype > h6 {
  margin-left: 5%;
  margin-top: 5%;
}
.colored{
  color: #14944c;
}
.colored>svg{
  color: #14944c;
}

@media (max-width:480px) {
  .retailcustomerleftrightboxflextype{
    flex-direction: column;
    height: fit-content;
  }
  .retailcustomerleftboxflextype{
    width: 80%;
    margin: auto;
    height: 250px;
  }
  .retailcustomerrightboxflextype>h1{
    text-align: center;
  }
  .retailcustomerrightboxflextype>p{
    font-size: 18px;
    width: 95%;
    text-align: justify;
  }
  .retailcustomerrightboxflextype>ul>li{
    font-size: 18px;
    width: 95%;
    text-align: justify;
  }
  .retailcustomermainboxes{
    background: none;
    height: 750px;
  }
  .retailcustomerleftrightboxflextype{
    position: none;
  }
  
}
