.retailshopmainbox {
  height: fit-content;
}

.retailshopupperboximageandtextflexbox {
  display: flex;
}

.retailshopupperboxtextleft {
  height: 400px;
  width: 50%;

  background: url("/Images/Retail&ecommerce/Rectangle\ 5086.png");
  background-repeat: no-repeat;
}

.retailshopupperboxtextleftouterbox {
  margin-left: 4%;
  margin-top: 4%;
  width: 98%;
  height: 95%;
  background-color: #f5f5f5;
  position: relative;
}

.retailshopupperboximageright {
  width: 55%;
  margin-left: -1%;
  height: 380px;
  margin-top: 2%;
  background-color: #f5f5f5;
}

.retailshopupperboximageright > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.retailshopupperboxtextsvgallfilethere {
  margin-left: 3%;
  position: absolute;

  margin-top: 7%;
}

.retailshopupperboxtextsvgallfilethere > h6 {
  margin-top: 5%;
}
