/* for any type of laptop and big screen responsive */
@media only screen and (min-width:901px){
  .datasciencemainboxes{
    height: 50vh;
 
   
  }
.DataScienceMidBannerMain {
  padding: 5% 3% 5% 3%;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Images/IOTPhotos/mid-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  text-align: center;
}
}

/* for any type of mobile screen responsible */

@media only screen and (min-width:0px) and (max-width:480px){
  .DataScienceMidBannerMain {
   
    padding: 5% 3% 5% 3%;
  
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/Images/IOTPhotos/mid-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  
    text-align: center;

  }

.DataScienceMidBannerMain>p{
  text-align: justify;
}
}

@media only screen and ( min-width:481px) and (max-width:900px){

  .DataScienceMidBannerMain {

  padding: 5% 3% 5% 3%;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Images/IOTPhotos/mid-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  text-align: center;

}
.DataScienceMidBannerMain>p{
  text-align: justify;
}


}