/* this css file is for the cryptodevpage slider file */
.CryptoDevSliderSliderDiv {
  position: relative;
  width: 90%;
  height: 350px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.CryptoDevSliderSliderDiv > h1 {
  font-size: 32px;
  text-align: center;
}

.CryptoDevSliderSliderDiv > h1 > span {
  color: #ef4c23;
}

.CryptoDevSliderHrLine {
  width: 30%;
  margin: auto;
  margin-top: 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CryptoDevSliderHrLine > div {
  border: 2px solid #bf42b9;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.CryptoDevSliderHrLine > span {
  width: 46%;
  height: 2px;
  background-color: #bf42b9;
  color: #bf42b9;
}

.CryptoDevSlider-slide {
  width: 670px;
  height: 250px;
  position: relative;

  transform: scale(0.5);
  transition: transform 0.5s ease-in-out;

  border-radius: 20px;
  border: 1px solid gray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.CryptoDevSlider-slide-active {
  width: 100px;
  transform: scale(0.8);
}

.CryptoDevSlider-slide > img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CryptoDevSliderSliderPrev {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  left: 0%;
  top: 50%;
}

.CryptoDevSliderSliderArrow {
  background-color: #f1f1f1;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: #393939;

  width: 30px;
  height: 30px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.CryptoDevSliderSliderPrev {
  left: 0%;
  top: 50%;
}

.CryptoDevSliderSliderNext {
  right: 0%;
  top: 50%;
}

.CryptoDevSliderSliderArrow:hover {
  background-color: #d6d5d5;
}

/* this css is for the business intelligence(BI page) slider */
.BISliderSliderDiv {
  position: relative;
  width: 90%;
  height: 350px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.BISliderSliderDiv > h1 {
  font-size: 32px;
  text-align: center;
}

.BISliderSliderDiv > h1 > span {
  color: #ef4c23;
}

.BISliderHrLine {
  width: 30%;
  margin: auto;
  margin-top: 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.BISliderHrLine > div {
  border: 2px solid #ef4c23;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.BISliderHrLine > span {
  width: 46%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}

.BISlider-slide {
  width: 670px;
  height: 250px;
  position: relative;

  transform: scale(0.5);
  transition: transform 0.5s ease-in-out;

  border-radius: 20px;
  border: 1px solid gray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.BISlider-slide-active {
  width: 100px;
  transform: scale(0.8);
}

.BISlider-slide > img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BISliderSliderPrev {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  left: 0%;
  top: 50%;
}

.BISliderSliderArrow {
  background-color: #f1f1f1;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: #393939;

  width: 30px;
  height: 30px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.BISliderSliderPrev {
  left: 0%;
  top: 50%;
}

.BISliderSliderNext {
  right: 0%;
  top: 50%;
}

.BISliderSliderArrow:hover {
  background-color: #d6d5d5;
}

/* /this css file is for the enterprise solutions(EnterpriseWebPage) slider file */
.EnterpriseSliderSliderDiv {
  position: relative;
  width: 90%;
  height: 350px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.EnterpriseSliderSliderDiv > h1 {
  font-size: 32px;
  text-align: center;
}

.EnterpriseSliderSliderDiv > h1 > span {
  color: #ef4c23;
}

.EnterpriseSliderHrLine {
  width: 30%;
  margin: auto;
  margin-top: 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.EnterpriseSliderHrLine > div {
  border: 2px solid #ef4c23;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.EnterpriseSliderHrLine > span {
  width: 46%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}

.EnterpriseSlider-slide {
  width: 670px;
  height: 250px;
  position: relative;

  transform: scale(0.5);
  transition: transform 0.5s ease-in-out;

  border-radius: 20px;
  border: 1px solid gray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.EnterpriseSlider-slide-active {
  width: 100px;
  transform: scale(0.8);
}

.EnterpriseSlider-slide > img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.EnterpriseSliderSliderPrev {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  left: 0%;
  top: 50%;
}

.EnterpriseSliderSliderArrow {
  background-color: #f1f1f1;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: #393939;

  width: 30px;
  height: 30px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.EnterpriseSliderSliderPrev {
  left: 0%;
  top: 50%;
}

.EnterpriseSliderSliderNext {
  right: 0%;
  top: 50%;
}

.EnterpriseSliderSliderArrow:hover {
  background-color: #d6d5d5;
}

/* This css file is for the virtual reality(VRPage) slider comps */
.VRSliderSliderDiv {
  position: relative;
  width: 90%;
  height: 350px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.VRSliderSliderDiv > h1 {
  font-size: 32px;
  text-align: center;
}

.VRSliderHrLine {
  width: 30%;
  margin: auto;
  margin-top: 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.VRSliderHrLine > div {
  border: 2px solid #bf42b9;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.VRSliderHrLine > span {
  width: 46%;
  height: 2px;
  background-color: #bf42b9;
  color: #bf42b9;
}

.VRSlider-slide {
  width: 670px;
  height: 250px;
  position: relative;

  transform: scale(0.5);
  transition: transform 0.5s ease-in-out;

  border-radius: 20px;
  border: 1px solid gray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.VRSlider-slide-active {
  width: 100px;
  transform: scale(0.8);
}

.VRSlider-slide > img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.VRSliderSliderPrev {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  left: 0%;
  top: 50%;
}

.VRSliderSliderArrow {
  background-color: #f1f1f1;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: #393939;

  width: 30px;
  height: 30px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.VRSliderSliderPrev {
  left: 0%;
  top: 50%;
}

.VRSliderSliderNext {
  right: 0%;
  top: 50%;
}

.VRSliderSliderArrow:hover {
  background-color: #d6d5d5;
}

/* this is the css file code for the custom-web-solutions
(CustomWebSlider) */

.CustomWebSliderSliderDiv {
  position: relative;
  width: 90%;
  height: 350px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.CustomWebSliderSliderDiv > h1 {
  font-size: 32px;
  text-align: center;
}

.CustomWebSliderSliderDiv > h1 > span {
  color: #ef4c23;
}

.CustomWebSliderHrLine {
  width: 30%;
  margin: auto;
  margin-top: 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CustomWebSliderHrLine > div {
  border: 2px solid #ef4c23;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.CustomWebSliderHrLine > span {
  width: 46%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}

.CustomWebSlider-slide {
  width: 670px;
  height: 250px;
  position: relative;

  transform: scale(0.5);
  transition: transform 0.5s ease-in-out;

  border-radius: 20px;
  border: 1px solid gray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.CustomWebSlider-slide-active {
  width: 100px;
  transform: scale(0.8);
}

.CustomWebSlider-slide > img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CustomWebSliderSliderPrev {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  left: 0%;
  top: 50%;
}

.CustomWebSliderSliderArrow {
  background-color: #f1f1f1;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: #393939;

  width: 30px;
  height: 30px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.CustomWebSliderSliderPrev {
  left: 0%;
  top: 50%;
}

.CustomWebSliderSliderNext {
  right: 0%;
  top: 50%;
}

.CustomWebSliderSliderArrow:hover {
  background-color: #d6d5d5;
}

/* this css is from the data-science page(DataScienceSlider) */
.DataScienceSliderSliderDiv {
  position: relative;
  width: 90%;
  height: 350px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.DataScienceSliderSliderDiv > h1 {
  font-size: 32px;
  text-align: center;
}

.DataScienceSliderSliderDiv > h1 > span {
  color: #ef4c23;
}

.DataScienceSliderHrLine {
  width: 30%;
  margin: auto;
  margin-top: 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DataScienceSliderHrLine > div {
  border: 2px solid #ef4c23;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.DataScienceSliderHrLine > span {
  width: 46%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}

.DataScienceSlider-slide {
  width: 670px;
  height: 250px;
  position: relative;

  transform: scale(0.5);
  transition: transform 0.5s ease-in-out;

  border-radius: 20px;
  border: 1px solid gray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.DataScienceSlider-slide-active {
  width: 100px;
  transform: scale(0.8);
}

.DataScienceSlider-slide > img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.DataScienceSliderSliderPrev {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  left: 0%;
  top: 50%;
}

.DataScienceSliderSliderArrow {
  background-color: #f1f1f1;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: #393939;

  width: 30px;
  height: 30px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.DataScienceSliderSliderPrev {
  left: 0%;
  top: 50%;
}

.DataScienceSliderSliderNext {
  right: 0%;
  top: 50%;
}

.DataScienceSliderSliderArrow:hover {
  background-color: #d6d5d5;
}

/* this css file is for the form of the seo main page in the services section */
._SeoMain1 {
  height: auto;
  width: 100%;
  background: url("/Images/seopages/seo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  background-origin: border-box;
  position: relative;
  margin-top: 70px;
}

.gifDenote {
  width: 230px;
  height: 400px;
  position: absolute;
  top: 32%;
  right: 34%;
}
.gifDenote > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
._Seoupperdiv {
  display: flex;
  /* border: 1px solid green; */
  width: 100%;
  height: 100vh;
  background: none !important;
}
._Seotext {
  /* border:1px solid white; */
  width: 40%;
  color: black;
  box-sizing: border-box;
  margin: auto;
  margin-left: 80px;
  /* text-align: center; */
}
._Seoparagraph {
  /* border:1px solid white; */
  color: gray;
  font-weight: 400;
  width: 100%;
  color: black;
  line-height: 1.5;
  font-size: 16px;
}
._Seoheading {
  /* border:1px solid white; */
  margin-bottom: 10px;
  color: #605d5d;
  width: 100%;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 600;
  /* text-align: left; */
}
._Seoheading + div {
  font-size: 18px;
  /* text-align: left; */
}
._Seoform {
  /* border:1px solid red; */
  width: 42%;
  height: 100%;
}
._Seoformcontent {
  border: 1px solid white;
  width: 450px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 40px rgb(0 0 0 / 15%);
  margin: auto;
  margin-top: 30px;
}
._Seoformheading {
  /* border: 1px solid red; */
  /* border-radius: 35px; */
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: #605d5d;
}

._Seoenterform {
  /* border:1px solid red; */
  width: 85%;
  height: 440px;
  margin: auto;
  margin-top: 20px;
}
._seoforminput {
  border: 1px solid #393939;
  font-size: 15px;
  border-radius: 4px;

  margin-top: 10px;
  /* outline: #EF4C23; */
  padding: 7px 10px;
  width: 100%;
  color: gray;
  font-weight: 400;
}
/* ._seoforminput ~ label {
    color: #ef4c23;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-top: 12px;
    padding: 4px;
  } */
.Seoforminput:hover {
  outline-color: #ef4c23;
}
/* label ~ select {
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    padding: 6px 7px;
  
    color: gray;
    margin-top: 12px;
    border: 1px solid #393939;
  } */
._SeoSubmitbutton {
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 20px 0;
}
._SeoSubmitbutton > button {
  font-size: 18px;
  background-color: #ef4c23;
  color: white;
  border-radius: 25px;
  text-align: center;
  margin: auto;
  font-weight: 600;
  box-sizing: border-box;
  padding: 7px 60px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
._SeoSubmitbutton > button:hover {
  color: #ef4c23;
  background-color: white;
  transition: 0.2s linear;
}
._Seochkpricing {
  text-align: center;
  background-color: #ef4c23;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 60px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
._Seochkpricing:hover {
  color: #ef4c23;
  background-color: white;
  cursor: pointer;
  transition: 0.2s linear;
}

/* This css is for the our-clients page slider section*/
.clientSliderSliderDiv {
  position: relative;
  width: 80%;
  height: fit-content;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 0px;
}

.clientSliderSlide {
  width: 200px;
  height: 150px;
  position: relative;

  transform: scale(0.6);
  transition: transform 0.5s ease-in-out;

  border-radius: 20px;
  border: 1px solid red;
}

.clientSliderSlide-active {
  transform: scale(1);
  border: 1px solid green;
}

.clientSliderSlide > img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clientSliderSliderPrev {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  left: 0%;
  top: 50%;
}

.clientSliderSliderArrow {
  background-color: #f1f1f1;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: #393939;

  width: 30px;
  height: 30px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.clientSliderSliderPrev {
  left: 0%;
  top: 50%;
}

.clientSliderSliderNext {
  right: 0%;
  top: 50%;
}

.clientSliderSliderArrow:hover {
  background-color: #d6d5d5;
}

/* this css is for the press and media file slider comps */
.newsEventSliderSliderDiv {
  position: relative;
  width: 90%;
  height: 350px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.newsEventSliderSliderDiv > h1 {
  font-size: 32px;
  margin-bottom: 1%;
}

.NewsEventSlider-slide {
  width: 670px;
  height: 300px;
  padding: 20px;
  position: relative;
  cursor: pointer;

  transform: scale(0.5);
  transition: transform 0.5s ease-in-out;
  text-align: center;

  border-radius: 20px;
  border: 1px solid gray;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NewsEventSlider-slide-active {
  width: 670px;
  transform: scale(0.8);
}

.NewsEventSlider-slide > img {
  width: 60%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.NewsEventSlider-slide > h2 {
  font-size: 25px;
  position: absolute;
  bottom: 0%;
}

.newsEventSliderSliderPrev {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  left: 0%;
  top: 50%;
}

.newsEventSliderSliderArrow {
  background-color: #f1f1f1;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: #393939;

  width: 30px;
  height: 30px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.newsEventSliderSliderPrev {
  left: 0%;
  top: 50%;
}

.newsEventSliderSliderNext {
  right: 0%;
  top: 50%;
}

.newsEventSliderSliderArrow:hover {
  background-color: #d6d5d5;
}

.NewsEventSlider-slide:hover h2 {
  color: #ef4c23;
}

/* this css is for the products main page our commitment comps */
.productOurCommitmentmainDiv {
  /* border: 2px solid red; */
  height: 1160px;
}

.productsOurCommitmentMainImageDiv {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.productsOurCommitmentMainImageDiv > div > img {
  width: 100%;
}

.productsOurCommitmentMainContentDiv {
  /* border: 2px solid red; */
  position: absolute;
  width: 100%;
  bottom: 32%;
}

.productsOurCommitmentMainContentDiv > h1 {
  color: white;
}

.productsOurCommitmentMainContentDiv > h1 > span {
  color: #ef4c23;
}

.productsOurCommitmentMainContentDiv > h5 {
  /* border: 1px solid red; */
  width: 50%;
  margin: auto;
  color: white;
}

.productOurCommitmentHeadingButtons {
  /* border: 2px solid green; */
  background-color: white;
  height: 50px;
  width: 100%;
  border: none;
  font-weight: 700;
}
.active {
  color: #393939;
  /* border-bottom: 2px solid #393939; */
}
.productOurCommitmentChangemainDiv {
  width: 100%;
  height: 80px;
  border: 1px solid lightgray;
  /* background-color: #e8f4ff !important; */
  border-radius: 10px;
  /* margin: auto; */
}
.productOurCommitmentbuttonouterDiv {
  display: flex;
  flex-direction: row;
}
.productOurCommitmentbuttonDiv {
  /* border: 2px solid blue; */
  width: 12%;
  /* height: 35px; */
  margin: auto;
  margin-top: 1%;
}

.productOurCommitmentChangeableDataBannerdropcontainer {
  /* border: 1px solid red; */
  width: 30%;
  /* margin-left: 40%; */
  border: none;
  height: 50px;
}

.productOurCommitmentChangeableDataBannerdropcontainer select {
  font-size: 15px;
  height: 50px;
  border: 2px solid #dddddd78;
  /* background-color: #e8f4ff; */
}

.productOurCommitmentChangeableDataBannerdropcontainer select::placeholder {
  padding-top: 4px;
}

.productOurCommitmentChangeableDataBannerdropcontainer1 {
  margin-left: 3%;
  width: 30%;
  height: 50px;
}

.productOurCommitmentChangeableDataBannerdropcontainer1 p {
  height: 10px;
  color: #818090;
}

.productOurCommitmentChangeableDataBannerdropcontainer1 select {
  font-size: 15px;
  height: 50px;
  padding: 5px 10px;
  border: 2px solid #dddddd78;
  /* background-color: #e8f4ff; */
}
.productOurCommitmentChangeableButton {
  /* border: 2px solid red; */
  width: 60%;
  height: 60px;
  display: flex;
  flex-direction: row;
  /* margin-left: 41%; */
  margin-top: 2%;
}

.productOurCommitmentTypedetailsDiv {
  /* border: 2px solid red; */
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.productOurCommitmentTypeDetailContainer {
  border: 1px solid lightgray;
  width: 95%;
  height: 160px;
  /* margin: auto; */
  margin-top: 1.5%;
  display: flex;
  flex-direction: row;
}
.productOurCommitmentInformationDiv {
  /* border: 2px solid saddlebrown; */
  width: 70%;
  padding-left: 15px;
}
.productOurCommitmentRate {
  color: gray;
  font-size: 15px;
  margin-top: 1%;
}
.productOurCommitmentTypeofVisa {
  font-weight: 700;
  color: #393939;
  font-size: 18px;
  margin-top: -3%;
}
.productOurCommitmentDescription {
  color: grey;
  margin-top: -3%;
  text-align: justify;
  font-size: 12px;
}
.productOurCommitmentPrice {
  color: #393939;
  font-size: 14px;
  margin-top: -1%;
}
.visaPrice {
  color: #3380f2;
  font-weight: 700;
  font-size: 25px;
  margin-top: -3%;
}
.productOurCommitmentAddtoCartDiv {
  /* border: 2px solid black; */
  width: 30%;
}
.productOurCommitmentCartcounter {
  border: 2px solid lightgray;
  width: 60%;
  height: 40px;
  border-radius: 15px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  justify-content: space-between;
}

.productOurCommitmentaddbutton {
  /* margin-right: 9%; */
  width: 19%;
  height: 25px;
  color: #3380f2;
  /* background-color: #3380F2; */
  /* border: 2px solid #3380F2; */
  border-radius: 35px;
  font-size: 25px;
  font-weight: 700;
  margin-left: 9%;
  text-align: center;
  /* margin-top: 4%; */
  cursor: pointer;
  /* padding-top: 2px; */
}
.productOurCommitmentsubtractbutton {
  margin-right: 9%;
  width: 19%;
  height: 25px;
  color: #3380f2;
  background-color: #3380f2;
  /* border: 2px solid #3380F2; */
  border-radius: 22px;
  font-size: 25px;
  font-weight: 700;
  /* margin-left: -9%; */
  text-align: center;
  /* margin-top: 3%; */
  cursor: pointer;
}
.productOurCommitmentcountertext {
  font-size: 25px;
  font-weight: 700;
  color: #3380f2;
  /* margin-left: 15%; */
}
.productOurCommitmentAddtocartButton {
  background-color: #3380f2;
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: 60%;
  height: 40px;
  margin-top: 10%;
  padding: 8px 18px;
  margin-left: 20%;
}
.productOurCommitmentAddtocartButton :hover {
  background-color: white;
  color: #3380f2;
  border: 2px solid #3380f2;
  cursor: pointer;
}

.productOurCommitmentTypecontactDiv {
  /* border: 2px solid gold; */
  width: 35%;
  margin-top: -4.5%;
}

.productOurCommitmentDocumentMainDiv {
  /* border: 2px solid black; */
  height: auto;
  width: 80%;
}
.productOurCommitmentDocumentHeading {
  font-weight: 700;
  font-size: 25px;
  margin-top: 1%;
  /* margin-left: 4%; */
  color: #393939;
}
.productOurCommitmentDocumentContainer {
  width: 90%;
  margin-top: 3%;
  height: auto;
  border: 2px solid lightgray;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #393939;
}
.productOurCommitmentDoumentsLists {
  list-style-type: disc;
  margin-top: 3%;
  margin-left: 3%;
}
.productOurCommitmentprocessMainDiv {
  /* border: 2px solid red; */
  width: 80%;
}
.productOurCommitmentProcessheading {
  color: #393939;
  font-size: 28px;
  font-weight: 700;
  width: 80%;
  margin-top: 1%;
  margin-left: 5%;
  /* border: 2px solid red; */
}
.productOurCommitmentProcesscontainerDiv {
  /* border: 2px solid black; */
  width: 90%;
  height: 150px;
  margin: auto;
  margin-top: 7%;
  object-fit: cover;
  background-size: cover;
}
.productOurCommitmentProcessImage {
  width: 100%;
  height: 100%;
}

/* This css is for the our commitment page from  scratch */

.ourCommitmentMainDiv {
  /* border: 2px solid salmon; */
  margin-top: 2%;
  width: 100%;
  gap: 4%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.productsTalentCommunication {
  /* border: 1px solid red; */
  width: 97%;
  display: flex;
  gap: 12%;
  margin-bottom: 0%;
  flex-direction: row;
}

.ourCommitmentMainDiv > div {
  width: 30%;
  gap: 4%;
  /* height: 320px; */
  /* border: 1px solid #d6d6d6; */
  border-radius: 10px;
  /* margin-top: 4%; */
  /* margin-bottom: 2%; */
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ourCommitmentMainDiv > div:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: #f08034;
  color: white; */
}

.ourCommitmentMainDiv > div > div > img {
  /* height: 65%; */
  width: 40%;
  object-fit: cover;
  padding: 1%;
}
.productsTalentProfilesContentButton {
  color: #ef4c23;
  width: 50%;
  background-color: #ef4c23;
  color: white;
  height: 30px;
  border-radius: 5px;
}

.productsTalentProfilesContentButton:hover {
  background-color: white;
  border: 1px solid #ef4c23;
  color: #393939;
}
