.careerBannerMain {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  /* border: 2px solid red; */
}

.careerBannerImage {
  width: 100%;
  height: 100%;
  position: relative;
  /* border: 2px solid yellow; */
}

.careerBannerImage > img {
  height: 100%;
  width: 100%;
}

.careerBannerContent {
  width: 85%;
  position: absolute;
  top: 30%;
  left: 7%;
  color: white;
  /* border: 2px solid red; */
  text-align: center;
}

.careerBannerContent > h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.careerBannerContent > h1 > span {
  color: #ef4c23;
}

.careerBannerContent > hr {
  height: 1px;
  width: 75%;
  background-color: #d9d9d9;
  color: #d9d9d9;
  margin: 0;

  border: 1px solid #d9d9d9;
  outline: none;
}

.careerBannerContent > p {
  font-size: 20px;
  text-align: justify;
  margin-top: 5px;
}

.careerBannerContent > button {
  font-size: 18px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  cursor: pointer;

  padding: 10px 50px;
  border-radius: 50px;
  border: 2px solid #ef4c23;
  outline: none;
  background: #ef4c23;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.careerBannerContent > button:hover {
  background: #fff;
  color: #ef4c23;
}

@media  (max-width:480px){
  .careerBannerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    background-color: #f5f5f5;
    height: 100vh;
  }
  
  .careerBannerImage {
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 5%;
    align-items: center;
    /* border: 2px solid blue; */
    justify-content: center;
  }
  
  .careerBannerContent {
    width: 95%;
    top: 15%;
    left: 3%;
    height: auto;
    /* border: 2px solid red; */
  }
  
  .careerBannerContent > h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .careerBannerContent > h1 > span {
    color: #ef4c23;
  }
  
  .careerBannerContent > hr {
    height: 1px;
    width: 75%;
    background-color: #d9d9d9;
    color: #d9d9d9;
    margin: 0;
  
    border: 1px solid #d9d9d9;
    outline: none;
  }
  
  .careerBannerContent > p {
    font-size: 20px;
    text-align: justify;
    margin-top: 5px;
  }
  
  .careerBannerContent > button {
    font-size: 18px;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin-bottom: 25%;
    margin: auto;
    padding: 10px 50px;
    border-radius: 50px;
    border: 2px solid #ef4c23;
    outline: none;
    background: #ef4c23;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .careerBannerContent > button:hover {
    background: #fff;
    color: #ef4c23;
  }
}