.Trialmaindiv{
    /* border: 2px solid green; */
    color: white;
    text-align: center;
    background: url("https://bottom-funnel-product.s3.ap-south-1.amazonaws.com/Images/Analyticsoffeatureimage/bgback.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 4%;
    margin-bottom: 4%;
}
.Trialmaindivbutton{
    color: white;
    background-color: #ef4c23;
    width: 200px;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    border: none;

}
.Trialmaindivbutton:hover{
    color: #ef4c23;
    background-color: transparent;
    border: 1px solid #ef4c23;
}

.Trialmaindivbutton1{
    color: white;
    background-color: transparent;
    width: 200px;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #ef4c23;
    margin-left: 1%;

}
.Trialmaindivbutton1:hover{
    color: white;
    background-color: #ef4c23;
    /* border: 1px solid #ef4c23; */
}
@media (max-width:1024px) {
    .Trialmaindiv{
        /* border: 2px solid green; */
        color: white;
        text-align: center;
        background: url("https://bottom-funnel-product.s3.ap-south-1.amazonaws.com/Images/Analyticsoffeatureimage/bgback.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* padding-top: 40px;
        padding-bottom: 40px; */
        padding: 40px 20px 40px 20px ;
        margin-top: 4%;
    }
    .Trialmaindiv h2{
        font-size: 25px;
    }
    .Trialmaindivbutton{
        color: white;
        background-color: #ef4c23;
        width: 150px;
        border-radius: 10px;
        height: 40px;
        font-size: 18px;
        border: none;
    
    }
    .Trialmaindivbutton:hover{
        color: #ef4c23;
        background-color: transparent;
        border: 1px solid #ef4c23;
    }
    
    .Trialmaindivbutton1{
        color: white;
        background-color: transparent;
        width: 150px;
        border-radius: 10px;
        height: 40px;
        font-size: 18px;
        border: 1px solid #ef4c23;
        margin-left: 1%;
    
    }
    .Trialmaindivbutton1:hover{
        color: white;
        background-color: #ef4c23;
        /* border: 1px solid #ef4c23; */
    }
    
}