.logistictranport {
  width: 100%;
  height: 800px;
  /* border: 2px solid red; */
}
.logistictranportsub {
  width: 100%;
  height: 650px;
}
.sztransporty {
  width: 90%;
  margin-left: 6.5%;
  /* border: 2px solid red; */
}
.logistictranportdiv {
  width: 100%;
  height: 650px;
  background: url("/Images/logistic/bigrectangle.png");
  background-repeat: no-repeat;
  background-size: 100% 500px;
  /* border: 2px solid green; */
}
.sztransporttop {
  width: 90%;
  height: 250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  margin-top: 20px;
  /* border: 2px solid red; */
}
.sztransportbottom {
  width: 90%;
  margin: auto;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}
.szship {
  width: 30%;
  height: 200px;
  border-radius: 18px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  margin: auto;
  margin-bottom: 60px;
  /* border: 2px solid red; */
}

.szship > p {
    /* border: 2px solid red; */
    margin-top: 1%;
    font-size: 15px;
}

.szshipping {
  display: flex;
}

.delivery {
  width: 25%;
  height: 60px;
}

.delivery > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.szshipping > h5 {
  font-size: 17px;
  margin-top: 1%;
  padding: 6px;
}
