.unifiedsystemmainboxes{
    height: fit-content;
    margin-top: 2%;
    border-bottom: 20px solid #ef4c23;
}

.unifiedsystemmainboxes>h2{
    text-align: center;
}

.unifiedsystemdatamappingboxes{
    width: 90%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
}

.unifiedsystemdataindiv{
    margin-left: 2%;
    width: 100%;
    /* margin-top: 5%; */
    /* border: 2px solid red; */
}
.unifiedsystemdataindiv>h5{
    color: #ef4c23;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.unifiedsystemdataindiv>p{
    font-size: 17px;
    text-align: center;
 
}