.unifieducrmainboxes{
height: fit-content;
margin-top: 5%;
}

.unifieducrmainboxes>h2{
text-align: center;
}

.ucractiondatamappingbox{
width: 80%;
margin: auto;
margin-top: 3%;
display: flex;
justify-content: space-around;
/* border: 2px solid  red; */
}

.ucractiondatamappingbox>div{
width: 18%;
height: 180px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 20px;
/* border: 2px solid red; */
}

@media only screen and (min-width:0px) and (max-width:600px){

.unifieducrmainboxes{
height: fit-content;
margin-top: 5%;
}

.unifieducrmainboxes>h2{
text-align: center;
}

.ucractiondatamappingbox{
width: 90%;
margin: auto;
margin-top: 3%;
display: flex;
justify-content: space-around;
}

.ucractiondatamappingbox>div{
width: 25%;
height: 120px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 20px;
}




}
