.webDevServices {
  width: 100%;
}

.webdevTextServices {
  width: 80%;
  margin: 15px auto;
  text-align: center;
}

.devServicesFlex {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 35px;
  padding: 30px 0;
}

.spanText {
  color: #ef4c23;
}

.devServiceCard {
  width: 21%;
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.devServiceCard:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  transform: scale(1.1);
  /* transform: translateY(-15px); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.devServiceIcon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.devServiceIcon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.devServiceText > p {
  text-align: justify;
}

/* For Mobile screens */
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .webDevServices {
    width: 100%;
    background-color: #fff5f2;
    margin-top: -4%;
    position: relative;
  }
  .webdevTextServices {
    width: 90%;
    margin: 15px auto;
    text-align: center;
  }
  .webdevTextServices > p {
    text-align: justify;
  }
  .webdevTextServices > h1 {
    font-size: 25px;
  }
  .devServicesFlex {
    width: 90%;
    margin: auto;
    display: flex;
    /* align-items: stretch; */
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 35px;
    padding: 30px 0;
  }

  .devServiceCard {
    width: 100%;
    height: fit-content;
    /* border: 1px solid black ; */
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: white;
    height: fit-content;
  }
  .devServiceIcon {
    width: 60px;
    height: 60px;
    /* margin-bottom: 10px; */
    /* padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  }
  .devServiceText {
    height: fit-content;
    text-align: justify;
    padding: 2px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 900px) {
  .webDevServices {
    width: 100%;
    /* height: 500px; */
    /* background-color: green; */
  }

  .webdevTextServices {
    width: 80%;
    margin: 15px auto;
    text-align: center;
  }

  .webdevTextServices > p {
    text-align: justify;
  }

  .devServicesFlex {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 35px;
    padding: 30px 0;
  }

  .spanText {
    color: #ef4c23;
  }

  .devServiceCard {
    width: 40%;
    /* border: 1px solid black ; */
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    /* border: 5px solid green; */
    height: 350px;
  }

  .devServiceCard:nth-child(2) {
    width: 40%;
    /* border: 1px solid black ; */
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    /* border: 5px solid green; */
    height: 385px;
    margin-top: -2.5%;
    margin-left: 2%;
  }

  .devServiceCard:hover {
    cursor: pointer;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    transform: scale(1.1);
    /* transform: translateY(-15px); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .devServiceIcon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .devServiceIcon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .devServiceText > p {
    text-align: justify;
  }
}
