.educationsupporttextandborderbox {
  margin-bottom: 5%;
}

.educationsupporttextandborderbox > h2 {
  margin-left: 5%;
  font-size: 40px;
  font-weight: 500;
  line-height: 24px;
}

.educationsupporttextandtextingpara {
  display: flex;
  width: 100%;
  height: fit-content;
  /* border: 1px solid red; */
}

.educationsupportrighttboxingflexfortext {
  height: fit-content;
  width: 50%;
  margin-top: -1%;
  margin-left: 5%;
  text-align: justify;
}

.educationsupportrighttboxingflexfortext > p {
  font-size: 16px;
  line-height: 24px;
  vertical-align: baseline;
  font-weight: 400;
}

.educationsupportleftboxingflexforimage {
  height: 520px;

  width: 50%;
  margin-top: -5%;
  margin-right: 2%;
}

.educationsupportleftboxingflexforimage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .educationsupporttextandborderbox > h2 {
    font-size: 32px;
    text-align: center;
    margin: 0 0 3%;
  }

  .educationsupporttextandtextingpara {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .educationsupportrighttboxingflexfortext {
    width: 90%;
    margin: 0;
  }

  .educationsupportleftboxingflexforimage {
    width: 90%;
    margin: 0;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {
  .educationsupporttextandborderbox > h2 {
    text-align: center;
    margin: 0 0 3%;
  }

  .educationsupporttextandtextingpara {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .educationsupportrighttboxingflexfortext {
    width: 90%;
    margin: 0;
  }

  .educationsupportleftboxingflexforimage {
    width: 90%;
    margin: 0;
  }
}
