.NextgenMassagingmaindiv{
    /* border: 2px solid ; */
    margin-top: 1%;
}
.NextgenMassagingmaindivheading{
    text-align: center;
    width: 60%;
    margin: auto;
    /* padding: 2%; */
}
.NextgenMassagingmaindivcards{
    width: 90%;
    /* border: 1px solid lightgrey; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    

}
.NextgenMassagingmaindivcardsbox{
    /* border: 1px solid red; */
    width: 40%;
    height: 510px;
    padding: 1%;
    margin-top: 3%;
}
.NextgenMassagingmaindivcardsboximage{
    width: 65%;
    height: 300px;
    /* padding: 20px; */
    margin: auto;
    /* border: 2px solid; */
    margin-top: 5%;
}
.NextgenMassagingmaindivcardsboximage1{
    width: 50%;
    border: 2px solid;
}

@media  (max-width:1024px){
    .NextgenMassagingmaindiv{
        /* border: 2px solid ; */
        margin-top: 1%;
    }
    .NextgenMassagingmaindivheading{
        text-align: center;
        width: 95%;
        margin: auto;
        /* padding: 2%; */
    }
    .NextgenMassagingmaindivcards{
        width: 90%;
        /* border: 1px solid lightgrey; */
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* text-align: center; */
        
    
    }
    .NextgenMassagingmaindivcardsbox{
        /* border: 1px solid red; */
        width: 90%;
        height: 550px;
        padding: 1%;
        margin-top: 3%;
    }
    .NextgenMassagingmaindivcardsboximage{
        width: 85%;
        height: 300px;
        /* padding: 20px; */
        margin: auto;
        /* border: 2px solid; */
        margin-top: 5%;
    }
    .NextgenMassagingmaindivcardsboximage1{
        width: 50%;
        border: 2px solid;
    }
    
}