.NextgenMassagingmaindiv{
    /* border: 2px solid ; */
    margin-top: 1%;
}
.NextgenMassagingmaindivheading{
    text-align: center;
    width: 60%;
    margin: auto;
    /* padding: 2%; */
}
.NextgenMassagingmaindivcards{
    width: 85%;
    /* border: 1px solid lightgrey; */
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    

}
.NextgenMassagingmaindivcardsbox{
    /* border: 1px solid red; */
    width: 45%;
    height: 520px;
    padding: 1%;
    margin-top: 4%;
}
.NextgenMassagingmaindivcardsboximage{
    width: 63%;
    height: 320px;
    /* padding: 20px; */
    margin:5% auto;
    /* border: 2px solid; */
   
}
.NextgenMassagingmaindivcardsbox>h5{
    text-align: center;
}


@media  (max-width:1024px){
   
    .NextgenMassagingmaindivheading{
        text-align: center;
        width: 95%;
        margin: 6% auto;
       border: none;
    }
    .NextgenMassagingmaindivcards{
        width: 90%;
        /* border: 1px solid lightgrey; */
        margin: auto;
        
        flex-direction: column;
       
        
    
    }
    .NextgenMassagingmaindivcardsbox{
        /* border: 1px solid red; */
        width: 100%;
        height: max-content;
        margin-top: 4%;
        
        
    }
    
    .NextgenMassagingmaindivcardsboximage{
        width: 80%;
        height: 260px;
        /* border: 2px solid; */
    }
  
}