.engageCards {
  width: 85%;
  margin: auto;
  text-align: center;
  padding: 30px;
}

.engageCards>h1 {
  width: 75%;
  margin: auto;
}

.engagecardClass {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  column-gap: 20px;
  padding: 30px;
}

.engageCardInner {
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.engageCardInner>h5 {
  margin: 12% auto;
  color: #ef4c23;
}

.engageIcon {
  width: 60px;
  height: 60px;
  padding: 5px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.engageIcon>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* media query for mobile and tablet */
@media (max-width: 1024px) {
  .engageCards {
    width: 95%;
    padding: 0;
  }

  .engageCards>h1 {
    font-size: 25px;
    line-height: 28px;
  }

  .engagecardClass {
    width: 100%;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 20px 0;
  }

  .engageCardInner {
    width: 40%;
  }

  .engageIcon {
    height: 40px;
    width: fit-content;
  }

  .engageCardInner>h5 {
    font-size: 18px;
    margin: 5% 0;
  }

  .engageCardInner>p {
    font-size: 14px;
    margin: 0;
  }
}