.enterpriseBanner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enterBannerText {
  width: 50%;
  height: fit-content;
  margin: auto;
}

.enterBannerText>div {
  width: 90%;
  margin: auto;
}

.enterBannerText>div>button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 60px;
  background-color: #ef4c23;
  border-radius: 15px;
  border: 2px solid #ef4c23;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  margin-top: 5%;
  cursor: pointer;
}

.enterBannerText>div>button:hover {
  background-color: white;
  color: #ef4c23;
}

.enterBanner {
  width: 45%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  transform: rotateY(180deg);
  overflow: hidden;
}

.enterBanner>img {
  width: 105%;
  height: 100%;
  object-fit: contain;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .enterpriseBanner {
    flex-direction: column-reverse;
    height: inherit;
    padding: 20px 0;
  }

  .enterBannerText {
    width: 100%;
  }

  .enterBannerText>div {
    width: 95%;
    text-align: center;
  }

  .enterBannerText>div>h1 {
    font-size: 32px;
    line-height: 33px;
  }

  .enterBannerText>div>p {
    font-size: 14px;
    line-height: 18px;
  }

  .enterBannerText>div>button {
    font-size: 12px;
    padding: 8px 20px;
    margin-top: 10px;
  }

  .enterBanner {
    width: 100%;
  }
}