.deskService {
  width: 100%;
  margin: auto;
}

.enterpriseDeskService {
  width: 100%;
  height: 420px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enterpriseDeskServiceReverse {
  width: 100%;
  height: 420px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background: #fafafa;
  align-items: center;
}

.dropright {
  font-size: 30px;
  padding: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
}

.enterpriseContentSide {
  width: 40%;
  text-align: left;
  padding: 3% 1%;
}

.enterpriseContentSide>button {
  background-color: #ef4c23;
  padding: 5px 20px;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  font-size: 18px;
}

.enterpriseContentSide>h5 {
  color: #ef4c23;
  margin-top: 5%;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.enterpriseGifSide {
  width: 40%;
  height: 100%;
  padding: 2%;
}

.enterpriseGifSide>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

/* media query for mobiles and tablet devices */
@media (max-width: 1024px) {
  .enterpriseDeskService {
    height: inherit;
    flex-direction: column-reverse;
  }

  .enterpriseDeskServiceReverse {
    height: inherit;
    flex-direction: column-reverse;
  }

  .enterpriseContentSide {
    width: 90%;
  }

  .enterpriseContentSide>h2 {
    font-size: 25px;
    line-height: 28px;
    text-align: center;
  }

  .enterpriseContentSide>p {
    font-size: 14px;
    line-height: 20px;
  }

  .enterpriseContentSide>ul>li {
    font-size: 14px;
    line-height: 18px;
  }

  .enterpriseContentSide>h5 {
    font-size: 12px;
  }

  .dropright {
    font-size: 20px;
  }

  .enterpriseGifSide {
    width: 90%;
    height: fit-content;
  }
}