
.SMSTrailparent{
    background-image: url('/Images/sbm/background.png');
  
 
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-between;
    padding-bottom: 3%;
    padding-top: 2%;
    color: white;
 

}
.SMSTrailparent>h2{
    font-weight: 500;
    font-size: 40px;
   
}

.SMSTrailparent>p{
    font-weight: 450;
    font-size: 18px;
    
}
.SMSTrailparent>div{
   
    width: 25%;
    display: flex;
    margin-top: 1%;
   
}
.SMSTrailparent>div>button{
    width: 47%;
    height: 50px;
  font-size: 16px;
  border: 1px solid transparent;
    background-color: #04c357;
  color: white;
  border-radius: 20px;

}

.SMSTrailparent>div>button:hover{
    
  border: 1px solid #04c357;;
    background-color: white;
  color: #04c357;;
 

}
.SMSTrailparent>div>button:nth-child(2){
    margin-left: 6%;
}




@media(max-width:780px){

    .SMSTrailparent{
        padding: 20px 10px;
      
     
       
     text-align: center;
    
    }
   
    
    .SMSTrailparent>div{
       
        
        display: flex;
        flex-direction: column;
       
        align-items: center;
       
    }
  
    .SMSTrailparent>div>button{
        width: 200px;
       
      font-size: 18px;
      
     
    
    }
   
    .SMSTrailparent>div>button:nth-child(2){
       margin-left: 0%;
       margin-top: 10%;
    }
    
    
    
    
}