.communityBanner{
    /* border: 2px solid red; */
    width: 100%;
    height: 85vh;
    position: relative;
}
.communityHeading{
    position: absolute;
    /* border: 2px solid red; */
    color: #393939;
    top: 35%;
    width: 40%;
    right: 12%;
}
.communityHeading>h2{
    font-size: 55px;
    font-weight: 600;
}
.communityHeading>input{
    border: 1px solid #ef4c23;
    width: 80%;
    height: 55px;
    border-radius: 15px;
    padding-left: 10%;
    margin-top: 4%;
    position: relative;
    z-index: 0;
}
.communityHeading>i{
    position: absolute;
    z-index: 1;
    left: 5%;
    bottom: 7%;
    color: #ef4c23;
}
@media(max-width:480px){
    .communityBanner{
        /* border: 2px solid red; */
        width: 100%; 
        height: 150px;
        margin-bottom:4%;
        
    }
    .communityHeading{
      top: 15%;
    }
    .communityHeading>h2{
        font-size: 16px;
        font-weight: 500;
        
    }
    .communityHeading>input{
        border: 1px solid #ef4c23;
        width: 100%;
        font-size: 10px;
        text-align: center;
        height: auto;
        padding: 5px;
        padding-left: 20px;
        /* height: 55px; */
       
       
    }
    .communityHeading>i{
        position: absolute;
        z-index: 1;
        left: 3%;
        bottom: 2%;
        padding-left:4px;
        
        color: #ef4c23;
    }
}