.cannabiesadminpannelmainboxes{
    height: fit-content;
}

.cannbiesadminpannelmainboxsometextupper{
    height: fit-content;
    margin-top: 10%;
    margin-left: 4%;
}

.cannabiesadminpannelmainflexboxclass{
    height: fit-content;
    display: flex;
}

.cannabieasadminpannelleftbox{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    /* border: 2px solid red; */
    margin-left: 3%;
    /* margin-top: 2%; */
}

.cannabiesadminpannelmapperboxindivisyal{
    height:200px;
    width: 44%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1%;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
    /* border: 2px solid red; */
}

.cannabiesadminpannelmapperboxindivisyal:hover{
    transform: scale(1.02);
}

.cannabiesamadminpannelrightbox{
    width: 45%;
    margin-left: 1%;
    /* border: 2px solid red; */
    height: 460px;
    background: url("/Images/newcannabispage/bannesbackgrounds/Rectangle 4863.png");
}

.cannbiesamadminpannelrightboxinnerimage{
    height: 80%;
    width: 80%;
  
    margin: 8% 3% 3% 10%;
}

.cannbiesamadminpannelrightboxinnerimage >img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cannabieasadminpannelmapperboxindivisyalicon{
    height: 16%;
    width: 16%;
    
}

.cannabieasadminpannelmapperboxindivisyalicon >img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 10px;
}
.canabisadminpannelmapperboxindivisyaltxt>p{
    /* border: 2px solid red; */
    /* margin-top: 1%; */
    font-size: 14px;
}