.szcannabiswhychoose{
    width: 100%;
    /* background-color: blueviolet; */
    text-align: center;
    height: 300px;
}
.szcannabischoose{
    width: 90%;
    margin: auto;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
   
}
 
.szcannabischoose>div{
width:18%;
/* background-color: white; */
 margin-top: 40px;
 margin-left: 20px;
border-radius: 18px;
padding: 30px  ;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
height: 150px;
}
.szchoose>div>p{
    padding: 15px;
}