.szoverviewsection{
    width: 100%;
    /* background-color: blueviolet; */
    height: 200px;
    
}
.szoverviewsection>div{
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 10px 0px;
}
.szoverviewsection>div>h2{
    
    margin-top:20px;
}
.szoverviewbtn{
 
    padding:10px 60px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    background-color: #4d9c33;
    color:white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.szoverviewbtn:hover{
     color: #4d9c33;
     background-color:white;
}