.engagementQueryContainer {
  width: 90%;
  margin: 3% auto;

  background: #ef4c23;
  border-radius: 20px;
  color: white;
  padding: 2%;
  text-align: center;
}

.engagementQueryContainer > h1 {
  font-size: 35px;
  margin-top: 0;
}

.engagementQueryContainer > button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 50px;
  cursor: pointer;

  border-radius: 10px;
  border: none;
  outline: none;
  color: #ef4c34;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.engagementQueryContainer > button:hover {
  color: white;
  background: #ef4c34;
}
