/* Tool Delivery Admin */

.Tooladmin {
  width: 100%;
  height: 600px;
  /* background-color: aqua; */
}

.Tooladmin > h1 {
  margin-left: 5%;
  color: #5cacb2;
}

.tooladminsub {
  width: 100%;
  height: 500px;
  justify-content: space-between;
  margin: auto;
  margin-top: 2%;
  display: flex;
}
.tooladminleft {
  width: 50%;
  height: 500px;
  /* padding: 10px; */
  display: flex;
  background: url("/public/Images/tooldeliveryapp/Rectangle\ 4175.png");
  background-repeat: no-repeat;
  background-size: 100% 500px;
}
.tooladminright {
  width: 50%;
  margin-left: 1%;
  height: fit-content;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
}

.tooladminright > div {
  padding: 10px;
  margin: 1%;
  height: fit-content;
  width: 45%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.tooladminright > div:hover {
  background-color: #e1f9f6;
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tooladminright > div > h3 {
  font-size: 18px;
  /* border: 1px solid red; */
  margin-top: 0%;
}

.toolCustomerImage {
  width: 100%;
  height: 500px;
  text-align: right;
  /* margin-top: -5%; */
  /* margin-left: 10%; */
  /* padding-bottom: 5px; */
}

.toolCustomerImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
